.SettlementMainWrapper{
	width:100%;
	float:left;
	border:1px solid black;
}
.SettlementInnerWrapper{
	margin:0px auto;
	width:690px;


}
.SettlementWrapper{
	float:left;
	width:690px;
	padding:10px 0px;
	margin:10px 0px;
}
.SettlementMainHeading{
	font-size:15px;
	font-weight:bold;
	float:left;
	text-align:center;
	width:100%;
	line-height:25px;
}
.SettlementDate{
	font-size:12px;
	font-weight:bold;
	float:right;
	padding:15px 33px 15px 0px;
}
.SettlementFromAndTo{
	float: left;
    line-height: 20px;
    margin-left: 20px;
    text-align: center;
    width: 650px;
}
.SettlementFromText{
	float:left;
	font-size:12px;
	font-weight:bold;
}
.SettlementToText{
	float:right;
	font-size:12px;
	font-weight:bold;
	width:147px;
	text-align:left;
}
.SettlementContent{
	float: left;
    font-size: 12px;
    margin-left: 40px;
    width: 615px;
	padding:10px 0px;
	line-height:20px;
	text-align:justify;
}
.SettlementSalContentWrapper{
	float: left;
    font-size: 12px;
    width: 431px;
	padding:5px 0px;
	line-height:15px;
}
.textWithBold{
	font-weight:bold;
}
.SettlementSalary{
	float:left;
	font-weight:bold;
	font-size:11px;
}
.SettlementSalaryAmount{
	float:right;
	font-weight:bold;
	font-size:12px;
}
.SettlementSalHeading{
	width:500px;
	margin-left:30px;
	float:left;
}
.SettlementSalContent{
	float:left;
	width:200px;
}
.SettlementSalDetails{
	float:left;
	width:100%;
	line-height:20px;
}
.SettlementSalaryDetailsHeading{
	float:left;
	font-weight:bold;
	font-size:12px;
	width:126px;
}
.SettlementSalDetailsWrapper{
	float:left;
	width:500px;
	margin:10px 0px 10px 0px;
}
.SettlementSalAmount{
	font-size:12px;
	float:right;
}
.SettlementSalDeductions{
	font-size:12px;
	float:left;
	width:434px;
}
.SettlementSalAmountDetails{
	float:left;
	width:516px;
	line-height:20px;
	margin-left:40px;
}
.SettlementDeductionsHeading{
	font-size:13px;
	font-weight:bold;
	text-decoration:underline;
	float:left;
	width:100%;
	padding: 5px 0 5px 20px;
}
.SettlementAmountInWords{
	font-size:12px;
	font-weight:bold;
	float:left;
	margin-left:57px;
	width:100%;
	padding-top:5px;
}
.SettlementAdvisedMessage{
	float:left;
	font-size:12px;
	padding:0px 0px 30px 20px;
}
.SettlementSalaryDetails{
	margin:0px auto;
	width:431px;
}
.SettlementDatesWrapper{
	width:209px;
	float:left;
	margin-left:20px;
}
.SettlementSalaryBasicDetailsHeading{
	float:left;
	font-weight:bold;
	font-size:12px;
	width:100px;
}