<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Monthly Incentives Search</title>
</head>
<body>
<div th:fragment="basicSearchResult" xmlns:th="http://www.thymeleaf.org">
    <div th:if="${employeesList} != null AND ${employeesList.size()}>0" id="tableScrollbar">
        <div class="tableScrollbar">
        <table cellpadding="1" cellspacing="1" style="font-size:12px;"
               class="table table-bordered table-hover" id="tblCustomers">
            <tr style="background-color:#333333;color: #FFFFFF;padding: 50px" class="sticky">
                <th>S.No.</th>
                <th>EmpId</th>
                <th>Employee Name</th>
                <th>Designation</th>
                <th>Department</th>
                <th>DateOfJoin</th>
                <th>Basic</th>
                <th>HRA</th>
                <th>CON</th>
                <th>MED</th>
                <th>SPL</th>
                <th>OTHER</th>
                <th>TEL</th>
                <th>INT</th>
                <th>UNI</th>
                <th>GROSS</th>
            </tr>
            <tr style="background-color:#FFFFFF;color: #000000;padding: 50px"
                th:each="employee, status :${employeesList}">
                <td th:text="${status.count}"></td>
                <td th:text="${employee.empId}"></td>
                <td th:text="|${employee.firstName} ${employee.lastName}|"></td>
                <td th:text="${employee.designation}"></td>
                <td th:text="${employee.department}!=null ?${employee.department.department}:null"></td>
                <td th:text="${employee.joinDate}">09-09-2020</td>
                <th:block th:if="${employee.salary !=null}">
                    <td th:text="${employee.salary.basic}!=null ?${employee.salary.basic}:''"></td>
                    <td th:text="${employee.salary.hra}!=null ?${employee.salary.hra}:''"></td>
                    <td th:text="${employee.salary.conveyence}!=null ?${employee.salary.conveyence}:''"></td>
                    <td th:text="${employee.salary.medicalAllowance}!=null ?${employee.salary.medicalAllowance}:''"></td>
                    <td th:text="${employee.salary.specialAllowance}!=null ?${employee.salary.specialAllowance}:''"></td>
                    <td th:text="${employee.salary.otherAllowance}!=null ?${employee.salary.otherAllowance}:''"></td>
                    <td th:text="${employee.salary.telephoneAllowance}!=null ?${employee.salary.telephoneAllowance}:''"></td>
                    <td th:text="${employee.salary.internetAllowance}!=null ?${employee.salary.internetAllowance}:''"></td>
                    <td th:text="${employee.salary.uniformAllowance}!=null ?${employee.salary.uniformAllowance}:''"></td>
                    <td th:text="${employee.salary.grossSal}!=null ?${employee.salary.grossSal}:''"></td>
                </th:block>
            </tr>
        </table>
    </div>
    <div>
        <b>Export&nbsp;:&nbsp;</b>
        <button onclick="exportToExcel('tblCustomers','BasicSalaryDetails.xls')">Excel</button>
        <button onclick="exportToPDF('tblCustomers','BasicSalaryDetailsPDF')">PDF</button>
    </div>
    </div>
    <div style="font: 15pt 'Arial Black';color: #ff0000;"
         th:if="${employeesList}!=null  AND ${employeesList.size()}==0">
        Nothing found to display
    </div>
</div>
</body>
</html>