<div th:fragment="basicSearchResult" xmlns:th="http://www.thymeleaf.org">
    <div th:if="${employeesList} != null AND ${employeesList.size()}>0">
        <table cellpadding="1" cellspacing="1"
               class="table table-bordered table-responsive-lg table-hover">
            <tr style="background-color:#333333;color: #FFFFFF;padding: 50px">
                <th>S. No.</th>
                <th>EmpId</th>
                <th>Employee Name</th>
                <th>Desgination</th>
                <th>Department</th>
                <th>DOJ</th>
                <th>Basic</th>
                <th>HRA</th>
                <th>CON</th>
                <th>MED</th>
                <th>SPL</th>
                <th>OTHR</th>
                <th>TEL</th>
                <th>INT</th>
                <th>UNI</th>
                <th>Gross</th>
            </tr>
            <tr style="background-color:#FFFFFF;color: #000000;padding: 50px"
                th:each="employee, status :${employeesList}">
                <td th:text="${status.count}"></td>
                <td th:text="${employee.empId}"></td>
                <td th:text="|${employee.firstName} ${employee.lastName}|"></td>
                <td th:text="${employee.designation}"></td>
                <td th:text="${employee.department}!=null ?${employee.department.department}:null"></td>
                <td th:text="${employee.joinDate}">09-09-2020</td>
                <th:block th:if="${employee.salary !=null}">
                    <td th:text="${employee.salary.basic}!=null ?${employee.salary.basic}:''"></td>
                    <td th:text="${employee.salary.hra}!=null ?${employee.salary.hra}:''"></td>
                    <td th:text="${employee.salary.conveyence}!=null ?${employee.salary.conveyence}:''"></td>
                    <td th:text="${employee.salary.medicalAllowance}!=null ?${employee.salary.medicalAllowance}:''"></td>
                    <td th:text="${employee.salary.specialAllowance}!=null ?${employee.salary.specialAllowance}:''"></td>
                    <td th:text="${employee.salary.otherAllowance}!=null ?${employee.salary.otherAllowance}:''"></td>
                    <td th:text="${employee.salary.telephoneAllowance}!=null ?${employee.salary.telephoneAllowance}:''"></td>
                    <td th:text="${employee.salary.internetAllowance}!=null ?${employee.salary.internetAllowance}:''"></td>
                    <td th:text="${employee.salary.uniformAllowance}!=null ?${employee.salary.uniformAllowance}:''"></td>
                    <td th:text="${employee.salary.grossSal}!=null ?${employee.salary.grossSal}:''"></td>
                </th:block>
            </tr>
        </table>
    </div>
    <div style="font: 15pt 'Arial Black';color: #ff0000;"
         th:if="${employeesList}!=null  AND ${employeesList.size()}==0">
        Nothing found to display
    </div>
</div>