<div th:fragment="departmentResult" xmlns:th="http://www.thymeleaf.org">
    <div th:if="${departmentList} != null AND ${departmentList.size()}>0">

            <table cellpadding="1" cellspacing="1" class="table table-bordered table-responsive-lg table-hover">

                    <tr class="sticky">
                        <th>Department No</th>
                        <th>Department Name</th>
                        <th>Manager No</th>
                        <th>Location</th>
                        <th>Phone No</th>
                        <th>Edit</th>
                    </tr>
                    <tr style="background-color:#FFFFFF;color: #000000;padding: 50px"
                        th:each="department :${departmentList}">
                        <td th:text="${department.deptNo}"></td>
                        <td th:text="${department.department}"></td>
                        <td th:text="${department.mngrNo}"></td>
                        <td th:text="${department.location}"></td>
                        <td th:text="${department.phoneNo}"></td>
                        <td><a th:href="@{/department/edit/{id}(id=${department.id})}">Edit</a></td>
                    </tr>

            </table>

    </div>

    <div style="font: 15pt 'Arial Black';color: #ff0000;"
         th:if="${departmentList}!=null  AND ${departmentList.size()}==0">
        Nothing found to display
    </div>
</div>