<div th:fragment="header" xmlns:th="http://www.thymeleaf.org">
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="../../../static/css/header.css" rel="stylesheet" th:href="@{../../../static/css/header.css}">
    <div class="menu-bar">
        <div>
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#"><img src="../../../static/images/IE_Logo.png"
                                                          th:src="@{../../../static/images/IE_Logo.png}"></a>
                </div>
            </div>
            <div>
                <span style="margin-left:450px">Welcome </span>
                <span style="float:right">Last login: Jan 17, 2013</span>
                <span style="margin-left:370px">You have <span>0</span> notification</span>
            </div>
        </div>
        <br>
        <nav class="navbar navbar-custom">
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#"><i class="fa fa-home"></i>Home</a></li>
                        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Employee Details
                            <i
                                    class="fa fa-caret-down"></i></a>
                            <div class="dropdown-menu">
                                <a href="#">Update My Details</a>
                                <a href="#">Create Employee</a>
                                <a href="#">Search Employee</a>
                                <a href="#">Department</a>
                                <a href="#">Employee Status</a>
                            </div>
                        </li>
                        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Account
                            Department
                            <i class="fa fa-caret-down"></i></a>
                            <div class="dropdown-menu">
                                <a href="#">Salary by Individual</a>
                                <a href="#">E-Salary</a>
                                <a href="#">F & F Settlement</a>
                                <div class="dropdown-2"><a class="dropdown-toggle-2" data-toggle="dropdown" href="#">Salary
                                    Report <i class="fa fa-caret-right"></i></a>
                                    <div class="dropdown-menu-2">
                                        <a href="#">Salary History</a>
                                        <a href="#">Monthly Salary Report</a>
                                        <a href="#">Basic Salary Report</a>
                                        <a href="#">Bank Salary Statement</a>
                                    </div>
                                </div>
                                <div class="dropdown-2"><a class="dropdown-toggle-2" data-toggle="dropdown" href="#">Forms
                                    <i class="fa fa-caret-right"></i></a>
                                    <div class="dropdown-menu-2">
                                        <a href="#">PT</a>
                                        <a href="#">ESI</a>
                                        <a href="#">PF</a>
                                    </div>
                                </div>
                                <div class="dropdown-2"><a class="dropdown-toggle-2" data-toggle="dropdown" href="#">Incentives
                                    <i class="fa fa-caret-right"></i></a>
                                    <div class="dropdown-menu-2">
                                        <a href="#">Add Incentives</a>
                                        <a href="#">Reports</a>
                                    </div>
                                </div>
                                <div class="dropdown-2"><a class="dropdown-toggle-2" data-toggle="dropdown" href="#">Form16
                                    <i class="fa fa-caret-right"></i></a>
                                    <div class="dropdown-menu-2">
                                        <a href="#">IT Sections</a>
                                        <a href="#">Employee Savings</a>
                                        <a href="#">Form16 Generation</a>
                                        <a href="#">Saved Forms</a>
                                    </div>
                                </div>

                                <div><a href="#">Cheques</a></div>
                                <div><a href="#">IT Reports</a></div>
                            </div>
                        </li>
                        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">HR Department <i
                                class="fa fa-caret-down"></i></a>
                            <div class="dropdown-menu">
                                <a href="#">Polices</a>
                                <div class="dropdown-2"><a class="dropdown-toggle-2" data-toggle="dropdown" href="#">Leaves
                                    <i class="fa fa-caret-right"></i></a>
                                    <div class="dropdown-menu-2">
                                        <a href="#">Approve Leaves</a>
                                        <a href="#">Employee Leave Reports</a>
                                        <a href="#">All Employee Leave Reports</a>
                                        <a href="#">Add/Edit Leaves</a>
                                    </div>
                                </div>
                                <div><a href="#">Holiday List</a></div>
                            </div>
                        </li>
                        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Workshop <i
                                class="fa fa-caret-down"></i></a>
                            <div class="dropdown-menu">
                                <a href="#">Peripherals</a>
                                <a href="#">Inventory</a>
                            </div>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                    </ul>
                </div>
            </nav>
        </nav>
    </div>
</div>