<div th:fragment="leavesResult" xmlns:th="http://www.thymeleaf.org" >
    PL<b>:</b>
    <input class="inputfield" type="text" name="cl" th:field="${leavesForm.casualLeaves}">
    SL<b>:</b>
    <input class="inputfield" type="text" name="sl" th:field="${leavesForm.sickLeaves}">
    COM.L<b>:</b>
    <input class="inputfield" type="text" name="compLeaves" th:field="${leavesForm.compensatoryLeaves}">
    Previous Leaves<b>:</b>
    <input class="inputfield" type="text" name="prevLeaves" th:field="${leavesForm.previousYearLeaves}">
</div>