<div th:fragment="leavesResult" xmlns:th="http://www.thymeleaf.org" >
    PL<b>:
    <input class="inputfield" type="text" name="cl" th:field="${leavesForm.casualLeaves}" style="border-radius:5px;width:45px"></b>
    SL<b>:
    <input class="inputfield" type="text" name="sl" th:field="${leavesForm.sickLeaves}" style="border-radius:5px;width:45px"></b>
    COM.L<b>:
    <input class="inputfield" type="text" name="compLeaves" th:field="${leavesForm.compensatoryLeaves}" style="border-radius:5px;45px"></b>
    Previous Leaves<b>:
    <input class="inputfield" type="text" name="prevLeaves" th:field="${leavesForm.previousYearLeaves}" style="border-radius:5px;45px"></b>
</div>