<div xmlns:th="http://www.thymeleaf.org" th:fragment="peripheralResult">
    <div th:if="${peripheralList} != null AND ${peripheralList.size()}>0">
        <table cellpadding="1" cellspacing="1" class="table table-bordered"
               style="text-align: center;border: 1px solid black">
            <tr style="background-color:#333333;color: #FFFFFF;padding: 50px">
                <th>Peripheral Name</th>
                <th>Type</th>
                <th>Brand</th>
                <th>Model</th>
                <th>Serial No</th>
                <th>Year Of Purchase</th>
                <th>Warranty Date</th>
                <th>Users</th>
                <th>Status</th>
                <th>Edit</th>
            </tr>
            <tr style="background-color:#FFFFFF;color: #000000;padding: 50px"
                th:each="peripheral :${peripheralList}">
                <td th:text="${peripheral.peripheralName}"></td>
                <td th:text="${peripheral.type}"></td>
                <td th:text="${peripheral.brand}"></td>
                <td th:text="${peripheral.model}"></td>
                <td th:text="${peripheral.serialNumber}"></td>
                <td th:text="${peripheral.yearOfPurchase}"></td>
                <td th:text="${peripheral.warrantyDate}"></td>
                <td th:text="${peripheral.users}"></td>
                <td th:text="${peripheral.status}"></td>
                <td><a th:href="@{/peripheral/edit/{id}(id=${peripheral.id})}">Edit</a></td>
            </tr>
        </table>
    </div>

    <div style="font: 15pt 'Arial Black';color: #ff0000;"
         th:if="${departmentList}!=null  AND ${departmentList.size()}==0">
        Nothing found to display
    </div>
</div>