<div th:fragment="employeeSearchResult" xmlns:th="http://www.thymeleaf.org">
    <div th:if="${employeeForm} != null AND ${employeeForm.employeeList.size()}>0">

        <table cellpadding="1" cellspacing="1" class="table table-bordered table-responsive-lg table-hover">

            <tr style="background-color:#333333;color: #FFFFFF;padding: 50px">
                <th>Employee Id</th>
                <th>Employee Name</th>
                <th>Designation</th>
                <th>Department</th>
                <th>Status</th>
                <th>Action</th>

            </tr>
            <tr style="background-color:#FFFFFF;color: #000000;padding: 50px" th:each="employee :${employeeForm.employeeList}">
                <td th:text="${employee.empId}"></td>
                <td th:text="${employee.fullName}"></td>
                <td th:text="${employee.designation}"></td>
                <td th:text="${employee.department.department}"></td>
                <td th:text="${employee.empStatus}"></td>

                <td><a th:href="@{/editEmployee/{id}(id=${employee.id})}">Edit</a></td>
            </tr>

        </table>

    </div>

    <div style="font: 15pt 'Arial Black';color: #ff0000;"
         th:if="${employeeForm}!=null  AND ${employeeForm.employeeList.size()}==0">
        Nothing found to display
    </div>
</div>