<div th:fragment="statusSearchResult" xmlns:th="http://www.thymeleaf.org">
    <div th:if="${employeeForm} != null AND ${employeeForm.employeeList.size()}>0">
        <div class="tableScrollbar">

        <table cellpadding="1" cellspacing="1" class="table table-bordered table-responsive-lg table-hover">

            <tr style="background-color:#333333;color: #FFFFFF;padding: 50px" class="sticky">
                <th>Employee&nbsp;Id</th>
                <th>Employee&nbsp;Name</th>
                <th>Date&nbsp;Of&nbsp;Joined</th>
                <th>Date&nbsp;Of&nbsp;Birth</th>
            </tr>
            <tr style="background-color:#FFFFFF;color: #000000;padding: 50px" th:each="status :${employeeForm.employeeList}">
                <td th:text="${status.empId}"></td>
                <td th:text="${status.fullName}"></td>
                <td th:text="${status.joinDate}"></td>
                <td th:text="${status.dob}"></td>
            </tr>
        </table>
        </div>
        <div>
            <b>Export&nbsp;:&nbsp;</b>
            <button onclick="exportToExcel('tblCustomers','employeeStatus.xls')">Excel</button>
            <button onclick="exportToPDF('tblCustomers','employeeStatusPDF')">PDF</button>
        </div>

    </div>

    <div style="font: 15pt 'Arial Black';color: #ff0000;"
         th:if="${employeeForm}!=null  AND ${employeeForm.employeeList.size()}==0">
        Nothing found to display
    </div>
</div>