<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
       table,td{
           border:1px solid black;
           border-collapse:collapse;
        }
        td {
           padding: 5px;
         }
         body{
           font-size:80%;
         }
         .gray{
            background-color: #a6a6a6;
          }
          .no-border-bottom {
               border-bottom: solid 1px #FFF;
          }
    </style>
</head>
<body>
<table id="1" width="70%" align="center">


    <tr>
        <td colspan="5" align="center">Form16</td>

    </tr>
    <tr>
        <td colspan="5" align="center">[See rule 31(1)(a)]</td>

    </tr>
    <tr>
        <td colspan="5" align="center">Certificate under section 203 of the Income-tax Act, 1961 for Tax deducted at
            source on Salary
        </td>

    </tr>
    <tr>
        <td colspan="2" align="center">
            Name and address of the Employer
        </td>
        <td colspan="3" align="center">
            Name and Address of the Employee
        </td>
    </tr>
    <tr>
        <td colspan="2" align="center">
            0
        </td>
        <td colspan="3" align="center">
            #NA
        </td>
    </tr>
    <tr>
        <td colspan="2" align="center" style="padding:30px">
            0
        </td>
        <td colspan="3" align="center">
            #NA
        </td>

    </tr>
   <tr>
        <td colspan="1"align="center">
            PAN of the Deductor
        </td>
        <td colspan="1" align="center">
            TAN of the Deductor
        </td>
        <td colspan="3"align="center">
            PAN of the Employee
        </td>
    </tr>
    <tr>
        <td colspan=2"align="center">
            PAN of the Deductor
        </td>
        <td colspan="1" width="200px" align="center">
            Assessment&nbsp;Year
        </td>
        <td colspan="2"align="center">
            Period with the employer
        </td>
    </tr>
    <tr>
        <td rowspan="3" colspan=2" align="center">
              0
        </td>
        <td rowspan="3" width="100px" align="center">
           2020-2021
        </td>
        <td colspan=1"align="center">
            from
        </td>
        <td colspan=1" align="center">
            to
        </td>
    </tr>
    <tr>

    </tr>
    <tr>


        <td>ref</td>
        <td>ref</td>

    </tr>
    <tr>
        <td colspan="5" align="center">::1</td>
    </tr>
    <tr>
        <td colspan="5" align="center">PART B (Annexure)</td>
    </tr>
    <tr>
        <td colspan="5" >Details of Salary Paid and any other income and tax deducted</td>
    </tr>
    <tr>
        <td colspan="2"></td>
        <td>RS</td>
        <td>RS</td>
        <td>RS</td>
    </tr>
    <tr>
        <td  colspan="2"> 1. Gross Salary</td>
        <td></td>
        <td></td>
        <td></td>

    </tr>
    <tr>
        <td  colspan="2"> (a) Salary as per provisions contained in sec. 17(1)</td>
        <td>#NA</td>
        <td></td>
        <td></td>

    </tr>
    <tr>
        <td  colspan="2"> (b) Value of perquisites u/s 17(2) (as per Form No. 12BA, wherever
            applicable)</td>
        <td></td>
        <td></td>
        <td></td>

    </tr>
    <tr>
        <td  colspan="2"> (c) Profits in lieu of salary under section 17(3)(as per Form No. 12BA,
            wherever applicable
        </td>
        <td></td>
        <td></td>
        <td></td>

    </tr>
    <tr>
        <td  colspan="2"> (d) Total</td>
        <td></td>
        <td>#NA</td>
        <td></td>

    </tr>
    <tr>
        <td  colspan="2"> empty</td>
        <td></td>
        <td></td>
        <td></td>

    </tr>
    <tr>
        <td  colspan="2"> 2. Less: Allowance to the extent exempt U/s 10</td>
        <td></td>
        <td></td>
        <td></td>

    </tr>
    <tr>
        <td  colspan="2"> Allowance</td>

        <td></td>
        <td></td>
        <td></td>

    </tr>
    <tr>
        <td  colspan="1"> HRA</td>

        <td>#NA</td>
        <td></td>
        <td></td>
        <td></td>

    </tr><tr>
    <td  colspan="1"> LTA</td>

    <td>#NA</td>
    <td></td>
    <td></td>
    <td></td>

</tr>
    <tr>
    <td  colspan="1"> STANDARD DEDUCTION</td>

    <td>#NA</td>
    <td></td>
    <td></td>
    <td></td>

</tr>
    <tr>
        <td  colspan="1"> OTHER EXEMTIONS (SPECIFY)</td>

        <td>#NA</td>
        <td></td>
        <td></td>
        <td></td>

    </tr>
    <tr>
        <td  colspan="2">-</td>

        <td></td>
        <td></td>
        <td></td>


    </tr>
    <tr>
        <td  colspan="2"> empty</td>
        <td></td>
        <td>#NA</td>
        <td></td>

    </tr>
    <tr>
        <td  colspan="1"> 3. Balance (1-2)</td>

        <td></td>
        <td></td>
        <td></td>
        <td></td>

    </tr><tr>
    <td  colspan="1"> 4. Deductions :</td>

    <td></td>
    <td></td>
    <td></td>
    <td></td>

</tr><tr>
    <td  colspan="1"> (a) Entertainment allowance</td>

    <td></td>
    <td></td>
    <td></td>
    <td></td>

</tr><tr>
    <td  colspan="1"> (b) Tax on employment</td>

    <td>#NA</td>
    <td></td>
    <td></td>
    <td></td>

</tr>
    <tr>
        <td  colspan="1"> 5. Aggregate of 4(a) and (b)</td>

        <td></td>
        <td></td>
        <td></td>
        <td></td>

    </tr>
    <tr>
        <td  colspan="1"> 6. Income chargebale under the head 'Salaries' (3-5)</td>

        <td></td>
        <td></td>
        <td></td>
        <td></td>

    </tr>

    <tr>
        <td  colspan="1"> empty</td>

        <td>#NA</td>
        <td></td>
        <td></td>
        <td></td>

    </tr>
    <tr>
        <td  colspan="1"> Income</td>

        <td>#NA</td>
        <td></td>
        <td></td>
        <td></td>

    </tr>
    <tr>
        <td  colspan="1"> House property</td>

        <td>#NA</td>
        <td></td>
        <td></td>
        <td></td>

    </tr>
    <tr>
        <td  colspan="1"> Income from other sources (part time job)</td>

        <td>#NA</td>
        <td></td>
        <td></td>
        <td></td>

    </tr><tr>
    <td  colspan="1">Income from Capital Gains</td>

    <td>-</td>
    <td></td>
    <td></td>
    <td></td>

</tr>
    <tr>
        <td  colspan="1"> income from Bussiness</td>

        <td>-</td>
        <td></td>
        <td></td>
        <td></td>

    </tr>
    <tr>
        <td  colspan="2"> empty</td>

        <td>-</td>
        <td></td>
        <td></td>


    </tr>
    <tr>
        <td  colspan="2"> 8. Gross Total income (6+7)</td>

        <td>-</td>
        <td></td>
        <td></td>


    </tr>
    <tr>
        <td  colspan="2"></td>

        <td>-</td>
        <td></td>
        <td></td>


    </tr>
    <tr>
        <td  colspan="5"> to be cotinued..2 </td>



    </tr>

</table>

            <!--second table/page-->
<br>
<br>

<table width="70%" align="center">
    <tr>
        <td align="center" colspan="4">2</td>
    </tr>
    <tr>
        <td class="no-border-bottom">9.&nbsp;Deductions&nbsp;under&nbsp;Chapter&nbsp;VI&nbsp;A</td>
        <td class="gray"></td>
        <td class="gray"></td>
        <td class="gray"></td>
    </tr>
    <tr>
        <td class="no-border-bottom">&nbsp;&nbsp;&nbsp;&nbsp;(A)&nbsp;sections&nbsp;80C,&nbsp;80CCC&nbsp;and&nbsp;80CCD</td>
        <td class="gray"></td>
        <td class="gray"></td>
        <td class="gray"></td>
    </tr>
    <tr>
        <td class="no-border-bottom" style="padding:10px"></td>
        <td class="gray"></td>
        <td class="gray"></td>
        <td class="gray"></td>
    </tr>
    <tr>
        <td class="no-border-bottom">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(a)&nbsp;Section&nbsp;80&nbsp;C</td>
        <td width="200px" class="gray"></td>
        <td align="center">Gross Amount</td>
        <td align="center">Deductible&nbsp;Amount</td>
    </tr>
    <tr>
        <td class="no-border-bottom" style="padding:10px"></td>
        <td class="gray"></td>
        <td class="gray"></td>
        <td class="gray"></td>
    </tr>
    <tr>
        <td class="no-border-bottom">(i)&nbsp;Housing&nbsp;loan&nbsp;principal&nbsp;amt&nbsp;repaid&nbsp;this&nbsp;year</td>
        <td class="gray"></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td class="no-border-bottom">(ii)&nbsp;Stmp&nbsp;duty/Registration/other&nbsp;expenses&nbsp;for&nbsp;house&nbsp;purchase</td>
        <td class="gray"></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td class="no-border-bottom">&nbsp;(iii)&nbsp;Provident&nbsp;Fund&nbsp;as&nbsp;deducted&nbsp;from&nbsp;salary</td>
        <td class="gray"></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td class="no-border-bottom">(iv) Life Insurance Premium Paid</td>
        <td class="gray"></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td class="no-border-bottom">(v) PPF/NSS (Public Provident Fund)</td>
        <td class="gray"></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td class="no-border-bottom">(vi) ELSS Equity Fund<br></td>
        <td class="gray"></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td class="no-border-bottom">(vii) NSC Investments (National Saving Certificate)</td>
        <td class="gray"></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td class="no-border-bottom">(viii) Tution Fee</td>
        <td class="gray"></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td class="no-border-bottom">(ix) FD with schedule Bank/Post office (for 5yrs or more)</td>
        <td class="gray"></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td class="no-border-bottom">(x) Amount deposited in Sukanya Samridhi A/c</td>
        <td class="gray"></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td class="no-border-bottom">(xi) Mutual Funds (pension and ELSS scheme)</td>
        <td class="gray"></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td class="no-border-bottom">(xii) Other Deductions</td>
        <td class="gray"></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td class="no-border-bottom">(b) Section 80CCD (1B)</td>
        <td class="gray"></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Total&nbsp;Deductible&nbsp;Amount&nbsp;Under&nbsp;Section&nbsp;80C,&nbsp;80CCC&nbsp;and&nbsp;80CCD</td>
        <td class="gray"></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td class="no-border-bottom">Note:&nbsp;1.&nbsp;Aggregate&nbsp;amount&nbsp;deductible&nbsp;under&nbsp;section&nbsp;80&nbsp;C&nbsp;shall&nbsp;not&nbsp;exceed&nbsp;one&nbsp;lakh&nbsp;fifty&nbsp;rupees.</td>
        <td class="gray"></td>
        <td class="gray"></td>
        <td class="gray"></td>
    </tr>
    <tr>
        <td class="no-border-bottom"></td>
        <td style="padding:10px" class="gray"></td>
        <td class="gray"></td>
        <td class="gray"></td>
    </tr>
    <tr>
        <td>2. Aggregate amount deductible under the three sections, i.e. 80C,80CCC,80CCD shall not exceed one
            lakh fifty rupees.</td>
        <td class="gray"></td>
        <td class="gray"></td>
        <td class="gray"></td>
    </tr>
    <tr>
        <td class="no-border-bottom">(B) other sections (e.g. 80E,80G etc.) under Chapter VI-A</td>
        <td>Gross Amount</td>
        <td>Qualifying&nbsp;Amount</td>
        <td>Deductible&nbsp;Amount</td>
    </tr>
    <tr>
        <td style="padding:10px"></td>
        <td class="gray"></td>
        <td class="gray"></td>
        <td class="gray"></td>
    </tr>
    <tr>
        <td class="no-border-bottom">(i) section 80D (Medical insurance premium & Expenses)</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td class="no-border-bottom">(ii) section 80DD (Medical Expenses Disability)</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td class="no-border-bottom">(iii) section 80DDB (Treatment of Specified disease)</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td class="no-border-bottom">(iv) section 80E (Interest on Education Loans)</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td class="no-border-bottom">(v) section 80EE (Interest on House Loans)</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td class="no-border-bottom">(vi) section 80G (Donations)</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td class="no-border-bottom">(vii) section 80GG (Rent Paid when not Receiving HRA)</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td class="no-border-bottom">(viii) section 80GGA (Donation for Scientific research)</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td class="no-border-bottom">(ix) section 80GGC (Donation to Political Party)</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td class="no-border-bottom">(x) section 80TTA (Interest on Savings Bank A/c.)</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td style="padding:10px" class="no-border-bottom"></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td class="no-border-bottom">10. Aggregate of deductible amount under Chapter VI A</td>
        <td class="gray"></td>
        <td class="gray"></td>
        <td></td>
    </tr>
    <tr>
        <td style="padding:10px" class="no-border-bottom"></td>
        <td class="gray"></td>
        <td class="gray"></td>
        <td class="gray"></td>
    </tr>
    <tr>
        <td class="no-border-bottom">11.Total Income (8-10)</td>
        <td class="gray"></td>
        <td class="gray"></td>
        <td></td>
    </tr>
    <tr>
        <td class="no-border-bottom"> 12. Tax payble on total income</td>
        <td class="gray"></td>
        <td class="gray"></td>
        <td></td>
    </tr>
    <tr>
        <td class="no-border-bottom">13. Less: Additional Tax credit u/s.87A</td>
        <td class="gray"></td>
        <td class="gray"></td>
        <td></td>
    </tr>
    <tr>
        <td class="no-border-bottom">14. Tax after rebate</td>
        <td class="gray"></td>
        <td class="gray"></td>
        <td></td>
    </tr>
    <tr>
        <td class="no-border-bottom">15. Education cess @ 4% (on tax computed at S.No. 14)</td>
        <td class="gray"></td>
        <td class="gray"></td>
        <td></td>
    </tr>
    <tr>
        <td class="no-border-bottom">16. Tax Payable (14+15)</td>
        <td class="gray"></td>
        <td class="gray"></td>
        <td></td>
    </tr>
    <tr>
        <td class="no-border-bottom">17. Less: Relief under section 89 (attach details)</td>
        <td class="gray"></td>
        <td class="gray"></td>
        <td></td>
    </tr>
    <tr>
        <td class="no-border-bottom">18. Net Tax Payable (16-17)</td>
        <td class="gray"></td>
        <td class="gray"></td>
        <td></td>
    </tr>
    <tr>
        <td class="no-border-bottom">19. TDS deducted at source</td>
        <td class="gray"></td>
        <td class="gray"></td>
        <td></td>
    </tr>
    <tr>
        <td>20. Tax Payable/Refund at year end to the Income-Tax</td>
        <td class="gray"></td>
        <td class="gray"></td>
        <td></td>
    </tr>
    <tr>
        <td colspan="4" align="center">Verification</td>
    </tr>
    <tr>
        <td colspan="5" style="height:50px">#N/A</td>
    </tr>
    <tr>
        <td width="5px">Place</td>
        <td>Hyderabad</td>
        <td colspan="3"></td>
    </tr>
    <tr>
        <td class="no-border-bottom">Date:</td>
        <td rowspan="2">20.20.20</td>
        <td colspan="2" align="center">0</td>

    </tr>
    <tr>
        <td></td>
        <td colspan="2" align="center">0</td>
    </tr>





</table>

                           <!--third table/page-->
<br>
<br>
<table width="70%" align="center" style="border-collapse:collapse">
    <tr>
        <td align="center" colspan="5" style="padding:20px"><b>FORM NO. 12BA</b><br>[See rule 26A(2)(b)]<br>
            Statement showing particulars of perquisites, other fringe bene9its or amenities and pro9its in lieu o f salary with value thereof</td>
    </tr>
    <tr>
        <td width="30px">1.Name&Address&nbsp;of&nbsp;employer</td>
        <td><b>:</b></td>
        <td>0</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>2.TAN</td>
        <td width="10px"><b>:</b></td>
        <td>0</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>3.&nbsp;TDS&nbsp;Assessment&nbsp;Range&nbsp;of&nbsp;the&nbsp;employer</td>
        <td><b>:</b></td>
        <td>0</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>4. Name Employee</td>
        <td><b>:</b></td>
        <td>0</td>
        <td></td>
    </tr>
    <tr>
        <td>&nbsp;&nbsp;Designation of the Employee</td>
        <td><b>:</b></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>&nbsp;&nbsp;PAN of employee</td>
        <td><b>:</b></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>5. Is the employee a director or a person with
            substantial interest in the company (where the
            employer is a company)</td>
        <td><b>:</b></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>6. Income under the head “Salaries” of the
            employee (other than from perquisites)</td>
        <td><b>:</b></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>7. Financial year</td>
        <td><b>:</b></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>8. Valuation of Perquisites</td>
        <td><b>:</b></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>

<table width="70%" align="center" class="table">
    <tr>
        <td style="height:40px;border:1px solid black" align="center">S.NO</td>
        <td style="border:1px solid black" align="center">Nature of perquisites
            (see rule 3)</td>
        <td style="border:1px solid black" align="center">Value of perquisite as
            per rules (Rs.)</td>
        <td style="border:1px solid black" align="center">Amount, if any, recovered from
            the employee (Rs.)</td>
        <td style="border:1px solid black" align="center">Amount of perquisite
            chargeable to tax
            Col. (3) - Col. (4) (Rs.)</td>
    </tr>
    <tr>
        <td align="center" style="border:1px solid black">(1)</td>
        <td align="center" style="border:1px solid black">(2)</td>
        <td align="center" style="border:1px solid black">(3)</td>
        <td align="center" style="border:1px solid black">(4)</td>
        <td align="center" style="border:1px solid black">(5)</td>
    </tr>
    <tr>
        <td style="border:1px solid black">1. Accommodation</td>
        <td style="border:1px solid black"></td>
        <td style="border:1px solid black"></td>
        <td style="border:1px solid black"></td>
        <td style="border:1px solid black"></td>
    </tr>
    <tr>
        <td style="border:1px solid black">2. Cars/Other automotive</td>
        <td style="border:1px solid black"></td>
        <td style="border:1px solid black"></td>
        <td style="border:1px solid black"></td>
        <td style="border:1px solid black"></td>
    </tr>
    <tr>
        <td style="border:1px solid black">3. Sweeper, gardener, watchman or personal attendant</td>
        <td style="border:1px solid black"></td>
        <td style="border:1px solid black"></td>
        <td style="border:1px solid black"></td>
        <td style="border:1px solid black"></td>
    </tr>
    <tr>
        <td style="border:1px solid black">4. Gas, electricity, water</td>
        <td style="border:1px solid black"></td>
        <td style="border:1px solid black"></td>
        <td style="border:1px solid black"></td>
        <td style="border:1px solid black"></td>
    </tr>
    <tr>
        <td style="border:1px solid black">5. Interest free or concessional loans</td>
        <td style="border:1px solid black"></td>
        <td style="border:1px solid black"></td>
        <td style="border:1px solid black"></td>
        <td style="border:1px solid black"></td>
    </tr>
    <tr>
        <td style="border:1px solid black">6. Holiday expenses</td>
        <td style="border:1px solid black"></td>
        <td style="border:1px solid black"></td>
        <td style="border:1px solid black"></td>
        <td style="border:1px solid black"></td>
    </tr>
    <tr>
        <td style="border:1px solid black">7. Free or concessional travel</td>
        <td style="border:1px solid black"></td>
        <td style="border:1px solid black"></td>
        <td style="border:1px solid black"></td>
        <td style="border:1px solid black"></td>
    </tr>
    <tr>
        <td style="border:1px solid black">8. Free meals</td>
        <td style="border:1px solid black"></td>
        <td style="border:1px solid black"></td>
        <td style="border:1px solid black"></td>
        <td style="border:1px solid black"></td>
    </tr>
    <tr>
        <td style="border:1px solid black">9. Free education</td>
        <td style="border:1px solid black"></td>
        <td style="border:1px solid black"></td>
        <td style="border:1px solid black"></td>
        <td style="border:1px solid black"></td>
    </tr>
    <tr>
        <td style="border:1px solid black">10. Gifts, vouchers, etc.</td>
        <td style="border:1px solid black"></td>
        <td style="border:1px solid black"></td>
        <td style="border:1px solid black"></td>
        <td style="border:1px solid black"></td>
    </tr>
    <tr>
        <td style="border:1px solid black">11. Credit card expenses</td>
        <td style="border:1px solid black"></td>
        <td style="border:1px solid black"></td>
        <td style="border:1px solid black"></td>
        <td style="border:1px solid black"></td>
    </tr>
    <tr>
        <td style="border:1px solid black">12. Club expenses</td>
        <td style="border:1px solid black"></td>
        <td style="border:1px solid black"></td>
        <td style="border:1px solid black"></td>
        <td style="border:1px solid black"></td>
    </tr>
    <tr>
        <td style="border:1px solid black">13. Use of movable assets by employees</td>
        <td style="border:1px solid black"></td>
        <td style="border:1px solid black"></td>
        <td style="border:1px solid black"></td>
        <td style="border:1px solid black"></td>
    </tr>
    <tr>
        <td style="border:1px solid black">14. Transfer of assets to employees</td>
        <td style="border:1px solid black"></td>
        <td style="border:1px solid black"></td>
        <td style="border:1px solid black"></td>
        <td style="border:1px solid black"></td>
    </tr>
    <tr>
        <td style="border:1px solid black">15. Value of any other benefit/amenity/service/privilege</td>
        <td style="border:1px solid black"></td>
        <td style="border:1px solid black"></td>
        <td style="border:1px solid black"></td>
        <td style="border:1px solid black"></td>
    </tr>
    <tr>
        <td style="border:1px solid black">16. Stock options (non-qualified options)</td>
        <td style="border:1px solid black"></td>
        <td style="border:1px solid black"></td>
        <td style="border:1px solid black"></td>
        <td style="border:1px solid black"></td>
    </tr>
    <tr>
        <td style="border:1px solid black">17. Other benefits or amenities</td>
        <td style="border:1px solid black"></td>
        <td style="border:1px solid black"></td>
        <td style="border:1px solid black"></td>
        <td style="border:1px solid black"></td>
    </tr>
    <tr>
        <td style="border:1px solid black">18. Total value of perquisites</td>
        <td style="border:1px solid black"></td>
        <td style="border:1px solid black"></td>
        <td style="border:1px solid black"></td>
        <td style="border:1px solid black"></td>
    </tr>
    <tr>
        <td style="border:1px solid black">19. Total value of proLits in lieu of salary as per section 17(3)</td>
        <td style="border:1px solid black"></td>
        <td style="border:1px solid black"></td>
        <td style="border:1px solid black"></td>
        <td style="border:1px solid black"></td>
    </tr>
</table>
<table align="center" width="70%">
    <tr>
        <td>9. Details of tax</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>&nbsp;&nbsp;&nbsp;(a) Tax deducted from salary of the employee under section 192(1)</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>&nbsp;&nbsp;&nbsp;(b) Tax paid by employer on behalf of the employee under section 192(1A)</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>&nbsp;&nbsp;&nbsp;(c) Total tax paid</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>&nbsp;&nbsp;&nbsp;(d) Date of payment into Government treasury</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td colspan="5" align="center" style="height:20px"><b>DECLARATION BY EMPLOYER</b></td>
    </tr>
    <tr>
        <td colspan="5" style="height:60px">I, 0, Son of 0 working in the capacity of 0 do hereby declare on behalf of 0 that the information given above is based on the books of account, documents and other relevant
            records or information available with us and the details of value of each such perquisite
            are in accordance with section 17 and rules framed thereunder and that such information is true and corre</td>
    </tr>
</table>
<table align="center" width="70%" class="table">
    <tr>
        <td style="border:1px solid black" width="25%">Place:</td>
        <td style="border:1px solid black" width="25%">Hyderabad</td>
        <td colspan="3" style="border:1px solid black">Signature of the person responsible for deduction of tax</td>
    </tr>
    <tr>
        <td class="no-border-bottom">Date:</td>
        <td rowspan="2" style="border:1px solid black">20.20.20</td>
        <td colspan="2" align="center" style="border:1px solid black">0</td>

    </tr>
    <tr>
        <td style="border:1px solid black"></td>
        <td colspan="2" align="center" style="border:1px solid black">0</td>
    </tr>

</table>

</body>
</html>