<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <TITLE>yana internal</TITLE>
    <META CONTENT="text/html; charset=UTF-8" HTTP-EQUIV="Content-Type">
</head>
<BODY>
<table bgcolor="#7D3B03" height="500" width="100%">
    <tr>
        <td>
            <table height="81" width="100%">
                <tr>
                    <td bgcolor="#FFFFFF">
                        <img src="http://localhost:8080/yanainternal/Images/logo3.png" style="border: medium none;"/>
                    </td>
                </tr>
            </table>

            <table height="326" width="100%">
                <tr>
                    <td style="font-weight: bold;color: #FFFFFF">
                        Your Password has been reset.Please check the new password below one.
                    </td>
                </tr>
                <tr bgcolor="#FFFFFF">
                    <td>
                        <table align="center" bgcolor="#FFFFFF" cellpadding="3" cellspacing="1"
                               height="117" style="border:1px solid black;" width="441">
                            <tr>
                                <td align="center" style="font:bold 15px Arial;color: #F79910;">
                                    User Name:
                                </td>
                                <td align="left" style="font:15px Arial;color: #666666;">
                                    [[${user.userName}]]
                                </td>
                            </tr>
                            <tr>
                                <td align="center" style="font:bold 15px Arial;color: #F79910;">
                                    Password:
                                </td>
                                <td align="left" style="font:15px Arial;color: #F79910;">
                                    [[${newPassword}]]
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <div align="center" style="color: #FFFFFF">
                <p>[[${currentYear}]] &copy; Indian Ealge Pvt. Ltd.</p>
            </div>
        </td>
    </tr>
</table>
</BODY>
</html>