<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<head >
    <title>Add Incentive</title>
</head>
<body>
<header th:insert="html/fragment/header :: header"></header>
<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-2 sidenav">
        </div>
        <div class="col-sm-8 text-left">
            <div class="jumbotron">
                <div class="container">
                    <form action="/incentive/save" id="IncentiveForm" name="IncentiveForm" method="post" th:action="@{/incentive/save}" th:object="${incentiveForm}">
                        <div class="Heading">Add Incentives</div>
                        <div class="row">
                            <span style="color: #008000;margin-left: 40%;font:  12pt arial;padding-top: 30px" th:if="${success}!=null" th:text="${success}"></span>
                            <div class="col-md-6 col-sm-12 col-xs-10">
                                <table width="100%">
                                    <tr>
                                        <td>Date <span style="color: #ff0000">*</span></td>
                                        <td><b>:</b></td>
                                        <td style="padding:5px"><input style=" float:left; border: 1px solid #ff9900;" id="incentiveDate" name="incentiveDate" width="200px" th:field="*{incentiveDate}"/>
                                            <script>$('#incentiveDate').datepicker({ uiLibrary: 'bootstrap' }); </script>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div>
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-10">
                                    <div id="addTable">
                                        <table width="100%" id="incentiveTable">
                                            <tr>
                                                <td>Employee Id <span style="color: #ff0000">*</span></td>
                                                <td colspan="2" style="padding:10px">Incentive Amount <span style="color: #ff0000">*</span></td>
                                            </tr>
                                            <tr>
                                                <td style="padding:5px">
                                                    <select style="width: 200px;height: 23px;border-radius:5px" th:field="*{incentivesVOList[0].employeeVO.Id}" id="employeeId">
                                                        <option th:each="employeeVO : *{employeeVOList}" th:value="${employeeVO.Id}" th:text="${employeeVO.empId}" value="a">1</option>
                                                    </select>
                                                </td>
                                                <td><input name="incentive_amount" type="text" style="width: 200px;height: 23px;" th:field="*{incentivesVOList[0].incentiveAmount}" onkeypress="return allowRealNo(event,this.value)" maxlength="12" >
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8 col-sm-12 col-xs-10">
                                <div style="float:right">
                                    <table width="100%">
                                        <tr>
                                            <td style="padding:10px">
                                                <button class="submitButton" onclick="addRow()" type="button">
                                                    <b>Add</b>
                                                </button>
                                            </td>
                                            <td style="padding:10px">
                                                <button class="submitButton" onclick="removeRow()" type="button">
                                                    <b>Remove</b>
                                                </button>
                                            </td>
                                            <td style="padding:10px">
                                                <button class="submitButton" type="submit">
                                                    <b>Submit</b>
                                                </button>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </form>

                </div>
            </div>

        </div>
    </div>
</div>
<footer th:insert="html/fragment/footer :: footer"></footer>
</body>

</html>
