<!DOCTYPE html>
<head>
    <title>Add Incentive</title>
    <script>
function appendTable(){

    var tableRow="<table name='remove' width='100%'><tr><td style='padding:5px'><select style='width: 200px;height: 23px;border-radius:5px'><option value=''>--SELECT--</option><option value=''>IEPL079</option><option value=''>IEPL0518</option></select></td><td><input name='incentive_amount' type='text' style='width: 200px;height: 23px;'> </td></tr></table>";
    $("#addTable").append(tableRow);
}
function removeTable(){
var tableName=$('#addTable table:last').attr('name');
                        if(tableName=="remove"){
                        $("#addTable table:last").remove();
                        }
}



    </script>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<body>
<header th:insert="html/fragment/header :: header"></header>
<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-2 sidenav">
        </div>
        <div class="col-sm-8 text-left">
            <div class="jumbotron">
                <div class="container">
                    <form action="">
                        <div class="Heading">Add Incentives</div>
                        <div class="row">
                            <div class="col-md-6 col-sm-12 col-xs-10">
                                <div>
                                    <table width="100%">
                                        <tr>
                                            <td>Date <span style="color: #ff0000">*</span></td>
                                            <td><b>:</b></td>
                                            <td style="padding:5px"><input
                                                    style=" float:left; border: 1px solid #ff9900;" id="datepicker"
                                                    width="200px" name="datepicker"/>
                                                <script>$('#datepicker').datepicker({ uiLibrary: 'bootstrap' }); </script>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-10">
                                    <div id="addTable">
                                        <table width="100%" name="constant">
                                            <tr>
                                                <td>Employee Id <span style="color: #ff0000">*</span></td>
                                                <td colspan="2" style="padding:10px">Incentive Amount <span
                                                        style="color: #ff0000">*</span></td>
                                            </tr>
                                            <tr>
                                                <td style="padding:5px">
                                                    <select style="width: 200px;height: 23px;border-radius:5px">
                                                        <option value="">--SELECT--</option>
                                                        <option value="">IEPL079</option>
                                                        <option value="">IEPL0518</option>
                                                    </select>
                                                </td>

                                                <td><input name="incentive_amount" type="text"
                                                           style="width: 200px;height: 23px;" onkeypress="return allowRealNo(event,this.value)" maxlength="12">
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8 col-sm-12 col-xs-10">
                                <div style="float:right">
                                    <table width="100%">
                                        <tr>
                                            <td style="padding:10px">
                                                <button class="submitButton" onclick="appendTable()" type="button">
                                                    <b>Add</b>
                                                </button>
                                            </td>
                                            <td style="padding:10px">
                                                <button class="submitButton" onclick="removeTable()" type="button">
                                                    <b>Remove</b>
                                                </button>
                                            </td>
                                            <td style="padding:10px">
                                                <button class="submitButton" onclick="$('form').submit();"
                                                        type="button">
                                                    <b>Submit</b>
                                                </button>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </form>

                </div>
            </div>

        </div>
    </div>
</div>
<footer th:insert="html/fragment/footer :: footer"></footer>
</body>

</html>
