<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!doctype html>
<head>
    <title>Add Incentive</title>
    <style type="text/css">
            .sel_op {
                width: 250px;
                font-size: 15px;
                text-align: center;
                color: red;
                background-color: #fff2e6;
            }

            .table_text_style {
                font-size: 14px;
            }

            .input_style {
                width: 250px;
                height: 20px;
                margin-top: 3px;
            }



    </style>
</head>

<body>
<header th:insert="html/fragment/header :: header"></header>
<div class="form-page">
    <form action="/">
        <div class="container">
            <div class="Heading">Add Incentives</div>
            <div class="row">
                <div class="col-md-12 col-sm-5 col-xs-1">
                    <div style="padding-bottom:50px;">
                        <table>
                            <tr>
                                <th>Date<span style="color: red;">*</span></th>
                                <td><b>:</b></td>
                                <td><input style=" float:left; border: 1px solid #ff9900;" id="datepicker"
                                           width="200px" name="datepicker"/>
                                    <script>$('#datepicker').datepicker({ uiLibrary: 'bootstrap' }); </script>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-5 col-xs-1">
                    <div style="float: left; ">
                        <table>
                            <tr>
                                <th>Employee ID<span style="color: red;">*</span></th>
                                <td width="40px"><b>:</b></td>

                                <td>
                                    <select>
                                        <option value="">--SELECT--</option>
                                        <option value="">IEPL079</option>
                                        <option value="">IEPL0518</option>
                                    </select>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div style="float: left; padding-left:50px;">
                        <table>
                            <tr>
                                <th colspan="2">Incentive Amount<span style="color: red;">*</span></th>

                                <td width="40px"><b>:</b></td>

                                <td><input name="incentive_amount" type="text"></td>

                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-5 col-xs-1">
                    <div class="row">
                        <div class="col-md-5 col-sm-1 ">
                            <div>
                                <div style="padding-top:50px;">
                                    <div style="float: left;">
                                        <button class="submitButton" onclick="alert('Add Incentive!')"
                                                type="button"><b>Add</b></button>
                                    </div>
                                    <div style="margin-left: 100px;">
                                        <button class="submitButton" onclick="alert('Remove Incentive!')"
                                                type="button"><b>Remove</b>
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-5 col-sm-1 ">
                            <div>
                                <div style="margin-left: 120px;padding-top:50px;">
                                    <button class="submitButton" onclick="alert('form Submit!')"
                                            type="button"><b>Submit</b>
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        </form>
</div>
<footer th:insert="html/fragment/footer :: footer"></footer>

</body>

</html>


<!--
<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Add Incentives</title>
    <style type="text/css">
        th, td {
             padding: 15px;
             }

    </style>
</head>

<body>
<header th:insert="html/fragment/header :: header"></header>
 <div class="form-page">
    <form action="/">
        <div class="Heading">Add Incentives</div>
        <div style="padding-top:5px">
            <table style="width:100%">

                <tr>
                    <th>Date<span style="color: red;">*</span></th>
                        <td><b>:</b>
                           <input style=" float:left; border: 1px solid #ff9900;" id="datepicker" width="200px"
                               name="datepicker"/>
                            <script>$('#datepicker').datepicker({ uiLibrary: 'bootstrap' }); </script>
                       </td>
                </tr>
                <tr>
                     <th>Employee ID<span style="color: red;">*</span></th>
                         <td><b>:</b>
                            <select>
                               <option value="">&#45;&#45;SELECT&#45;&#45;</option>
                                <option value="">IEPL079</option>
                                 <option value="">IEPL0518</option>
                            </select>
                          </td>
                </tr>
                <tr>
                    <th colspan="2">Incentive Amount<span style="color: red;">*</span></th>
                    <td><b>:</b><input name="incentive_amount" type="text"></td>

                </tr>
                <tr>
                    <td>
                        <button class="submitButton" onclick="alert('Add Incentive!')" type="button"><b>Add</b></button>
                        <button class="submitButton" onclick="alert('Remove Incentive!')" type="button"><b>Remove</b>
                        </button>
                    </td>
                    <td>
                        <button class="submitButton" onclick="alert('form Submit!')" type="button"><b>Submit</b>
                        </button>
                    </td>
                </tr>
            </table>
        </div>


    </form>
 </div>
    <footer th:insert="html/fragment/footer :: footer"></footer>

</body>
</html>-->
