<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>All Employee Leave Reports</title>
</head>
<body>
<header th:insert="html/fragment/header :: header"></header>
<div class="form-page">
    <form action="/">
        <div class="container">
            <div class="Heading">Employee's Leave Report</div>
            <div class="row" style="margin-top:10px;">
                <div class="col-md-4">
                    <span>From </span>
                    <span style="color: red">*</span><b>:</b>
                    <div>
                        <input style=" float:left; border: 1px solid #ff9900;" id="datepicker1" width="200px"
                               name="datepicker"/>
                        <script>$('#datepicker1').datepicker({ uiLibrary: 'bootstrap' });</script>
                    </div>
                </div>
                <div class="col-md-4">
                    <span>To </span>
                    <span style="color: red">*</span><b>:</b>
                    <div>
                        <input style=" float:left; border: 1px solid #ff9900;" id="datepicker" width="200px"
                               name="datepicker"/>
                        <script>$('#datepicker').datepicker({ uiLibrary: 'bootstrap' }); </script>
                    </div>
                </div>
                <div class="col-md-4">
                    <div style="margin-top:20px;">
                        <button type="button" class="submitButton" onclick="alert('Search')">Search</button>
                    </div>
                </div>

            </div>
        </div>


    </form>
</div>
<footer th:insert="html/fragment/footer :: footer"></footer>
</body>
</html>