<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <head>
        <title>All Employees Leave Reports</title>
    </head>
<body>
<header th:insert="html/fragment/header :: header"></header>
<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-lg-2 sidenav">
        </div>
        <div class="col-lg-8 text-left">
            <div class="jumbotron">
                <div class="container">
                    <form action="/allEmployeeLeaveReport" name="allEmployeeLeaveReportForm" id="allEmployeeLeaveReportForm" method="post" th:action="@{/allEmployeeLeaveReport}">
                        <div class="Heading">Employee's Leave Report</div>
                        <div class="row">
                            <div class=" col-lg-4  col-md-12 col-sm-12 col-xs-12">
                                <table>
                                    <tr>
                                        <td> From</td>
                                        <td width="30px;">
                                            <span style="color: red">*</span>
                                        <td>
                                        <td width="20px"><b>:</b></td>
                                        <td>
                                            <input style=" float:left; border: 1px solid #ff9900;" id="datepicker" width="200px" name="fromDate"/>
                                            <script>$('#datepicker').datepicker({ uiLibrary: 'bootstrap' });</script>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class=" col-lg-4 col-md-12 col-sm-12 col-xs-12">
                                <table>
                                    <tr>
                                        <td width="20px"> To</td>
                                        <td>
                                            <span style="color: red">*</span>
                                        <td>
                                        <td width="20px"><b>:</b></td>
                                        <td>
                                            <input style=" float:left; border: 1px solid #ff9900;" id="datepicker1" width="200px" name="toDate"/>
                                            <script>$('#datepicker1').datepicker({ uiLibrary: 'bootstrap' });
                                            </script>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class=" col-lg-4 col-md-12 col-sm-12 col-xs-12">
                                <button type="button" class="submitButton" onclick="searchAllEmployeeLeaveReport()">Search</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div id="allEmployeeLeaveReportResult"></div>
            </div>
        </div>
    </div>
</div>
<footer th:insert="html/fragment/footer :: footer"></footer>
</body>

</html>