<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Approve Leave</title>
    <style type="text/css">
			.Heading{
				font-size: 20px;
			    color: #ff751a;
		        border-bottom: 1px solid #CCCCCC;
			    padding-bottom: 15px;
                padding-top: 15px;
                padding-left:15px;
                margin: 0px 10px 0px 10px;
			}
			.form-page{
				width: 990px;
                min-height: 455px;
                border-radius: 9px;
                box-shadow: 10px 10px 8px  #cc8500;
                border: 2px solid orange;
                background-color:#FFFAF5;
                left: calc(25% - 280px/2);
			    position: absolute;
			    color: black;
			}
			.Type_leaves {
				width: 49px;
				height: 18px;
				float: left;
				text-align: center;
				font-size: 15px;
				color: #666666;
				margin-right: 14px;

			}
			.submitButton{
				 padding:5px;
                 border: 2px solid #ff9900;
                 border-radius: 8px;
                 cursor:pointer;
                 width:100px;
                float:right;
			}
			.submitButton:hover{
				background-color: white;
				box-shadow: 0 8px 6px 0 #ff9933;

			}




    </style>

</head>
<body>
<header th:insert="html/fragment/header :: header"></header>
<div class="form-page">
    <form action="/">
        <div class="Heading">Approve Leave</div>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div>
                        <div>
                            <span>Employee ID <span style="color:red;font-size:15px"> *</span> <b>:</b></span>
                            <span> <select name="id" style="width: 250px;height: 23px;">

										<option value="YSPL1324">YSPL1324</option>
										<option value="YSPL1321">YSPL1321</option>
									</select>
								</span>
                        </div>
                        <div><span>Leave Type&nbsp<span style="color:red;font-size:15px"> *</span> <b>:</b></span>
                            <span> <select name="id"
                                           style="width: 250px;height: 23px; margin-top: 10px; margin-left: 5px;">

									<option value="Casual Leave">Casual Leave</option>
									<option value="Sick Leave">Sick Leave</option>
									<option value="Compensatory Leave">Compensatory Leave</option>
									<option value="Maternity Leave">Maternity Leave</option>
									<option value="LOP inc Holidays">LOP inc Holidays</option>
									<option value="LOP 1/2 Day">LOP 1/2 Day</option>
									<option value="Half Day Leave">Half Day Leave</option>
									<option value="Comp. Leave Half Day">Comp. Leave Half Day</option>
									<option value="Marriage Leave inc Holidays">Marriage Leave inc Holidays</option>
									<option value="Marriage Leave">Marriage Leave</option>
								</select>
							</span>
                        </div>
                    </div>
                    <div style="margin-top:20px;">
                        <span> Absent From </span>
                        <span style="color:red;font-size:15px"> *</span> <b>:</b>
                        <div style="margin-right:250px; width:200px;float:right;">
                            <input style=" float:left; border: 1px solid #ff9900;" id="datepicker" width="200px"
                                   name="datepicker"/>
                            <script>
								$('#datepicker').datepicker({ uiLibrary: 'bootstrap' });




                            </script>
                        </div>

                    </div>


                    <div style="margin-top:20px;">
                        <span>To </span>
                        <span style=" margin-left: 65px"><span
                                style="color:red;font-size:15px"> *</span> <b>:</b></span>
                        <div style="margin-right:250px; width:200px;float:right;">

                            <input style=" float:left; border: 1px solid #ff9900;" id="datepicker1" width="200px"
                                   name="datepicker"/>
                            <script>
								$('#datepicker1').datepicker({ uiLibrary: 'bootstrap' });





                            </script>
                        </div>
                    </div>

                    <div style="margin-top:20px;">
						<span>
							<span>Leave Days &nbsp;&nbsp<b>:</b></span>
							<span style="margin-left: 10px;">
								<input type="" name="">
							</span>
						</span>
                    </div>


                    <div style="margin-top: 10px;">

                        <span class="Type_leaves" style="margin-top: 15px;">Type<b
                                style="margin-left:50px;">:</b></span>
                        <div style="margin-left:100px;">
                            <div class="Type_leaves" style="font-size:12px">CL</div>
                            <div class="Type_leaves" style="font-size:12px">SL</div>
                            <div class="Type_leaves" style="font-size:12px">C.Off</div>
                            <div class="Type_leaves" style="font-size:12px">LOP</div>
                        </div>
                        <div style="position: absolute;top: 92%;left: 15%;margin-left:30px;">
                            <div class="Type_leaves">
                                <select>
                                    <option value="0">00</option>
                                    <option value="0.5">0.5</option>
                                    <option value="1">01</option>
                                    <option value="2">02</option>
                                    <option value="3">03</option>
                                    <option value="4">04</option>
                                    <option value="5">05</option>
                                    <option value="6">06</option>
                                    <option value="7">07</option>
                                    <option value="8">08</option>
                                    <option value="9">09</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                </select>
                            </div>
                            <div class="Type_leaves">
                                <select>
                                    <option value="0">00</option>
                                    <option value="0.5">0.5</option>
                                    <option value="1">01</option>
                                    <option value="2">02</option>
                                    <option value="3">03</option>
                                    <option value="4">04</option>
                                    <option value="5">05</option>
                                    <option value="6">06</option>
                                    <option value="7">07</option>
                                    <option value="8">08</option>
                                    <option value="9">09</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                </select>
                            </div>
                            <div class="Type_leaves">
                                <select>
                                    <option value="0">00</option>
                                    <option value="0.5">0.5</option>
                                    <option value="1">01</option>
                                    <option value="2">02</option>
                                    <option value="3">03</option>
                                    <option value="4">04</option>
                                    <option value="5">05</option>
                                    <option value="6">06</option>
                                    <option value="7">07</option>
                                    <option value="8">08</option>
                                    <option value="9">09</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                </select>
                            </div>
                            <div class="Type_leaves">
                                <select>
                                    <option value="0">00</option>
                                    <option value="0.5">0.5</option>
                                    <option value="1">01</option>
                                    <option value="2">02</option>
                                    <option value="3">03</option>
                                    <option value="4">04</option>
                                    <option value="5">05</option>
                                    <option value="6">06</option>
                                    <option value="7">07</option>
                                    <option value="8">08</option>
                                    <option value="9">09</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div style="position: absolute;top: 111%">
                        <span style="float: left;">Note <b style="margin-left:50px">:</b></span>&nbsp;
                        <textarea rows="3" cols="33"></textarea>

                        <div>
							<span>
                                <button type="button" class="submitButton"
                                        onclick="alert('Submit')"><b>Submit</b></button>
							</span>
                        </div>

                    </div>

                </div>
                <div class="col-md-6">
                    <div style="margin-top: 5px; margin-left: 10px;">
                        <div class="Type_leaves" style="margin-top: 5px;">Leave Balance<b>:</b></div>
                        <div class="Type_leaves" style="font-size:12px">CL</div>
                        <div class="Type_leaves" style="font-size:12px">SL</div>
                        <div class="Type_leaves" style="font-size:12px">C.Off</div>
                        <!-- <div class="Type_leaves" style="width: 900px;height: 30px;"> -->
                        <div style="position: absolute;top: 85%;left: 15%;">
                            <div class="Type_leaves">
                                <input type="text" readonly style="width:50px;height:25px">
                            </div>
                            <div class="Type_leaves">
                                <input type="text" readonly style="width:50px;height:25px">
                            </div>
                            <div class="Type_leaves">
                                <input type="text" readonly style="width:50px;height:25px">
                            </div>
                        </div>
                    </div>

                </div>
            </div><!--Row-->
        </div><!--Container-->
    </form>
</div>
<footer th:insert="html/fragment/footer :: footer"></footer>
</body>

</html>