<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Approve Leave</title>
    <script src="../static/js/custom.js" th:src="@{js/custom.js}" type="text/javascript"></script>
</head>

<body>
<header th:insert="html/fragment/header :: header"></header>
<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-2 sidenav">
        </div>
        <div class="col-sm-8 text-left">
            <div class="jumbotron">
                <div class="container">
                    <form action="/approveLeave" id="approveLeaveForm" name="approveLeaveForm" th:action="@{/approveLeave}" th:object="${leaveApproveForm}"
                          method="post">
                        <div class="Heading">Approve Leave</div>
                        <div class="row">
                            <span style="color: #008000;margin-left: 40%;font:  12pt arial;padding: 50px"
                                  th:if="${success}!=null" th:text="${success}"></span>
                            <div class="col-md-6 col-sm-12 col-xs-10" style="border-right: 2px dotted #bbba86; ">
                                <div>
                                    <table width="100%" class="table_text_style table-sm">
                                        <tr>
                                            <td style="padding:5px">
                                                Employee&nbsp;ID
                                            </td>

                                            <td>
                                                <span style="float: right;margin-right:10px; "><b>:</b></span>
                                            </td>
                                            <td>
                                                <select name="id" class="selectOption" onchange="getLeaveBalance()" th:field="*{empId}">
                                                    <option th:each="empId : ${employeeIds}" th:value="${empId}">[[${empId}]]</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Leave &nbsp;Type
                                            </td>

                                            <td>
                                                <span style="float: right;margin-right:10px;"><b>:</b></span>
                                            </td>
                                            <td>
                                                <select class="selectOption" th:field="*{leaveType}">
                                                    <option value="Casual Leave">Casual Leave</option>
                                                    <option value="Sick Leave">Sick Leave</option>
                                                    <option value="Compensatory Leave">Compensatory Leave</option>
                                                    <option value="Maternity Leave">Maternity Leave</option>
                                                    <option value="LOP inc Holidays">LOP inc Holidays</option>
                                                    <option value="LOP 1/2 Day">LOP 1/2 Day</option>
                                                    <option value="Half Day Leave">Half Day Leave</option>
                                                    <option value="Comp. Leave Half Day">Comp. Leave Half Day
                                                    </option>
                                                    <option value="Marriage Leave inc Holidays">Marriage Leave inc
                                                        Holidays
                                                    </option>
                                                    <option value="Marriage Leave">Marriage Leave</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td> Absent&nbsp;From</td>
                                            <td>
                                                <span style="float: right;margin-right:10px; "><b>:</b></span>
                                            </td>
                                            <td><input style="  border: 1px solid #ff9900;" id="datepicker"
                                                       width="180px" name="datepicker" th:field="*{fromDate}"/>
                                                <script>$('#datepicker').datepicker({ uiLibrary: 'bootstrap' });

                                                </script>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td> To</td>

                                            <td>
                                                <span style="float: right;margin-right:10px; "><b>:</b></span>
                                            </td>
                                            <td>
                                                <input style="border: 1px solid #ff9900;" id="datepicker1" width="180px"
                                                       name="datepicker" th:field="*{toDate}"/>
                                                <script>$('#datepicker1').datepicker({ uiLibrary: 'bootstrap' });

                                                </script>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td> Leave&nbsp;Days</td>

                                            <td>
                                                <span style="float: right;margin-right:10px; "><b>:</b></span>
                                            </td>
                                            <td>
                                                <input type="text" name="leavedays" id="leavedays"
                                                       th:field="*{totalNumberOfAbsentDays}"/>
                                            </td>
                                        </tr>
                                    </table>


                                    <div>
                                            <span class="Type_leaves"><b>Type</b><span
                                                    style="margin-left:75px;">:</span></span>
                                        <div style="float: right; margin-right:70px">
                                            <table width="100%">
                                                <tr>
                                                    <td>CL</td>
                                                    <td>SL</td>
                                                    <td>C.Off</td>
                                                    <td>LOP</td>
                                                </tr>
                                                <tr>
                                                    <td><select th:field="*{casualLeave}">
                                                        <option value="0">00</option>
                                                        <option value="0.5">0.5</option>
                                                        <option value="1">01</option>
                                                        <option value="2">02</option>
                                                        <option value="3">03</option>
                                                        <option value="4">04</option>
                                                        <option value="5">05</option>
                                                        <option value="6">06</option>
                                                        <option value="7">07</option>
                                                        <option value="8">08</option>
                                                        <option value="9">09</option>
                                                        <option value="10">10</option>
                                                        <option value="11">11</option>
                                                        <option value="12">12</option>
                                                    </select></td>
                                                    <td><select th:field="*{sickLeave}">
                                                        <option value="0">00</option>
                                                        <option value="0.5">0.5</option>
                                                        <option value="1">01</option>
                                                        <option value="2">02</option>
                                                        <option value="3">03</option>
                                                        <option value="4">04</option>
                                                        <option value="5">05</option>
                                                        <option value="6">06</option>
                                                        <option value="7">07</option>
                                                        <option value="8">08</option>
                                                        <option value="9">09</option>
                                                        <option value="10">10</option>
                                                        <option value="11">11</option>
                                                        <option value="12">12</option>
                                                    </select></td>
                                                    <td><select th:field="*{compensatoryLeave}">
                                                        <option value="0">00</option>
                                                        <option value="0.5">0.5</option>
                                                        <option value="1">01</option>
                                                        <option value="2">02</option>
                                                        <option value="3">03</option>
                                                        <option value="4">04</option>
                                                        <option value="5">05</option>
                                                        <option value="6">06</option>
                                                        <option value="7">07</option>
                                                        <option value="8">08</option>
                                                        <option value="9">09</option>
                                                        <option value="10">10</option>
                                                        <option value="11">11</option>
                                                        <option value="12">12</option>
                                                    </select></td>
                                                    <td><select th:field="*{lop}">
                                                        <option value="0">00</option>
                                                        <option value="0.5">0.5</option>
                                                        <option value="1">01</option>
                                                        <option value="2">02</option>
                                                        <option value="3">03</option>
                                                        <option value="4">04</option>
                                                        <option value="5">05</option>
                                                        <option value="6">06</option>
                                                        <option value="7">07</option>
                                                        <option value="8">08</option>
                                                        <option value="9">09</option>
                                                        <option value="10">10</option>
                                                        <option value="11">11</option>
                                                        <option value="12">12</option>
                                                    </select></td>

                                                </tr>
                                            </table>


                                        </div>
                                    </div>
                                    <div class="Type_leaves">
                                        <div style="margin-top: 30px">
                                            <label>Note
                                                <span><b>:</b></span>
                                                <textarea rows="3" cols="25" th:field="*{note}" style="margin-left:120px"></textarea></label>
                                        </div>
                                        <div>
                                            <button type="submit" class="submitButton" ><b>Submit</b></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12 col-xs-10">
                                <div id="leaveBalanceResult"></div>
                            </div>
                        </div>
                        <!--Row-->
                    </form>
                </div>
                <!--Container-->
            </div>
        </div>
    </div>

</div>
<footer th:insert="html/fragment/footer :: footer"></footer>
</body>

</html>