<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Basic Salary Details</title>

</head>
<body>
<header th:insert="html/fragment/header :: header"></header>
<div class="form-page">
    <form action="/">
        <div class="container">
            <div class="Heading" style="padding-left:5px">Basic Salary Details</div>
            <div class="row">
                <div class="col-md-10">
                    <div>
                        <table>
                            <tr>
                                <td>Employee Status</td>
                                <td><b>:</b></td>
                                <td>
                                    <select id="sel_op" class="inputBoxStyle">
                                        <option label="All" value="all">All</option>
                                        <option label="Resigned" value="resigned">Resigned</option>
                                        <option label="Relieved" value="relieved">Relieved</option>
                                        <option label="Working" value="working">Working</option>
                                    </select>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div style="float:right;margin-right:200px;">
                        <button type="button" class="submitButton" onclick="alert('Search')"><b>Search</b>
                        </button>
                    </div>

                </div>
            </div>
            <div class="Heading" style="float:left">Search Results</div>
            <div class="row">
                <div class="col-md-10">
                    <table class="table table-bordered">
                        <tr>
                            <td></td>
                        </tr>

                    </table>
                </div>
            </div>
        </div>
    </form>


</div>

<footer th:insert="html/fragment/footer :: footer"></footer>
</body>
</html>

