<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Chequess</title>
    <head>
<body>
<header th:insert="html/fragment/header :: header"></header>
<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-lg-2 sidenav">
        </div>
        <div class="col-lg-8 text-left">
            <div class="jumbotron">

                <div class="container">
                    <form action="saveChequeDetails" id="chequeForm" method="post" name="chequeForm"
                          th:action="@{saveChequeDetails}" th:object="${chequeDetailsForm}">

                        <div class="Heading">Cheque Details</div>

                        <div class="row">
                            <div class="col-sm-12 col-xs-12 col-md-6">
                                <div>
                                    <table width="100%" class="table-sm table_text_style">
                                        <tr>
                                            <td width="146px">Cheque Date</td>
                                            <td><b>:</b></td>
                                            <td><input style=" float:left; border: 1px solid #ff9900;" id="datepicker"
                                                       width="173px" name="datepicker" th:field="*{chequeDetails.chequeDate}"/>
                                                <script>$('#datepicker').datepicker({ uiLibrary: 'bootstrap' }); </script></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-12 col-xs-10">
                                <div>
                                    <table width="100%" class="table-sm table_text_style">
                                        <tr>
                                            <td>Amount</td>
                                            <td><b>:</b></td>
                                            <td><input th:field="*{chequeDetails.amount}"
                                                       type="text"/></td>
                                        </tr>
                                        <tr>
                                            <td>Status</td>
                                            <td><b>:</b></td>
                                            <td><select th:field="*{chequeDetails.status}" name="id" class="selectOption">
                                                <option label="select" value="select">select</option>
                                                <option th:value="'Issued'" th:text="issued">issued</option>
                                                <option th:value="'Issued'" th:text="cancel">cancel</option>
                                            </select></td>
                                        </tr>
                                        <tr>
                                            <td>Name&nbsp;Of&nbsp;Pay<span style="color:red">*</span></td>
                                            <td><b>:</b></td>
                                            <td><input th:field="*{ChequeDetails.nameOfPay}"
                                                       type="text"></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12 col-xs-10">
                                <div>
                                    <table width="100%" class="table-sm table_text_style">
                                        <tr>
                                            <td>Cheque&nbsp;No<span style="color:red">*</span></td>
                                            <td><b>:</b></td>
                                            <td><input th:field="*{chequeDetails.chequeNo}"
                                                       type="text"/></td>
                                        </tr>
                                        <tr>
                                            <td>Bank<span style="color:red">*</span></td>
                                            <td><b>:</b></td>
                                            <td><input th:field="*{ChequeDetails.bank}"
                                                       type="text"></td>
                                        </tr>
                                        <tr>
                                            <td>Comments</td>
                                            <td><b>:</b></td>
                                            <td><input th:field="*{ChequeDetails.comments}" type="text"></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div style="float:right;margin-right:130px">
                                <button class="submitButton" onclick="saveCheque()" type="button"><b>Save</b></button>
                                <span th:if="${saveMessage}!=null" th:text="${saveMessage}" style="color:green"></span>
                                <span th:if="${updateMessage}!=null" th:text="${updateMessage}" style="color:green"></span>
                            </div>

                        </div>
                        <div class="Heading"> Search Cheque Details</div>
                        <div class="row"></div>

                            <div class="col-md-3">
                                <span>From </span>
                                <span style="color: red">*:</span>
                                <div class="input-group">
                                    <input style=" float:left; border: 1px solid #ff9900;" id="datepicker1"
                                           width="200px" name="datepicker" th:field="*{fromDate}"/>
                                    <script>$('#datepicker1').datepicker({ uiLibrary: 'bootstrap' }); </script>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <span>To </span>
                                <span style="color: red">*:</span>
                                <div class="input-group">
                                    <input style=" float:left; border: 1px solid #ff9900;" id="datepicker2"
                                           width="200px" name="datepicker" th:field="*{toDate}"/>
                                    <script>$('#datepicker2').datepicker({ uiLibrary: 'bootstrap' }); </script>

                                </div>
                            </div>
                            <div style="margin-top: 20px">
                                <span style="margin-left: 60px;">Amount :</span>
                                <span style="margin-left: 10px;">
								<input th:field="*{amount}"
                                       type="text"/>

								<span style="margin-left: 10px;">
									<button class="submitButton" onclick="searchChequeDetails()"
                                            type="button">Search</button>
								</span>
							</span>
                            </div>
                    </form>
                    <div class="row">
                        <div class="col-md-12 col-sm-10 col-xs-5">
                            <div id="chequeSearchResult" class="tableScrollbar">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:insert="html/fragment/footer :: footer"></footer>
</body>
</html>