<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Department</title>
    <script src="../static/js/custom.js" th:src="@{js/custom.js}" type="text/javascript"></script>
</head>

<body>
<header th:insert="html/fragment/header :: header"></header>
<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-2 sidenav">
        </div>
        <div class="col-sm-8 text-left">
            <div class="jumbotron">
                <div class="container">
                    <form action="department/save" id="departmentForm" name="departmentForm" method="post"
                          th:action="@{department/save}"
                          th:object="${department}">
                        <div class="Heading">Department Details</div>
                        <div class="row">
                            <span style="color: #008000;margin-left: 40%;font: 12pt arial;padding-top: 30px"
                                  th:if="${success}!=null" th:text="${success}"></span>
                            <div class="col-md-6 col-sm-12 col-xs-10">
                                <div>
                                    <table width="100%">
                                        <tr>
                                            <td>Department No <span style="color: #ff0000">*</span></td>
                                            <td width="15px">:</td>
                                            <td style="padding: 5px"><input maxlength="20" th:field="*{deptNo}"
                                                                            type="text">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td><span style="color:#ff0000;" th:errors="*{deptNo}"
                                                      th:if="${#fields.hasErrors('deptNo')}">DeptNo Erro</span></td>
                                        </tr>
                                        <tr>
                                            <td>Manager No <span style="color: #ff0000">*</span></td>
                                            <td width="15px">:</td>
                                            <td style="padding: 5px"><input maxlength="20" th:field="*{mngrNo}"
                                                                            type="text">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td><span style="color:#ff0000;" th:errors="*{mngrNo}"
                                                      th:if="${#fields.hasErrors('mngrNo')}">MngrNo Error</span></td>
                                        </tr>
                                        <tr>
                                            <td>Phone No <span style="color: #ff0000">*</span></td>
                                            <td width="15px">:</td>
                                            <td style="padding: 5px"><input maxlength="11" th:field="*{phoneNo}"
                                                                            type="text">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td><span style="color:#ff0000;" th:errors="*{phoneNo}"
                                                      th:if="${#fields.hasErrors('phoneNo')}">PhoneNo Error</span></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12 col-xs-10">
                                <div>
                                    <table width="100%">
                                        <tr>
                                            <td>Department Name <span style="color: #ff0000">*</span></td>
                                            <td width="15px">:</td>
                                            <td style="padding: 5px"><input maxlength="25" th:field="*{department}"
                                                                            type="text">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td><span style="color:#ff0000;" th:errors="*{department}"
                                                      th:if="${#fields.hasErrors('department')}">DeptName Error</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Department Location <span style="color: #ff0000">*</span></font>
                                            </td>
                                            <td width="15px">:</td>
                                            <td style="padding: 5px"><input maxlength="150" th:field="*{location}"
                                                                            type="text">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td><span style="color:#ff0000;" th:errors="*{location}"
                                                      th:if="${#fields.hasErrors('location')}">Location Error</span>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div style="margin-top:50px;">
                                    <div style="float: left;">
                                        <button class="submitButton" onclick="saveDepartment()" type="button">
                                            <b>Submit</b>
                                        </button>
                                    </div>
                                    <div style="float: left;margin-left: 40px;">
                                        <button class="submitButton" onclick="document.departmentForm.reset()"
                                                type="button"><b>Reset</b>
                                        </button>
                                    </div>
                                    <div style="float: left;margin-left: 40px;">
                                        <button class="submitButton" onclick="searchDepartment()" type="button">
                                            <b>Search</b>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>

                    <div class="Heading">Department Details</div>
                    <div class="row">
                        <div class="col-md-12 col-sm-10 col-xs-5">
                            <div id="departmentResult" class="tableScrollbar">

                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
        <!--

        -->
    </div>
</div>
<footer th:insert="html/fragment/footer :: footer"></footer>
</body>

</html>