<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title>Department</title>

    <script type="text/javascript">
        function submitSave() {
            document.departmentForm.action = "./department/save";
            document.departmentForm.submit();
        }

        function reset() {
            document.department.reset();
        }

        function submitSearch() {
            document.departmentForm.action = "./department/search";
            document.departmentForm.submit();
        }


    </script>

</head>

<body>
<header th:insert="html/fragment/header :: header"></header>
<div class="form-page">
    <form action="department/save" method="post" name="departmentForm" th:action="@{department/save}"
          th:object="${department}">

        <div class="container">
            <div class="Heading">Department Details</div>
            <div class="row">
                <div class="col-md-5 col-sm-12 col-xs-10">
                    <div>
                        <table width="100%">
                            <tr>
                                <td>Department No <span style="color: #ff0000">*</span></td>
                                <td width="15px">:</td>
                                <td style="padding: 5px"><input maxlength="20" th:field="*{deptNo}" type="text">
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td><span style="color:#ff0000;" th:errors="*{deptNo}"
                                          th:if="${#fields.hasErrors('deptNo')}">DeptNo Erro</span></td>
                            </tr>
                            <tr>
                                <td>Manager No <span style="color: #ff0000">*</span></td>
                                <td width="15px">:</td>
                                <td style="padding: 5px"><input maxlength="20" th:field="*{mngrNo}" type="text"></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td><span style="color:#ff0000;" th:errors="*{mngrNo}"
                                          th:if="${#fields.hasErrors('mngrNo')}">MngrNo Error</span></td>
                            </tr>
                            <tr>
                                <td>Phone No <span style="color: #ff0000">*</span></td>
                                <td width="15px">:</td>
                                <td style="padding: 5px"><input maxlength="11" th:field="*{phoneNo}" type="text"></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td><span style="color:#ff0000;" th:errors="*{phoneNo}"
                                          th:if="${#fields.hasErrors('phoneNo')}">PhoneNo Error</span></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="col-md-5 col-sm-12 col-xs-10">
                    <div>
                        <table width="100%">
                            <tr>
                                <td>Department Name <span style="color: #ff0000">*</span></td>
                                <td width="15px">:</td>
                                <td style="padding: 5px"><input maxlength="25" th:field="*{department}" type="text">
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td><span style="color:#ff0000;" th:errors="*{department}"
                                          th:if="${#fields.hasErrors('department')}">DeptName Error</span></td>
                            </tr>
                            <tr>
                                <td>Department Location <span style="color: #ff0000">*</span></font>
                                </td>
                                <td width="15px">:</td>
                                <td style="padding: 5px"><input maxlength="150" th:field="*{location}" type="text"></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td><span style="color:#ff0000;" th:errors="*{location}"
                                          th:if="${#fields.hasErrors('location')}">Location Error</span></td>
                            </tr>

                        </table>
                    </div>
                    <div style="margin-top:50px;">
                        <div>

                            <div style="float: left;">
                                <button class="submitButton" onclick="submitSave()" type="button"><b>Submit</b></button>
                            </div>
                            <div style="float: left;margin-left: 40px;">
                                <button class="submitButton" onclick="alert('Reset')" type="button"><b>Reset</b>
                                </button>
                            </div>
                            <div style="float: left;margin-left: 40px;">
                                <button class="submitButton" onclick="submitSearch()" type="button"><b>Search</b>
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

    </form><!--Form close-->


    <div class="Heading">Department Details</div>
    <div class="row">
        <div class="col-md-10 col-sm-10 col-xs-5">
            <div>

                <div th:if="${departmentList} != null AND ${departmentList.size()}>0">
                    <table class="table table-hover table-bordered" cellpadding="1" cellspacing="1"
                           style="text-align: center;border: 1px solid black">
                        <tr style="background-color:#333333;color: #FFFFFF;padding: 50px">
                            <th>Department No</th>
                            <th>Department Name</th>
                            <th>Manager No</th>
                            <th>Location</th>
                            <th>Phone No</th>
                            <th>Edit</th>
                        </tr>
                        <tr style="background-color:#FFFFFF;color: #000000;padding: 50px"
                            th:each="department :${departmentList}">
                            <td th:text="${department.deptNo}"></td>
                            <td th:text="${department.department}"></td>
                            <td th:text="${department.mngrNo}"></td>
                            <td th:text="${department.location}"></td>
                            <td th:text="${department.phoneNo}"></td>
                            <td><a th:href="@{~/department/edit/{id}(id=${department.id})}">Edit</a></td>
                        </tr>
                    </table>
                </div>
                <div style="font: 15pt 'Arial Black';color: #ff0000;"
                     th:if="${departmentList}!=null  AND ${departmentList.size()}==0">
                    Nothing found to display
                </div>
            </div>
        </div>

    </div>

</div>
<!--
<span style="color: #008000;margin-left: 40%;font:  12pt arial;padding-top: 30px" th:if="${success}!=null"
  th:text="${success}"></span>
-->

</div>
<footer th:insert="html/fragment/footer :: footer"></footer>
</body>

</html>