<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <head>
        <style type="text/css">
            .selectOption {
                width: 150px;
                height: 25px;
                font-size: 15px;
                text-align: center;
                color: red;
                border-radius: 5px;
            }



        </style>
        <title>Employee Leave Reports</title>
    </head>

<body>
<header th:insert="html/fragment/header :: header"></header>
<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-lg-2 sidenav">
        </div>
        <div class="col-lg-8 text-left">
            <div class="jumbotron">
                <div class="container">
                    <form action="/employeeLeaveReport" name="employeeLeaveReportForm" id="employeeLeaveReportForm" method="post" th:action="@{/employeeLeaveReport}">
                        <div class="Heading">Leave Report</div>
                        <div class="row">
                            <div class=" col-lg-5 col-md-12 col-sm-12 col-xs-12">
                                <table>
                                    <tr>
                                        <td>Employee&nbsp;ID</td>
                                        <td>
                                            <span style="color: red">*</span>
                                        <td>
                                        <td><b>:</b></td>
                                        <td>
                                            <select class="selectOption" id="empId" name="empId">
                                                <option th:each="empId : ${employeeIds}">[[${empId}]]</option>
                                            </select>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class=" col-lg-4  col-md-12 col-sm-12 col-xs-12">
                                <div style="float: left;">
                                    <table>
                                        <tr>
                                            <td> From</td>
                                            <td width="30px;"><span style="color: red">*</span>
                                            <td>
                                            <td><b>:</b></td>
                                            <td>
                                                <input id="fromDate" width="150px" name="fromDate"/>
                                                <script>$('#fromDate').datepicker({ uiLibrary: 'bootstrap' });</script>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class=" col-lg-3 col-md-12 col-sm-12 col-xs-12">
                                <table>
                                    <tr>
                                        <td> To</td>
                                        <td>
                                            <span style="color: red">*</span>
                                        <td>
                                        <td><b>:</b></td>
                                        <td>
                                            <input id="toDate" width="150px" name="toDate"/>
                                            <script>$('#toDate').datepicker({ uiLibrary: 'bootstrap' });</script>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class=" col-lg-5 col-md-12 col-sm-12 col-xs-12">
                                <button type="button" class="submitButton" onclick="searchEmployeeLeaveReport()">Search</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div id="employeeLeaveReportResult"></div>
            </div>
        </div>
    </div>
</div>
<footer th:insert="html/fragment/footer :: footer"></footer>
</body>

</html>