<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Employee Leave Reports</title>
</head>
<body>
<header th:insert="html/fragment/header :: header"></header>
<div class="form-page">
    <form action="/">
        <div class="container" style="float:left">
            <div class="Heading">Leave Report</div>
            <div class="row" style="margin-top:10px;">
                <div class="col-md-3">
                    Employee ID <span style="color: red">*</span><b>:</b>
                    <select name="id" style="width: 250px;height: 23px;">
							<option value="YSPL1008">YSPL1008</option>
							<option value="YSPL1007">YSPL1007</option>
							<option value="YSPL1339">YSPL1339</option>
							<option value="IEPL0216">IEPL0216</option>
                    </select>
                </div>
                <div class="col-md-3">
                    From
                    <span style="color: red">*</span><b>:</b></span>
                    <div>
                        <input style=" float:left; border: 1px solid #ff9900;" id="datepicker" width="200px"
                               name="datepicker"/>
                        <script>
								$('#datepicker').datepicker({ uiLibrary: 'bootstrap' });
                        </script>
                    </div>
                </div>
                <div class="col-md-3">
                    To
                    <span style="color: red">*</span><b>:</b></span>
                    <div>
                        <input style=" float:left; border: 1px solid #ff9900;" id="datepicker1" width="200px"
                               name="datepicker"/>
                        <script>
								$('#datepicker1').datepicker({ uiLibrary: 'bootstrap' });

                        </script>
                    </div>
                </div>
                <div class="col-md-3">
                    <div style="margin-top:20px;">
                        <button type="button" class="submitButton" onclick="alert('Search')">Search</button>
                    </div>
                </div>
            </div>

        </div>

    </form>
</div>
<footer th:insert="html/fragment/footer :: footer"></footer>
</body>
</html>