<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!doctype html>
<html lang="en">

<head>
    <title>E-salary</title>
</head>

<body>
<header th:insert="html/fragment/header :: header"></header>
<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-lg-2 sidenav">
        </div>
        <div class="col-lg-8 text-left">
            <div class="jumbotron">

                <div class="container">
                    <div class="Heading">Monthly Salary Report</div>
                    <div class="row">

                        <!--new-->

                        <div class="col-lg-4  col-sm-6 col-xs-12  col-md-4">
                            <div>
                                <Table width="100%" class="table_text_style table-sm">
                                    <tr>
                                        <td>From&nbsp;Date</td>
                                        <td><span style="float: right;margin-right:10px;">:</span></td>
                                        <td>
                                            <input id="fromdate" type="text" width="170px" name="fromdate"/>
                                            <script>
													$('#fromdate').datepicker({ uiLibrary: 'bootstrap' });

                                            </script>
                                        </td>
                                    </tr>
                                </Table>
                            </div>
                        </div>


                        <div class="col-lg-4 col-sm-6 col-xs-12 col-md-4">
                            <div>
                                <Table width="100%" class="table_text_style  table-sm">
                                    <tr>
                                        <td>To&nbsp;Date</td>
                                        <td><span style="float: right;margin-right:10px;">:</span></td>
                                        <td>
                                            <input id="todate" width="170px" name="todate"/>
                                            <script>
													$('#todate').datepicker({ uiLibrary: 'bootstrap' });

                                            </script>
                                        </td>
                                    </tr>
                                </Table>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 col-xs-12 col-md-4">
                            <div style="float: right">
                                <button class="submitButton" type="button">GO</button>
                            </div>
                        </div>
                        <!--new-->
                    </div>

                    <!--Row -->

                    <div class="row">
                        <div class="col-lg-12 col-sm-12 col-md-12">
                            <div>
                                <table class="table_text_style table  table-bordered ">
                                    <tr style="background-color: black;color: white;">
                                        <td>Exclude</td>
                                        <td>Employee&nbsp;Id</td>
                                        <td>Employee&nbsp;Name</td>
                                        <td>LOP</td>
                                        <td>ARR. Days</td>
                                        <td>Salary&nbsp;Advance</td>
                                        <td>Performance&nbsp;Incentives</td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox"></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-sm-12 col-md-12">
                            <div style="float: right">
                                <button class="submitButton" type="button">Generate All Salary</button>
                            </div>
                        </div>
                    </div>

                </div>
                <!--Container -->
            </div>
        </div>
    </div>
</div>
<footer th:insert="html/fragment/footer :: footer"></footer>
</body>

</html>