<!DOCTYPE html>
<html>
<head>
    <title>ForgetPassword</title>
</head>
<body>


<body>

<div align="center"
     style="height:150px; width:400px;padding-top:30px;  color:#f79910; line-height:15px; border-top:1px solid #cccccc;">
    <fieldset>
        <legend><b style="font-size:13pt;">Forgot Password?</b></legend>
        <!-- <table width="345" border="1" bgcolor="#ffe6b3"> -->
        <table width="400" cellpadding="2" cellspacing="3" bgcolor="#ffe6b3">


            <tr>

                <th height="34">Username</th>

                <td><input type="email"/></td>

            </tr>

            <tr>

                <th height="33">Email</th>

                <td><input type="password"/></td>

            </tr>

            <tr>

                <td height="39" colspan="2">
                    <center><input type="submit" value="Save"/>
                        <input type="submit" value="Cancel"/></center>

                    <a href="#"></a>

                </td>


            </tr>


        </table>
    </fieldset>
</div>

</body>
</html>