<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ForgetPassword</title>
</head>
<body>


<body>

<div align="center"
     style="height:150px; width:400px;padding-top:30px;  color:#f79910; line-height:15px; border-top:1px solid #cccccc;">
    <fieldset>
        <legend><b style="font-size:13pt;">Forgot Password?</b></legend>
        <form action="/forgetPassword" method="post" id="ForgetPasswordForm" name="ForgetPasswordForm" th:action="@{/forgetPassword}"
              th:object="${user}">
            <table bgcolor="#ffe6b3" cellpadding="2" cellspacing="3" width="400">
                <tr>
                    <th height="34">Username</th>
                    <td><input th:field="*{userName}" type="text"/></td>
                </tr>
                <tr>
                    <th height="33">Email</th>
                    <td><input th:field="*{email}" type="email"/></td>
                </tr>
                <tr>
                    <td colspan="2" height="39">
                        <input type="submit" value="Save"/>
                        <input type="submit" value="Cancel"/>
                    </td>
                </tr>
            </table>
        </form>
    </fieldset>
</div>

</body>
</html>