<!DOCTYPE html>
<html>
<head>
    <title>Form16Generation</title>

</head>
<body>
<header th:insert="html/fragment/header :: header"></header>
<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-lg-2 sidenav">
        </div>
        <div class="col-lg-8 text-left">
            <div class="jumbotron">
                <form action="/">
                    <div class="Heading">Income Tax Sections</div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-10">
                            <div>
                                <table width="100%">
                                    <tr>
                                        <td>
                                            Employee&nbsp;Name
                                        </td>
                                        <td><b>:</b></td>
                                        <td><input name="" type=""></td>
                                        <td>
                                            <button class="submitButton" onclick="alert('form Search!')">Search&nbsp;Employee&nbsp;By&nbsp;Name
                                            </button>
                                        </td>
                                        <td style="padding:20px">
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-10">
                            <div>
                                <table width="100%">
                                    <tr>
                                        <td>
                                            Employee&nbsp;ID
                                        </td>
                                        <td><b>:</b></td>
                                        <td><input name="" type=""></td>
                                        <td>
                                            Financial&nbsp;Year
                                        </td>
                                        <td>From</td>
                                        <td>
                                            <select>
                                                <option value="jan">JAN</option>
                                                <option value="feb">FEB</option>
                                                <option value="mar">MAR</option>
                                                <option value="apr">APR</option>
                                                <option value="may">MAY</option>
                                                <option value="jun">JUN</option>
                                                <option value="jul">JUL</option>
                                                <option value="aug">AUG</option>
                                                <option value="sep">SEP</option>
                                                <option value="oct">OCT</option>
                                                <option value="nov">NOV</option>
                                                <option value="dec">DEC</option>
                                            </select>
                                        </td>
                                        <td>
                                            <select>
                                                <option value="2007">2007</option>
                                                <option value="2008">2008</option>
                                                <option value="2008">2009</option>
                                                <option value="2008">2010</option>
                                                <option value="2008">2011</option>
                                                <option value="2008">2012</option>
                                                <option value="2008">2013</option>
                                                <option value="2008">2014</option>
                                                <option value="2008">2015</option>
                                                <option value="2008">2016</option>
                                                <option value="2008">2017</option>
                                                <option value="2008">2018</option>
                                                <option value="2008">2019</option>
                                                <option value="2008">2020</option>
                                                <option value="2008">2021</option>
                                                <option value="2008">2022</option>
                                                <option value="2008">2023</option>
                                                <option value="2008">2024</option>
                                                <option value="2008">2025</option>
                                                <option value="2008">2026</option>
                                                <option value="2008">2027</option>
                                                <option value="2008">2028</option>
                                                <option value="2008">2029</option>
                                                <option value="2008">2030</option>

                                            </select>
                                        </td>
                                        <td>To</td>
                                        <td>
                                            <select>
                                                <option value="jan">JAN</option>
                                                <option value="feb">FEB</option>
                                                <option value="mar">MAR</option>
                                                <option value="apr">APR</option>
                                                <option value="may">MAY</option>
                                                <option value="jun">JUN</option>
                                                <option value="jul">JUL</option>
                                                <option value="aug">AUG</option>
                                                <option value="sep">SEP</option>
                                                <option value="oct">OCT</option>
                                                <option value="nov">NOV</option>
                                                <option value="dec">DEC</option>
                                            </select>
                                        </td>
                                        <td>
                                            <select>
                                                <option value="2007">2007</option>
                                                <option value="2008">2008</option>
                                                <option value="2008">2009</option>
                                                <option value="2008">2010</option>
                                                <option value="2008">2011</option>
                                                <option value="2008">2012</option>
                                                <option value="2008">2013</option>
                                                <option value="2008">2014</option>
                                                <option value="2008">2015</option>
                                                <option value="2008">2016</option>
                                                <option value="2008">2017</option>
                                                <option value="2008">2018</option>
                                                <option value="2008">2019</option>
                                                <option value="2008">2020</option>
                                                <option value="2008">2021</option>
                                                <option value="2008">2022</option>
                                                <option value="2008">2023</option>
                                                <option value="2008">2024</option>
                                                <option value="2008">2025</option>
                                                <option value="2008">2026</option>
                                                <option value="2008">2027</option>
                                                <option value="2008">2028</option>
                                                <option value="2008">2029</option>
                                                <option value="2008">2030</option>

                                            </select>
                                        </td>
                                        <td>
                                            <button class="submitButton">Retrieve&nbsp;Salary&nbsp;Info</button>
                                        </td>
                                        <td style="padding:20px">
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="Heading">Employee Details</div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-10">
                            <table width="100%">
                                <tr>
                                    <td style="padding:10px"><input name="" placeholder="Full Name" type=""></td>
                                    <td><input name="" placeholder="Designation" type=""></td>
                                    <td style="padding:10px"><input name="" placeholder="PAN Card No" type=""></td>
                                    <td><input name="" placeholder="ADDRESS" type=""></td>
                                    <td>
                                        <button class="submitButton">Edit</button>
                                    </td>
                                    <td style="padding:20px">
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="Heading">Income</div>
                    <div class="row">
                        <div class="col-md-8 col-sm-12 col-xs-10">
                            <table width="100%">
                                <tr>
                                    <td>GROSS&nbsp;SALARY</td>
                                    <td width="10px"><b>:</b></td>
                                    <td style="padding:5px"><input name="" type="text"></td>
                                </tr>
                                <tr>
                                    <td>Incentives</td>
                                    <td width="10px"><b>:</b></td>
                                    <td style="padding:5px"><input name="" type="text"></td>
                                </tr>
                                <tr>
                                    <td>PLB</td>
                                    <td width="10px"><b>:</b></td>
                                    <td style="padding:5px"><input name="" type="text"></td>
                                </tr>
                                <tr>
                                    <td>Reimbursement</td>
                                    <td width="10px"><b>:</b></td>
                                    <td style="padding:5px"><input name="" type="text"></td>
                                </tr>
                                <tr>
                                    <td>Bonus</td>
                                    <td width="10px"><b>:</b></td>
                                    <td style="padding:5px"><input name="" type="text"></td>
                                </tr>
                                <tr>
                                    <td>Others</td>
                                    <td width="10px"><b>:</b></td>
                                    <td style="padding:5px"><input name="" type="text"></td>
                                </tr>
                                <tr>
                                    <td>Previous&nbsp;Company&nbsp;Income</td>
                                    <td width="10px"><b>:</b></td>
                                    <td style="padding:5px"><input name="" type="text"></td>
                                </tr>
                                <tr>
                                    <td>Income&nbsp;Earned&nbsp;by&nbsp;Employee</td>
                                    <td width="10px"><b>:</b></td>
                                    <td style="padding:5px"><input name="" type="text">
                                        <button class="submitButton">Save</button>
                                        <button class="submitButton">Edit</button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <div class="Heading">HRA Calculation</div>
                    <div class="row">
                        <div class="col-md-8 col-sm-12 col-xs-10">
                            <table width="100%">
                                <tr>
                                    <td>Actual&nbsp;HRA&nbsp;PER&nbsp;ANNUM</td>
                                    <td><b>:</b></td>
                                    <td style="padding:5px"><input name="" type="text"></td>
                                </tr>
                                <tr>
                                    <td>40%&nbsp;of&nbsp;Salary&nbsp;(basic)</td>
                                    <td><b>:</b></td>
                                    <td style="padding:5px"><input name="" type="text"></td>
                                </tr>
                                <tr>
                                    <td>Employee&nbsp;given&nbsp;-&nbsp;10%&nbsp;of&nbsp;Basic</td>
                                    <td><b>:</b></td>
                                    <td style="padding:5px"><input name="" type="text"></td>
                                </tr>
                                <tr>
                                    <td>HRA Exempted</td>
                                    <td><b>:</b></td>
                                    <td style="padding:5px"><input name="" type="text"></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="Heading">Sections</div>
                        <div>
                            <button class="claTask" onclick="alert('calculate task')">Calculate Task</button>
                        </div>

                        <div class="row">
                            <div class="col-md-8 col-sm-12 col-xs-10">
                                <table width="100%">
                                    <tr>
                                        <td>GROSS&nbsp;SALARY</td>
                                        <td width="10px"><b>:</b></td>
                                        <td style="padding:5px"><input name="" type="text"></td>
                                    </tr>
                                    <tr>
                                        <td>Net Taxable Income</td>
                                        <td width="10px"><b>:</b></td>
                                        <td style="padding:5px"><input name="" type="text"></td>
                                    </tr>
                                    <tr>
                                        <td>Tax on Income</td>
                                        <td width="10px"><b>:</b></td>
                                        <td style="padding:5px"><input name="" type="text"></td>
                                    </tr>
                                    <tr>
                                        <td>EDU cess(3%)</td>
                                        <td width="10px"><b>:</b></td>
                                        <td style="padding:5px"><input name="" type="text"></td>
                                    </tr>
                                    <tr>
                                        <td>Total Tax on Income</td>
                                        <td width="10px"><b>:</b></td>
                                        <td style="padding:5px"><input name="" type="text"></td>
                                    </tr>
                                    <tr>
                                        <td>Less : TDS Deducted</td>
                                        <td width="10px"><b>:</b></td>
                                        <td style="padding;5px"><input name="" type="text"></td>
                                    </tr>
                                    <tr>
                                        <td>Tax to be Deducted</td>
                                        <td width="10px"><b>:</b></td>
                                        <td style="padding:5px"><input name="" type="text"></td>
                                    </tr>
                                    <tr>
                                        <td>Per Month Tax</td>
                                        <td width="10px"><b>:</b></td>
                                        <td style="padding:5px"><input name="" type="text">
                                        </td>
                                        <td style="padding:20px">
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-10">

					<button class="retrivesalaryInfoButton" onclick="alert('Generate Form 16')">Generate Form 16</button>
					<button class="retrivesalaryInfoButton" onclick="alert('Add Email')">Email</button>
					<button class="retrivesalaryInfoButton" onclick="alert('Save as pdf')">Save as PDF</button>
					<button class="retrivesalaryInfoButton" onclick="alert('Save as excel')">Save as Excel</button>
					<button class="retrivesalaryInfoButton" onclick="alert('Save')">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<footer th:insert="html/fragment/footer :: footer"></footer>
</body>
</html>