<div  xmlns:th="http://www.thymeleaf.org">
<div id="emailReport">
   <!-- <b> <span style="color:red" th:if="${employeeTax}!=null" th:text="${employeeTax}"></span></b>
    <b> <span style="color:red" th:if="${employeeFinanciaalYear}!=null" th:text="${employeeFinanciaalYear}"></span></b>-->
    <b> <span style="color:green"id="emailSent" th:if="${emailSent}!=null" th:text="${emailSent}"></span></b>
    <b> <span style="color:red" id="emailFail"  th:if="${emailFail}!=null" th:text="${emailFail}"></span></b>
</div>


</div>
