<!DOCTYPE html>
<html>
<head>
    <title>Form16Generation</title>
    <style type="text/css">
        .Heading {
            font-size: 20px;
            color: #ff751a;
            border-bottom: 1px solid #CCCCCC;
        }

        .form-page {
            width: 950px;
            height: 1200px;
            border: solid;
            border-color: transparent;
            box-shadow: 10px 10px 8px #ffb366;
            margin-left: 200px;
            margin-top: 30px;
            background-color: #ffe6cc;
        }

        .btuun {
            width: 190px;
            height: 30px;
            border-radius: 10%;
            background-color: #f7941e;
            font-size: 13px;
            cursor: pointer;


        }

        .btuun:hover {
            background-color: #ff9933;
            box-shadow: 0 8px 6px 0 #ff9933;

        }

        .retrivesalaryInfoButton {
            width: 130px;
            height: 30px;
            border-radius: 10%;
            background-color: #ffd9b3;
            font-size: 13px;
            margin-left: 20px;
            cursor: pointer;
        }

        .retrivesalaryInfoButton:hover {
            background-color: #ff9933;
            box-shadow: 0 8px 6px 0 #ff9933;

        }

        .selectOption {
            width: 55px;
            height: 30px;
            margin-left: 20px;
        }

        .claTask {

            width: 200px;
            height: 50px;
            border-radius: 10%;
            background-color: #f7941e;
            font-size: 20px;
            cursor: pointer;
            font-weight: bold;


        }

        .claTask:hover {
            background-color: #ff9933;
            box-shadow: 0 8px 6px 0 #ff9933;

        }

    </style>
</head>
<body>
<div class="form-page">
    <form action="/">
        <div class="Heading">Income Tax Sections</div>
        <br>

        <div>
				<span>
					<span style="margin-left: 5px;">Employee Name :</span>
					<span style="margin-left: 10px;">
						<input name="" type="">
					</span>
					<span style="margin-left: 10px;">
						<button class="btuun" onclick="alert('form Search!')"
                                type="button">Search Employee By Name</button>
					</span>
				</span>
        </div>


        <div style="margin-top: 10px;">
				<span>
					<span style="margin-left: 25px;">Employee ID :</span>
					<span style="margin-left: 10px;">
						<input name="" placeholder="Employee ID" type="">
					</span>
					<span style="margin-left: 13px;">
						Financial Year
					</span>
					<span>
						<select class="selectOption">
							<option value="jan">JAN</option>
							<option value="feb">FEB</option>
							<option value="mar">MAR</option>
							<option value="apr">APR</option>
							<option value="may">MAY</option>
							<option value="jun">JUN</option>
							<option value="jul">JUL</option>
							<option value="aug">AUG</option>
							<option value="sep">SEP</option>
							<option value="oct">OCT</option>
							<option value="nov">NOV</option>
							<option value="dec">DEC</option>
						</select>
						<select class="selectOption">
							<option value="2007">2007</option>
							<option value="2008">2008</option>
							<option value="2008">2009</option>
							<option value="2008">2010</option>
							<option value="2008">2011</option>
							<option value="2008">2012</option>
							<option value="2008">2013</option>
							<option value="2008">2014</option>
							<option value="2008">2015</option>
							<option value="2008">2016</option>
							<option value="2008">2017</option>
							<option value="2008">2018</option>
							<option value="2008">2019</option>
							<option value="2008">2020</option>
							<option value="2008">2021</option>
							<option value="2008">2022</option>
							<option value="2008">2023</option>
							<option value="2008">2024</option>
							<option value="2008">2025</option>
							<option value="2008">2026</option>
							<option value="2008">2027</option>
							<option value="2008">2028</option>
							<option value="2008">2029</option>
							<option value="2008">2030</option>

						</select>

					</span>
					<span style="margin-left: 20px;">to</span>
					<span>
						<select class="selectOption">
							<option value="jan">JAN</option>
							<option value="feb">FEB</option>
							<option value="mar">MAR</option>
							<option value="apr">APR</option>
							<option value="may">MAY</option>
							<option value="jun">JUN</option>
							<option value="jul">JUL</option>
							<option value="aug">AUG</option>
							<option value="sep">SEP</option>
							<option value="oct">OCT</option>
							<option value="nov">NOV</option>
							<option value="dec">DEC</option>
						</select>
						<select class="selectOption">
							<option value="2007">2007</option>
							<option value="2008">2008</option>
							<option value="2008">2009</option>
							<option value="2008">2010</option>
							<option value="2008">2011</option>
							<option value="2008">2012</option>
							<option value="2008">2013</option>
							<option value="2008">2014</option>
							<option value="2008">2015</option>
							<option value="2008">2016</option>
							<option value="2008">2017</option>
							<option value="2008">2018</option>
							<option value="2008">2019</option>
							<option value="2008">2020</option>
							<option value="2008">2021</option>
							<option value="2008">2022</option>
							<option value="2008">2023</option>
							<option value="2008">2024</option>
							<option value="2008">2025</option>
							<option value="2008">2026</option>
							<option value="2008">2027</option>
							<option value="2008">2028</option>
							<option value="2008">2029</option>
							<option value="2008">2030</option>

						</select>

					</span>
					<span>
						<button class="retrivesalaryInfoButton" type="button">Retrive Salary Info</button>
					</span>
				</span>

        </div>


        <div class="Heading">Employee Details</div>
        <br>
        <div>
				<span>
					<span style="margin-left: 10px;">
						<input name="" placeholder="Full Name" type="">
					</span>
					<span style="margin-left: 10px;">
						<input name="" placeholder="Designation" type="">
					</span>
					<span style="margin-left: 10px;">
						<input name="" placeholder="PAN Card No" type="">
					</span>
					<span style="margin-left: 10px;">
						<input name="" placeholder="ADDRESS" type="">
					</span>
					<span>
						<button class="retrivesalaryInfoButton" type="button">Edit</button>
					</span>
				</span>
        </div>

        <div class="Heading">Income</div>
        <br>
        <div>
				<span>
					<span style="margin-left: 5px;">GROSS SALARY :</span>
					<span style="margin-left: 100px;">
						<input name="" type="">
					</span>
				</span>
        </div>

        <div style="margin-top: 10px;">
				<span>
					<span style="margin-left: 30px;">Incentives:</span>
					<span style="margin-left: 135px;">
						<input name="" type="">
					</span>
				</span>
        </div>
        <div style="margin-top: 10px;">
				<span>
					<span style="margin-left: 30px;">PLB:</span>
					<span style="margin-left: 170px;">
						<input name="" type="">
					</span>
				</span>
        </div>
        <div style="margin-top: 10px;">
				<span>
					<span style="margin-left: 30px;">Reimbursement:</span>
					<span style="margin-left: 100px;">
						<input name="" type="">
					</span>
				</span>
        </div>
        <div style="margin-top: 10px;">
				<span>
					<span style="margin-left: 30px;">Bonus:</span>
					<span style="margin-left: 160px;">
						<input name="" type="">
					</span>
				</span>
        </div>

        <div style="margin-top: 10px;">
				<span>
					<span style="margin-left: 30px;">Others:</span>
					<span style="margin-left: 160px;">
						<input name="" type="">
					</span>
				</span>
        </div>
        <div style="margin-top: 10px;">
				<span>
					<span style="margin-left: 30px;">Previous Company Income:</span>
					<span style="margin-left: 25px;">
						<input name="" type="">
					</span>
				</span>
        </div>
        <div style="margin-top: 10px;">
				<span>
					<span style="margin-left: 30px;">Income Earned by Employee:</span>
					<span style="margin-left: 15px;">
						<input name="" type="">
					</span>
				</span>
            <span>
					<button class="retrivesalaryInfoButton" type="button">Save</button>
				</span>
            <span>
					<button class="retrivesalaryInfoButton" type="button">Edit</button>
				</span>
        </div>

        <div class="Heading">HRA Calculation</div>
        <br>
        <div style="margin-left: 10px;">
            <div style="margin-top: 10px; margin-bottom: 10px">
					<span>
						<span>Actual HRA per annum:</span>
						<span>
							<input name="" style="margin-left: 90px;" type="">
						</span>
					</span>
            </div>

            <div style="margin-bottom: 10px">
					<span>
						<span>40% of Salary (basic):</span>
						<span>
							<input name="" style="margin-left: 102px;" type="">
						</span>
					</span>

            </div>

            <div style="margin-bottom: 10px">
					<span>
						<span>Employee given - 10% of Basic:</span>
						<span>
							<input name="" style="margin-left: 38px;" type="">
						</span>
					</span>
            </div>

            <div style="">
					<span>
						<span>HRA Exempted:</span>
						<span>
							<input name="" style="margin-left: 140px;" type="">
						</span>
					</span>
            </div>
        </div>

        <div class="Heading">Sections</div>
        <br>
        <div style="margin-left: 10px; margin-top: 10px">

            <div>
                <button class="claTask" onclick="alert('calculate task')" type="button">Calculate Task</button>

            </div>

            <div style=" margin-bottom: 10px">
					<span>
						<span>Gross Salary:</span>
						<span>
							<input name="" style="margin-left: 160px;" type="">
						</span>
					</span>
            </div>

            <div style="margin-bottom: 10px">
					<span>
						<span>Net Taxable Income:</span>
						<span>
							<input name="" style="margin-left: 113px;" type="">
						</span>
					</span>

            </div>

            <div style="margin-bottom: 10px">
					<span>
						<span>Tax on Income:</span>
						<span>
							<input name="" style="margin-left: 145px;" type="">
						</span>
					</span>
            </div>

            <div style=" margin-bottom: 10px">
					<span>
						<span>EDU cess(3%):</span>
						<span>
							<input name="" style="margin-left: 145px;" type="">
						</span>
					</span>
            </div>


            <div style="margin-bottom: 10px">
					<span>
						<span>Total Tax on Income:</span>
						<span>
							<input name="" style="margin-left: 110px;" type="">
						</span>
					</span>
            </div>
            <div style="margin-bottom: 10px">
					<span>
						<span>Less : TDS Deducted:</span>
						<span>
							<input name="" style="margin-left: 105px;" type="">
						</span>
					</span>
            </div>

            <div style="margin-bottom: 10px">
					<span>
						<span>Tax to be Deducted:</span>
						<span>
							<input name="" style="margin-left: 118px;" type="">
						</span>
					</span>
            </div>
            <div style="margin-bottom: 10px">
					<span>
						<span>Per Month Tax:</span>
						<span>
							<input name="" style="margin-left: 147px;" type="">
						</span>
					</span>
            </div>

        </div>


        <div>
				<span>
					<button class="retrivesalaryInfoButton" onclick="alert('Generate Form 16')" type="button">Generate Form 16</button>
				</span>
            <span>
					<button class="retrivesalaryInfoButton" onclick="alert('Add Email')" type="button">Email</button>
				</span>
            <span>
					<button class="retrivesalaryInfoButton" onclick="alert('Save as pdf')"
                            type="button">Save as PDF</button>
				</span>
            <span>
					<button class="retrivesalaryInfoButton" onclick="alert('Save as excel')"
                            type="button">Save as Excel</button>
				</span>
            <span>
					<button class="retrivesalaryInfoButton" onclick="alert('Save')" type="button">Save</button>
				</span>
        </div>
</div>
</form>
</div>
</body>
</html>