<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
         table{
           border-collapse:collapse;
        }
         body{
           font-size:80%;
         }
         .no-border-bottom {
               border-bottom: solid 1px #FFF;
          }

          .table{
             border:1px solid black;
             border-collapse:collapse;
          }
    </style>
</head>
<body>
  <table width="70%" align="center" style="border-collapse:collapse">
      <tr>
          <td align="center" colspan="5" style="padding:20px"><b>FORM NO. 12BA</b><br>[See rule 26A(2)(b)]<br>
              Statement showing particulars of perquisites, other fringe bene9its or amenities and pro9its in lieu o f salary with value thereof</td>
      </tr>
      <tr>
          <td width="30px">1.Name&Address&nbsp;of&nbsp;employer</td>
          <td><b>:</b></td>
          <td>0</td>
          <td></td>
          <td></td>
      </tr>
      <tr>
          <td>2.TAN</td>
          <td width="10px"><b>:</b></td>
          <td>0</td>
          <td></td>
          <td></td>
      </tr>
      <tr>
          <td>3.&nbsp;TDS&nbsp;Assessment&nbsp;Range&nbsp;of&nbsp;the&nbsp;employer</td>
          <td><b>:</b></td>
          <td>0</td>
          <td></td>
          <td></td>
      </tr>
      <tr>
          <td>4. Name Employee</td>
          <td><b>:</b></td>
          <td>0</td>
          <td></td>
      </tr>
      <tr>
          <td>&nbsp;&nbsp;Designation of the Employee</td>
          <td><b>:</b></td>
          <td></td>
          <td></td>
          <td></td>
      </tr>
      <tr>
          <td>&nbsp;&nbsp;PAN of employee</td>
          <td><b>:</b></td>
          <td></td>
          <td></td>
          <td></td>
      </tr>
      <tr>
          <td>5. Is the employee a director or a person with
              substantial interest in the company (where the
              employer is a company)</td>
          <td><b>:</b></td>
          <td></td>
          <td></td>
          <td></td>
      </tr>
      <tr>
          <td>6. Income under the head “Salaries” of the
              employee (other than from perquisites)</td>
          <td><b>:</b></td>
          <td></td>
          <td></td>
          <td></td>
      </tr>
      <tr>
          <td>7. Financial year</td>
          <td><b>:</b></td>
          <td></td>
          <td></td>
          <td></td>
      </tr>
      <tr>
          <td>8. Valuation of Perquisites</td>
          <td><b>:</b></td>
          <td></td>
          <td></td>
          <td></td>
      </tr>
  </table>
  <table width="70%" align="center" class="table">
      <tr>
          <td style="height:40px;border:1px solid black" align="center">S.NO</td>
          <td style="border:1px solid black" align="center">Nature of perquisites
              (see rule 3)</td>
          <td style="border:1px solid black" align="center">Value of perquisite as
              per rules (Rs.)</td>
          <td style="border:1px solid black" align="center">Amount, if any, recovered from
              the employee (Rs.)</td>
          <td style="border:1px solid black" align="center">Amount of perquisite
              chargeable to tax
              Col. (3) - Col. (4) (Rs.)</td>
      </tr>
      <tr>
          <td align="center" style="border:1px solid black">(1)</td>
          <td align="center" style="border:1px solid black">(2)</td>
          <td align="center" style="border:1px solid black">(3)</td>
          <td align="center" style="border:1px solid black">(4)</td>
          <td align="center" style="border:1px solid black">(5)</td>
      </tr>
      <tr>
          <td style="border:1px solid black">1. Accommodation</td>
          <td style="border:1px solid black"></td>
          <td style="border:1px solid black"></td>
          <td style="border:1px solid black"></td>
          <td style="border:1px solid black"></td>
      </tr>
      <tr>
          <td style="border:1px solid black">2. Cars/Other automotive</td>
          <td style="border:1px solid black"></td>
          <td style="border:1px solid black"></td>
          <td style="border:1px solid black"></td>
          <td style="border:1px solid black"></td>
      </tr>
      <tr>
          <td style="border:1px solid black">3. Sweeper, gardener, watchman or personal attendant</td>
          <td style="border:1px solid black"></td>
          <td style="border:1px solid black"></td>
          <td style="border:1px solid black"></td>
          <td style="border:1px solid black"></td>
      </tr>
      <tr>
          <td style="border:1px solid black">4. Gas, electricity, water</td>
          <td style="border:1px solid black"></td>
          <td style="border:1px solid black"></td>
          <td style="border:1px solid black"></td>
          <td style="border:1px solid black"></td>
      </tr>
      <tr>
          <td style="border:1px solid black">5. Interest free or concessional loans</td>
          <td style="border:1px solid black"></td>
          <td style="border:1px solid black"></td>
          <td style="border:1px solid black"></td>
          <td style="border:1px solid black"></td>
      </tr>
      <tr>
          <td style="border:1px solid black">6. Holiday expenses</td>
          <td style="border:1px solid black"></td>
          <td style="border:1px solid black"></td>
          <td style="border:1px solid black"></td>
          <td style="border:1px solid black"></td>
      </tr>
      <tr>
          <td style="border:1px solid black">7. Free or concessional travel</td>
          <td style="border:1px solid black"></td>
          <td style="border:1px solid black"></td>
          <td style="border:1px solid black"></td>
          <td style="border:1px solid black"></td>
      </tr>
      <tr>
          <td style="border:1px solid black">8. Free meals</td>
          <td style="border:1px solid black"></td>
          <td style="border:1px solid black"></td>
          <td style="border:1px solid black"></td>
          <td style="border:1px solid black"></td>
      </tr>
      <tr>
          <td style="border:1px solid black">9. Free education</td>
          <td style="border:1px solid black"></td>
          <td style="border:1px solid black"></td>
          <td style="border:1px solid black"></td>
          <td style="border:1px solid black"></td>
      </tr>
      <tr>
          <td style="border:1px solid black">10. Gifts, vouchers, etc.</td>
          <td style="border:1px solid black"></td>
          <td style="border:1px solid black"></td>
          <td style="border:1px solid black"></td>
          <td style="border:1px solid black"></td>
      </tr>
      <tr>
          <td style="border:1px solid black">11. Credit card expenses</td>
          <td style="border:1px solid black"></td>
          <td style="border:1px solid black"></td>
          <td style="border:1px solid black"></td>
          <td style="border:1px solid black"></td>
      </tr>
      <tr>
          <td style="border:1px solid black">12. Club expenses</td>
          <td style="border:1px solid black"></td>
          <td style="border:1px solid black"></td>
          <td style="border:1px solid black"></td>
          <td style="border:1px solid black"></td>
      </tr>
      <tr>
          <td style="border:1px solid black">13. Use of movable assets by employees</td>
          <td style="border:1px solid black"></td>
          <td style="border:1px solid black"></td>
          <td style="border:1px solid black"></td>
          <td style="border:1px solid black"></td>
      </tr>
      <tr>
          <td style="border:1px solid black">14. Transfer of assets to employees</td>
          <td style="border:1px solid black"></td>
          <td style="border:1px solid black"></td>
          <td style="border:1px solid black"></td>
          <td style="border:1px solid black"></td>
      </tr>
      <tr>
          <td style="border:1px solid black">15. Value of any other benefit/amenity/service/privilege</td>
          <td style="border:1px solid black"></td>
          <td style="border:1px solid black"></td>
          <td style="border:1px solid black"></td>
          <td style="border:1px solid black"></td>
      </tr>
      <tr>
          <td style="border:1px solid black">16. Stock options (non-qualified options)</td>
          <td style="border:1px solid black"></td>
          <td style="border:1px solid black"></td>
          <td style="border:1px solid black"></td>
          <td style="border:1px solid black"></td>
      </tr>
      <tr>
          <td style="border:1px solid black">17. Other benefits or amenities</td>
          <td style="border:1px solid black"></td>
          <td style="border:1px solid black"></td>
          <td style="border:1px solid black"></td>
          <td style="border:1px solid black"></td>
      </tr>
      <tr>
          <td style="border:1px solid black">18. Total value of perquisites</td>
          <td style="border:1px solid black"></td>
          <td style="border:1px solid black"></td>
          <td style="border:1px solid black"></td>
          <td style="border:1px solid black"></td>
      </tr>
      <tr>
          <td style="border:1px solid black">19. Total value of proLits in lieu of salary as per section 17(3)</td>
          <td style="border:1px solid black"></td>
          <td style="border:1px solid black"></td>
          <td style="border:1px solid black"></td>
          <td style="border:1px solid black"></td>
      </tr>
  </table>
<table align="center" width="70%">
    <tr>
        <td>9. Details of tax</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>&nbsp;&nbsp;&nbsp;(a) Tax deducted from salary of the employee under section 192(1)</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>&nbsp;&nbsp;&nbsp;(b) Tax paid by employer on behalf of the employee under section 192(1A)</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>&nbsp;&nbsp;&nbsp;(c) Total tax paid</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>&nbsp;&nbsp;&nbsp;(d) Date of payment into Government treasury</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td colspan="5" align="center" style="height:20px"><b>DECLARATION BY EMPLOYER</b></td>
    </tr>
    <tr>
        <td colspan="5" style="height:60px">I, 0, Son of 0 working in the capacity of 0 do hereby declare on behalf of 0 that the information given above is based on the books of account, documents and other relevant
            records or information available with us and the details of value of each such perquisite
            are in accordance with section 17 and rules framed thereunder and that such information is true and corre</td>
    </tr>
</table>
  <table align="center" width="70%" class="table">
    <tr>
        <td style="border:1px solid black" width="25%">Place:</td>
        <td style="border:1px solid black" width="25%">Hyderabad</td>
        <td colspan="3" style="border:1px solid black">Signature of the person responsible for deduction of tax</td>
    </tr>
      <tr>
          <td class="no-border-bottom">Date:</td>
          <td rowspan="2" style="border:1px solid black">20.20.20</td>
          <td colspan="2" align="center" style="border:1px solid black">0</td>

      </tr>
      <tr>
          <td style="border:1px solid black"></td>
          <td colspan="2" align="center" style="border:1px solid black">0</td>
      </tr>

</table>
</body>
</html>