<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/html">
<head>
    <title>Form16Generation</title>

</head>
<script>
function searchEmployeeByNameInForm16Generation(){
    console.log("in searchemployee java script method");
  var url="/searchEmployeeByNameInForm16Generation";
  var form=document.getElementById("form16GenerationData");
  form.action=url;
  form.submit();
    }
    function setEmployeeId(empId){
    console.log(empId);
    document.getElementById('empId').value=empId;
}
</script>
<body>
<header th:insert="html/fragment/header :: header"></header>
<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-lg-2 sidenav">
        </div>
        <div class="col-lg-8 text-left">
            <div class="jumbotron">
                <form  id="form16GenerationData" method="post" th:action="saveEmployee" name="form16Generation" th:object="${employeeFinancialYearForm}" theme="simple">
                    <div class="Heading">Income Tax Sections</div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-10">
                            <div>
                                <table width="100%">
                                    <tr>
                                        <td>
                                            Employee&nbsp;Name
                                        </td>
                                        <td><b>:</b></td>
                                        <td><input  type="text" name="empName"/></td>
                                        <td>
                                            <button class="submitButton" onclick="searchEmployeeByNameInForm16Generation()"> Search Employee By Name
                                            </button>
                                        </td>

                                        <td style="padding:20px">
                                        </td>
                                    </tr>
                                </table>
                                <span style="color;red" th:if="${retrieveNameError}!=null" th:text="${retrieveNameError}"></span>
                                <div th:if="${employsList}!=null">
                                    <ul>
                                    <li style="padding:10px 0px;" th:each="employeeData :${employsList}">
                                        <label style="color:blue;"><a onclick="setEmployeeId(\'' + ${employeeData.empId} + '\')"><span th:text="${employeeData.empId}"/></a></label>
                                        &nbsp; &nbsp;<label style="color:blue;"><a onclick="setEmployeeId(\'' + ${employeeData.empId} + '\')"><span th:text="${employeeData.fullName}"/></a></label>
                                    </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-10">
                            <div>
                                <table width="100%">
                                    <tr>
                                        <td style="padding:5px">
                                            Employee&nbsp;ID
                                        </td>
                                        <td><b>:</b></td>

                                        <td><input  th:field="${employeeFinancialYearForm.empId}" id="empId" type="text"onblur="retrieveEmployeeInfoInForm16()"/></td>
                                        <td>
                                            Financial&nbsp;Year
                                        </td>
                                        <td>From</td>
                                        <td>
                                            <select th:field="${employeeFinancialYearForm.financialYear.fromMonth}">
                                                <option th:each="months : ${financialYearForm.months}" th:value="${months}" th:text="${months}">
                                                </option>
                                            </select>
                                        </td>
                                        <td>
                                            <select th:field="${employeeFinancialYearForm.financialYear.fromYear}">
                                                <option th:each="years : ${financialYearForm.years}" th:value="${years}" th:text="${years}">
                                                </option>
                                            </select>

                                        </td>
                                        <td>To</td>
                                        <td>
                                            <select th:field="${employeeFinancialYearForm.financialYear.fromMonth}">
                                                <option th:each="months : ${financialYearForm.months}" th:value="${months}" th:text="${months}">
                                                </option>
                                            </select>

                                        </td>
                                        <td>
                                            <select th:field="${employeeFinancialYearForm.financialYear.fromYear}">
                                                <option th:each="years : ${financialYearForm.years}" th:value="${years}" th:text="${years}">
                                                </option>
                                            </select>
                                        </td>
                                        <td>
                                            <button class="submitButton">Retrieve&nbsp;Salary&nbsp;Info</button>
                                        </td>
                                        <td style="padding:20px">
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="Heading">Employee Details</div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-10">
                            <table width="100%">
                                <tr>
                                    <td style="padding:10px"><input name="" placeholder="Full Name" type=""></td>
                                    <td><input name="" placeholder="Designation" type=""></td>
                                    <td style="padding:10px"><input name="" placeholder="PAN Card No" type=""></td>
                                    <td><input name="" placeholder="ADDRESS" type=""></td>
                                    <td>
                                        <button class="submitButton">Edit</button>
                                    </td>
                                    <td style="padding:20px">
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="Heading">Income</div>
                    <div class="row">
                        <div class="col-md-8 col-sm-12 col-xs-10">
                            <table width="100%" id="incomeTable" align="center">
                                <tr>
                                    <td>GROSS&nbsp;SALARY</td>
                                    <td width="10px"><b>:</b></td>
                                    <td style="padding:5px"><input name="grossSalary"  readonly="true" style="background-color:orange"></td>
                                </tr>
                                <tr>
                                    <td>Incentives</td>
                                    <td width="10px"><b>:</b></td>
                                    <td style="padding:5px"><input name="form16GenerationForm.incentives" ></td>
                                </tr>
                                <tr>
                                    <td>PLB</td>
                                    <td width="10px"><b>:</b></td>
                                    <td style="padding:5px"><input name="form16GenerationForm.plb"></td>
                                </tr>
                                <tr>
                                    <td>Reimbursement</td>
                                    <td width="10px"><b>:</b></td>
                                    <td style="padding:5px"><input name="form16GenerationForm.reimbursement" ></td>
                                </tr>
                                <tr>
                                    <td>Bonus</td>
                                    <td width="10px"><b>:</b></td>
                                    <td style="padding:5px"><input name="form16GenerationForm.bonus" ></td>
                                </tr>
                                <tr>
                                    <td>Others</td>
                                    <td width="10px"><b>:</b></td>
                                    <td style="padding:5px"><input name="form16GenerationForm.others" ></td>
                                </tr>
                                <tr>
                                    <td>Previous&nbsp;Company&nbsp;Income</td>
                                    <td width="10px"><b>:</b></td>
                                    <td style="padding:5px"><input name="form16GenerationForm.previousCompanyIncome" ></td>
                                </tr>
                                <tr>
                                    <td>Income&nbsp;Earned&nbsp;by&nbsp;Employee</td>
                                    <td width="10px"><b>:</b></td>
                                    <td style="padding:5px"><input id="earnedIncome" name="form16GenerationForm.incomeEarnedByEmployee" type="text" readonly="true" style="background-color:orange">
                                        <button class="submitButton" onClick="saveIncome()" type="button">Save</button>
                                        <button class="submitButton" onclick="editIncome()" type="button">Edit</button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <div class="Heading">HRA Calculation</div>
                    <div class="row">
                        <div class="col-md-8 col-sm-12 col-xs-10">
                            <table width="100%">
                                <tr>
                                    <td>Actual&nbsp;HRA&nbsp;PER&nbsp;ANNUM</td>
                                    <td><b>:</b></td>
                                    <td style="padding:5px"><input name="" type="text" readonly="true"></td>
                                </tr>
                                <tr>
                                    <td>40%&nbsp;of&nbsp;Salary&nbsp;(basic)</td>
                                    <td><b>:</b></td>
                                    <td style="padding:5px"><input name="" type="text" readonly="true"></td>
                                </tr>
                                <tr>
                                    <td>Employee&nbsp;given&nbsp;-&nbsp;10%&nbsp;of&nbsp;Basic</td>
                                    <td><b>:</b></td>
                                    <td style="padding:5px"><input name="" type="text" readonly="true"></td>
                                </tr>
                                <tr>
                                    <td>HRA Exempted</td>
                                    <td><b>:</b></td>
                                    <td style="padding:5px"><input name="" type="text" readonly="true"></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="Heading">Sections</div>
                        <div>
                            <button class="claTask" onclick="alert('calculate task')">Calculate Task</button>
                        </div>

                        <div class="row">
                            <div class="col-md-8 col-sm-12 col-xs-10">
                                <table width="100%">
                                    <tr>
                                        <td>GROSS&nbsp;SALARY</td>
                                        <td width="10px"><b>:</b></td>
                                        <td style="padding:5px"><input name="" type="text" readonly="true"></td>
                                    </tr>
                                    <tr>
                                        <td>Net Taxable Income</td>
                                        <td width="10px"><b>:</b></td>
                                        <td style="padding:5px"><input name="" type="text" readonly="true"></td>
                                    </tr>
                                    <tr>
                                        <td>Tax on Income</td>
                                        <td width="10px"><b>:</b></td>
                                        <td style="padding:5px"><input name="" type="text" readonly="true"></td>
                                    </tr>
                                    <tr>
                                        <td>EDU cess(3%)</td>
                                        <td width="10px"><b>:</b></td>
                                        <td style="padding:5px"><input name="" type="text" readonly="true"></td>
                                    </tr>
                                    <tr>
                                        <td>Total Tax on Income</td>
                                        <td width="10px"><b>:</b></td>
                                        <td style="padding:5px"><input name="" type="text" readonly="true"></td>
                                    </tr>
                                    <tr>
                                        <td>Less : TDS Deducted</td>
                                        <td width="10px"><b>:</b></td>
                                        <td style="padding;5px"><input name="" type="text" readonly="true"></td>
                                    </tr>
                                    <tr>
                                        <td>Tax to be Deducted</td>
                                        <td width="10px"><b>:</b></td>
                                        <td style="padding:5px"><input name="" type="text" readonly="true"></td>
                                    </tr>
                                    <tr>
                                        <td>Per Month Tax</td>
                                        <td width="10px"><b>:</b></td>
                                        <td style="padding:5px"><input name="" type="text" readonly="true">
                                        </td>
                                        <td style="padding:20px">
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-10">

					<button class="retrivesalaryInfoButton" onclick="alert('Generate Form 16')">Generate Form 16</button>
					<button class="retrivesalaryInfoButton" onclick="alert('Add Email')">Email</button>
					<button class="retrivesalaryInfoButton" onclick="alert('Save as pdf')">Save as PDF</button>
					<button class="retrivesalaryInfoButton" onclick="alert('Save as excel')">Save as Excel</button>
					<button class="retrivesalaryInfoButton" onclick="alert('Save')">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<footer th:insert="html/fragment/footer :: footer"></footer>
</body>
</html>
