<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table,td{
           border:1px solid black;
           border-collapse:collapse;
        }
        td {
           padding: 5px;
         }
         body{
           font-size:80%;
         }
         .gray{
            background-color: #a6a6a6;
          }
          .no-border-bottom {
               border-bottom: solid 1px #FFF;
          }

    </style>
</head>
<body>
<table width="70%" align="center">
    <tr>
        <td align="center" colspan="4">2</td>
    </tr>
    <tr>
        <td class="no-border-bottom">9.&nbsp;Deductions&nbsp;under&nbsp;Chapter&nbsp;VI&nbsp;A</td>
        <td class="gray"></td>
        <td class="gray"></td>
        <td class="gray"></td>
    </tr>
    <tr>
        <td class="no-border-bottom">&nbsp;&nbsp;&nbsp;&nbsp;(A)&nbsp;sections&nbsp;80C,&nbsp;80CCC&nbsp;and&nbsp;80CCD</td>
        <td class="gray"></td>
        <td class="gray"></td>
        <td class="gray"></td>
    </tr>
    <tr>
        <td class="no-border-bottom" style="padding:10px"></td>
        <td class="gray"></td>
        <td class="gray"></td>
        <td class="gray"></td>
    </tr>
    <tr>
        <td class="no-border-bottom">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(a)&nbsp;Section&nbsp;80&nbsp;C</td>
        <td width="200px" class="gray"></td>
        <td align="center">Gross Amount</td>
        <td align="center">Deductible&nbsp;Amount</td>
    </tr>
    <tr>
        <td class="no-border-bottom" style="padding:10px"></td>
        <td class="gray"></td>
        <td class="gray"></td>
        <td class="gray"></td>
    </tr>
    <tr>
        <td class="no-border-bottom">(i)&nbsp;Housing&nbsp;loan&nbsp;principal&nbsp;amt&nbsp;repaid&nbsp;this&nbsp;year</td>
        <td class="gray"></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td class="no-border-bottom">(ii)&nbsp;Stmp&nbsp;duty/Registration/other&nbsp;expenses&nbsp;for&nbsp;house&nbsp;purchase</td>
        <td class="gray"></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td class="no-border-bottom">&nbsp;(iii)&nbsp;Provident&nbsp;Fund&nbsp;as&nbsp;deducted&nbsp;from&nbsp;salary</td>
        <td class="gray"></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td class="no-border-bottom">(iv) Life Insurance Premium Paid</td>
        <td class="gray"></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td class="no-border-bottom">(v) PPF/NSS (Public Provident Fund)</td>
        <td class="gray"></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td class="no-border-bottom">(vi) ELSS Equity Fund<br></td>
        <td class="gray"></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td class="no-border-bottom">(vii) NSC Investments (National Saving Certificate)</td>
        <td class="gray"></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td class="no-border-bottom">(viii) Tution Fee</td>
        <td class="gray"></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td class="no-border-bottom">(ix) FD with schedule Bank/Post office (for 5yrs or more)</td>
        <td class="gray"></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td class="no-border-bottom">(x) Amount deposited in Sukanya Samridhi A/c</td>
        <td class="gray"></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td class="no-border-bottom">(xi) Mutual Funds (pension and ELSS scheme)</td>
        <td class="gray"></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td class="no-border-bottom">(xii) Other Deductions</td>
        <td class="gray"></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td class="no-border-bottom">(b) Section 80CCD (1B)</td>
        <td class="gray"></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Total&nbsp;Deductible&nbsp;Amount&nbsp;Under&nbsp;Section&nbsp;80C,&nbsp;80CCC&nbsp;and&nbsp;80CCD</td>
        <td class="gray"></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td class="no-border-bottom">Note:&nbsp;1.&nbsp;Aggregate&nbsp;amount&nbsp;deductible&nbsp;under&nbsp;section&nbsp;80&nbsp;C&nbsp;shall&nbsp;not&nbsp;exceed&nbsp;one&nbsp;lakh&nbsp;fifty&nbsp;rupees.</td>
        <td class="gray"></td>
        <td class="gray"></td>
        <td class="gray"></td>
    </tr>
    <tr>
        <td class="no-border-bottom"></td>
        <td style="padding:10px" class="gray"></td>
        <td class="gray"></td>
        <td class="gray"></td>
    </tr>
    <tr>
        <td>2. Aggregate amount deductible under the three sections, i.e. 80C,80CCC,80CCD shall not exceed one
                                    lakh fifty rupees.</td>
        <td class="gray"></td>
        <td class="gray"></td>
        <td class="gray"></td>
    </tr>
    <tr>
        <td class="no-border-bottom">(B) other sections (e.g. 80E,80G etc.) under Chapter VI-A</td>
        <td>Gross Amount</td>
        <td>Qualifying&nbsp;Amount</td>
        <td>Deductible&nbsp;Amount</td>
    </tr>
    <tr>
        <td style="padding:10px"></td>
        <td class="gray"></td>
        <td class="gray"></td>
        <td class="gray"></td>
    </tr>
    <tr>
        <td class="no-border-bottom">(i) section 80D (Medical insurance premium & Expenses)</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td class="no-border-bottom">(ii) section 80DD (Medical Expenses Disability)</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td class="no-border-bottom">(iii) section 80DDB (Treatment of Specified disease)</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td class="no-border-bottom">(iv) section 80E (Interest on Education Loans)</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td class="no-border-bottom">(v) section 80EE (Interest on House Loans)</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td class="no-border-bottom">(vi) section 80G (Donations)</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td class="no-border-bottom">(vii) section 80GG (Rent Paid when not Receiving HRA)</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td class="no-border-bottom">(viii) section 80GGA (Donation for Scientific research)</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td class="no-border-bottom">(ix) section 80GGC (Donation to Political Party)</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td class="no-border-bottom">(x) section 80TTA (Interest on Savings Bank A/c.)</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td style="padding:10px" class="no-border-bottom"></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td class="no-border-bottom">10. Aggregate of deductible amount under Chapter VI A</td>
        <td class="gray"></td>
        <td class="gray"></td>
        <td></td>
    </tr>
    <tr>
        <td style="padding:10px" class="no-border-bottom"></td>
        <td class="gray"></td>
        <td class="gray"></td>
        <td class="gray"></td>
    </tr>
    <tr>
        <td class="no-border-bottom">11.Total Income (8-10)</td>
        <td class="gray"></td>
        <td class="gray"></td>
        <td></td>
    </tr>
    <tr>
        <td class="no-border-bottom"> 12. Tax payble on total income</td>
        <td class="gray"></td>
        <td class="gray"></td>
        <td></td>
    </tr>
    <tr>
        <td class="no-border-bottom">13. Less: Additional Tax credit u/s.87A</td>
        <td class="gray"></td>
        <td class="gray"></td>
        <td></td>
    </tr>
    <tr>
        <td class="no-border-bottom">14. Tax after rebate</td>
        <td class="gray"></td>
        <td class="gray"></td>
        <td></td>
    </tr>
    <tr>
        <td class="no-border-bottom">15. Education cess @ 4% (on tax computed at S.No. 14)</td>
        <td class="gray"></td>
        <td class="gray"></td>
        <td></td>
    </tr>
    <tr>
        <td class="no-border-bottom">16. Tax Payable (14+15)</td>
        <td class="gray"></td>
        <td class="gray"></td>
        <td></td>
    </tr>
    <tr>
        <td class="no-border-bottom">17. Less: Relief under section 89 (attach details)</td>
        <td class="gray"></td>
        <td class="gray"></td>
        <td></td>
    </tr>
    <tr>
        <td class="no-border-bottom">18. Net Tax Payable (16-17)</td>
        <td class="gray"></td>
        <td class="gray"></td>
        <td></td>
    </tr>
    <tr>
        <td class="no-border-bottom">19. TDS deducted at source</td>
        <td class="gray"></td>
        <td class="gray"></td>
        <td></td>
    </tr>
    <tr>
        <td>20. Tax Payable/Refund at year end to the Income-Tax</td>
        <td class="gray"></td>
        <td class="gray"></td>
        <td></td>
    </tr>
    <tr>
        <td colspan="4" align="center">Verification</td>
    </tr>
    <tr>
        <td colspan="5" style="height:50px">#N/A</td>
    </tr>
    <tr>
        <td width="5px">Place</td>
        <td>Hyderabad</td>
        <td colspan="3"></td>
    </tr>
    <tr>
        <td class="no-border-bottom">Date:</td>
        <td rowspan="2">20.20.20</td>
        <td colspan="2" align="center">0</td>

    </tr>
    <tr>
        <td></td>
        <td colspan="2" align="center">0</td>
    </tr>





</table>
</body>
</html>