<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>F & F settlement Details</title>
</head>
<body>
<header th:insert="html/fragment/header :: header"></header>
<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-2 sidenav">
        </div>
        <div class="col-sm-8 text-left">
            <div class="jumbotron">
                <div class="container">
                    <form th:action="@{/viewSettlement}" method="post" id="employeeSettlementForm"
                          name="employeeSettlementForm" th:object="${employeeSettlementForm}">
                        <div class="Heading">F & F settlement Details</div>
                        <div th:if="${save}!=null">
                            <span th:text="${save}" style="color:green;font-size:17px;"></span>
                        </div>
                        <p id="demo6" style="color:red;font-size:17px;"></p>
                        <p id="demo9" style="color:red;font-size:17px;"></p>
                        <div class="row" style="border-bottom:1px solid #adad85">
                            <div class="col-md-6 col-sm-12 col-xs-10">
                                <table width="100%">
                                    <tr>
                                        <td style="padding: 5px"><input th:field="*{employeeName}" type="text"
                                                                        style="border-radius:5px">
                                        <td style="padding: 5px"><input th:field="*{employeeDesignation}" type="text"
                                                                        style="border-radius:5px">
                                        <td style="padding: 5px"><input th:field="*{employeeId}" type="text"
                                                                        style="border-radius:5px">
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10 col-sm-12 col-xs-10">
                                <p id="demo" style="color:red;font-size:20px;"></p>
                                <table width="80%">
                                    <tr>
                                        <td>Type<span style="color: #ff0000">*</span></td>
                                        <td><b>:</b></td>
                                        <td style="padding:10px">
                                            <select class="selectOption" th:field="*{empStatus}" id="selec"
                                                    onchange="updateDatesRow(this.value)">
                                                <option th:value="Resigned">Resigned</option>
                                                <option th:value="Terminated">Terminated</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr id="resignationDateId">
                                        <td style="padding: 5px">Date&nbsp;of&nbsp;Resignation<span style="color: #ff0000">*</span></td>
                                        <td style="padding: 5px"><b>:</b></td>
                                        <td style="padding: 5px"><input style="border: 1px solid #ff9900;" id="datepicker"
                                                   width="200px" name="resignationDate" th:field="*{resignationDate}"
                                                   required/>
                                            <script>$('#datepicker').datepicker({ uiLibrary: 'bootstrap' }); </script>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding: 5px"> Date&nbsp;of&nbsp;<span id="RelevingDate">Relieving</span><span
                                                style="color: #ff0000">*</span></td>
                                        <td style="padding: 5px"><b>:</b></td>
                                        <td style="padding: 5px"><input style="border: 1px solid #ff9900;" id="datepicker2" width="200px"
                                                   name="relievingDate" th:field="*{relievingDate}" required/>
                                            <script>$('#datepicker2').datepicker({ uiLibrary: 'bootstrap' }); </script>

                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding: 5px"> Date&nbsp;of&nbsp;Settlement<span style="color: #ff0000">*</span></td>
                                        <td style="padding: 5px"><b>:</b></td>
                                        <td style="padding: 5px"><input style="border: 1px solid #ff9900;" id="datepicker3" width="200px" name="settlementDate"
                                                                        th:field="*{settlementDate}" required/>
                                            <script>$('#datepicker3').datepicker({ uiLibrary: 'bootstrap' }); </script>

                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding: 5px">Reason&nbsp;For&nbsp;Leaving</td>
                                        <td style="padding: 5px"><b>:</b></td>
                                        <td style="padding: 5px"><textarea rows="2" cols="22" th:field="*{reasonRelieving}" spellcheck="true" /></td>
                                    </tr>
                                </table>
                            </div>
                        </div><hr class="new1">
                        <div class="row">
                            <div class="col-md-6 col-sm-10 col-xs-5">
                                <table>
                                    <tr>
                                        <th>Earnings</th>
                                    </tr>
                                    <tr>
                                        <td  style="padding: 5px">Previous&nbsp;ARR</td>
                                        <td  style="padding: 5px"><b>:</b></td>
                                        <td style="padding:5px"><input type="text"
                                                                        th:field="*{previousArrearsEarnings}" onkeypress="return allowPositiveInt(event)"></td>
                                    </tr>
                                    <tr>
                                        <td style="padding: 5px">Other&nbsp;Earnings</td>
                                        <td style="padding: 5px"><b>:</b></td>
                                        <td style="padding: 5px"><input type="text" th:field="*{otherSettlementEarnings}" onkeypress="return allowPositiveInt(event)"></td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-md-6 col-sm-10 col-xs-5">
                                <table>
                                    <tr>
                                        <th>Deductions</th>
                                    </tr>
                                    <tr>
                                        <td style="padding: 5px">Admin&nbsp;Charges</td>
                                        <td style="padding: 5px"><b>:</b></td>
                                        <td style="padding:5px"><input type="text" th:field="*{adminCharges}" onkeypress="return allowPositiveInt(event)"></td>
                                    </tr>
                                    <tr>
                                        <td style="padding: 5px">Other&nbsp;Deductions</td>
                                        <td style="padding: 5px"><b>:</b></td>
                                        <td style="padding: 5px"><input type="text" th:field="*{otherSettlementDeductions}" onkeypress="return allowPositiveInt(event)"></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-sm-10 col-xs-5">
                                <table width="100%">
                                    <tr>
                                        <td>
                                            <button class="submitButton" onclick="submitCalculate()" type="button" id="calculatebtn">
                                                <b>Calculate</b>
                                            </button>
                                        </td>
                                        <td>
                                            <button class="submitButton" onclick="saveEmployeeSettlement()"
                                                    type="button" id="savebtn">
                                                <b>Save</b>
                                            </button>
                                        </td>
                                        <td>
                                            <button class="submitButton" onclick="goBack()" type="button">
                                                <b>Back</b>
                                            </button>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:insert="html/fragment/footer :: footer"></footer>
</body>

</html>

