<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>F & F settlement</title>
</head>
<body>
<header th:insert="html/fragment/header :: header"></header>
<div id="itp_overlay" class="black_overlay" ></div>
<div id="loading" class="loading" ></div>

<div class="container-fluid text-center" id="MenuWrapper">
    <div class="row content">
        <div class="col-sm-2 sidenav">
        </div>
        <div class="col-sm-8 text-left">
            <div class="jumbotron">
                <div class="container">
                    <form action="searchEmployeeSettlement" th:action="@{searchEmployeeSettlement}" method="post"
                          name="searchFEmployeeForm" id="searchFEmployeeForm" th:object="${employeeForm}">
                        <div class="Heading">F & F settlement</div>
                        <div class="row">
                            <div class="col-md-6 col-sm-12 col-xs-10">
                                <table width="100%">
                                    <tr>
                                        <td>First Name</td>
                                        <td width="15px"><b>:</b></td>
                                        <td style="padding: 5px"><input th:field="${employeeForm.firstName}" type="text" style="border-radius:5px" onkeypress=" return allowCharactersAndSpaces(event);">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Status</td>
                                            <td width="15px"><b>:</b></td>
                                            <td><select class="selectOption" th:field="${employeeForm.status}">
                                                <option th:value="working">working</option>
                                                <option th:value="Resigned">Resigned</option>
                                            </select>
                                            </td>
                                        </tr>
                                    </table>
                            </div>
                            <div class="col-md-6 col-sm-12 col-xs-10">
                                    <table width="100%">
                                        <tr>
                                            <td>Last&nbsp;Name</td>
                                            <td width="15px"><b>:</b></td>
                                            <td style="padding: 5px"><input th:field="${employeeForm.lastName}" type="text" style="border-radius:5px" onkeypress=" return allowCharactersAndSpaces(event);">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td> Department</td>
                                            <td width="15px"><b>:</b></td>
                                            <td><select th:field="${employeeForm.department}" class="selectOption">
                                                <option value="">All</option>
                                                <option th:each="branches : ${employeeForm.departments}" th:value="${branches.department}" th:text="${branches.department}"/>
                                                <!--<option th:value="Admin">Admin</option>
                                                <option th:value="IT">IT</option>
                                                <option th:value="CC-IE">CC-IE</option>
                                                <option th:value="CC-TTS">CC-TTS</option>
                                                <option th:value="Operations">Operations</option>
                                                <option th:value="Accounts">Accounts</option>
                                                <option th:value="HR">HR</option>-->
                                            </select>
                                            </td>
                                        </tr>
                                    </table>
                                <div style="float:right">
                                    <button id="Login" class="submitButton" onclick="searchFEmployee()" type="button">
                                        <b>Search</b>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="Heading">Search Results</div>
                    <div class="row">
                        <div class="col-md-12 col-sm-10 col-xs-5">
                            <div id="settlementResult">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:insert="html/fragment/footer :: footer"></footer>
</body>
</html>
</html>

