<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Monthly Incentives Search</title>
</head>
<body>
<header th:insert="html/fragment/header :: header"></header>
<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-2 sidenav">
        </div>
        <div class="col-sm-8 text-left">
            <div class="jumbotron">
                <div class="container-fluid">
                    <form action="/incentive/search" th:action="@{/incentive/search}" method="post" id="incentiveForm" name="incentiveForm" th:object="${incentiveForm}">
                        <div class="Heading">Monthly Incentives Search</div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12  col-md-12 col-lg-6 ">
                                <table>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td><span id="incentiveDateError" style="color:red;"></span></td>
                                    </tr>
                                    <tr>
                                        <td> DATE</td>
                                        <td width="20px"><span style="color:red"> *</span></td>
                                        <td width="20px"><b>:</b></td>
                                        <td>
                                            <input style=" float:left; border: 1px solid #ff9900;" width="200px" th:field="*{incentiveDate}" type="text"/>
                                            <script>$('#incentiveDate').datepicker({ uiLibrary: 'bootstrap' });</script>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-xs-10 col-sm-10  col-md-10 col-lg-5">
                                <div style="float: right">
                                    <button type="button" onclick="searchIncentive()" class="submitButton" ><b>Search</b>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12  col-md-12 col-lg-12 ">
                            <div class="Heading">Search Results</div>
                        </div>
                    </div>
                    <div id="searchIncentiveResults" th:include="html/fragment/incentiveResult :: incentiveResult"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:insert="html/fragment/footer :: footer"></footer>
</body>
</html>