<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">


    <title></title>
    <style type="text/css">
		.RoundedCornerboxform16Pages{
			padding-left: 15px;
			border: 1px solid #d7d7c1;
			height:1400px;
			width: 1000px;
			background-color: #f2f2f2;
		}
		.Heading{
			padding-top: 10px;
			color: 	#E80000; 
			font-size: 20px;
		}
		button{
			background-color:#f7941e; 
			border: 1px solid #f7941e;
			color: white;
			margin-left: 10px;
		}
		.col-1{
			padding-top: 10px;
			padding-bottom: 10px;
		}
		.head{
			margin-right: 10px;
		
			font-size: 17px;
		}
		.col-3{
			padding-top: 10px;
		}
		.inputfield{
			background-color: rgb(211,211,211);
			margin-left: 15px;
			padding-top: 10px;: 
		}
		.col-4{
			padding-top: 15px;
		}
		
		.col-6{
			padding-top: 15px;
		}
		.inputfieldsection{
				background-color: rgb(211,211,211);
			margin-left: 15px;
			padding-top: 5px;
			padding-right: 80px;
			margin-top: 15px;
		}
		.col-9{
			float: right;
			margin-right: 10px;
			margin-top: 10px;
			padding-top: 10px;
			padding-bottom: 10px;
		}
		.greybtn{
			border: 1px solid grey;
			background-color: grey;
		}
		.selectOption{
			padding-top:12px;
			padding-bottom:12px;
		}

    </style>
</head>
<body>
<header th:insert="html/fragment/header :: header"></header>

<div class="form-page">
    <form>
        <div class="Heading">
            <label>Income Tax Sections</label>
        </div>
        <hr>
        <div class="col-1">
            <span class="head">Financial Year</span>
            <select class="selectOption">
                <option value="jan">JAN</option>
                <option value="feb">FEB</option>
                <option value="mar">MAR</option>
                <option value="apr">APR</option>
                <option value="may">MAY</option>
                <option value="jun">JUN</option>
                <option value="jul">JUL</option>
                <option value="aug">AUG</option>
                <option value="sep">SEP</option>
                <option value="oct">OCT</option>
                <option value="nov">NOV</option>
                <option value="dec">DEC</option>
            </select>
            <select class="selectOption">
                <option value="2007">2007</option>
                <option value="2008">2008</option>
                <option value="2008">2009</option>
                <option value="2008">2010</option>
                <option value="2008">2011</option>
                <option value="2008">2012</option>
                <option value="2008">2013</option>
                <option value="2008">2014</option>
                <option value="2008">2015</option>
                <option value="2008">2016</option>
                <option value="2008">2017</option>
                <option value="2008">2018</option>
                <option value="2008">2019</option>
                <option value="2008">2020</option>
                <option value="2008">2021</option>
                <option value="2008">2022</option>
                <option value="2008">2023</option>
                <option value="2008">2024</option>
                <option value="2008">2025</option>
                <option value="2008">2026</option>
                <option value="2008">2027</option>
                <option value="2008">2028</option>
                <option value="2008">2029</option>
                <option value="2008">2030</option>

            </select>

            </span>
            <span class="head">To</span>
            <span>
						<select class="selectOption">
							<option value="jan">JAN</option>
							<option value="feb">FEB</option>
							<option value="mar">MAR</option>
							<option value="apr">APR</option>
							<option value="may">MAY</option>
							<option value="jun">JUN</option>
							<option value="jul">JUL</option>
							<option value="aug">AUG</option>
							<option value="sep">SEP</option>
							<option value="oct">OCT</option>
							<option value="nov">NOV</option>
							<option value="dec">DEC</option>
						</select>
						<select class="selectOption">
							<option value="2007">2007</option>
							<option value="2008">2008</option>
							<option value="2008">2009</option>
							<option value="2008">2010</option>
							<option value="2008">2011</option>
							<option value="2008">2012</option>
							<option value="2008">2013</option>
							<option value="2008">2014</option>
							<option value="2008">2015</option>
							<option value="2008">2016</option>
							<option value="2008">2017</option>
							<option value="2008">2018</option>
							<option value="2008">2019</option>
							<option value="2008">2020</option>
							<option value="2008">2021</option>
							<option value="2008">2022</option>
							<option value="2008">2023</option>
							<option value="2008">2024</option>
							<option value="2008">2025</option>
							<option value="2008">2026</option>
							<option value="2008">2027</option>
							<option value="2008">2028</option>
							<option value="2008">2029</option>
							<option value="2008">2030</option>

						</select>
					
					
					<button type="button">Retrieve</button>
        </div>
        <div class="col-2">
            <span class="Heading">Income Tax Slabs</span>
            <button style="float: right; padding-right: 10px; margin-right: 30px;" type="button">ADD TAX SLAB</button>
            <hr>
            <div class="col-3">
                <span class="head">From</span>
                <input class="inputfield" name="" type="text">
                <span class="head" style="margin-left: 15px;">To</span>
                <input class="inputfield" name="" type="text">
                <span class="head" style="margin-left: 15px;">Tax Rate</span>
                <input class="inputfield" name="" type="text">
            </div>
            <div class="col-3">
                <span class="head">From</span>
                <input class="inputfield" name="" type="text">
                <span class="head" style="margin-left: 15px;">To</span>
                <input class="inputfield" name="" type="text">
                <span class="head" style="margin-left: 15px;">Tax Rate</span>
                <input class="inputfield" name="" type="text">
            </div>
            <div class="col-3">
                <span class="head">From</span>
                <input class="inputfield" name="" type="text">
                <span class="head" style="margin-left: 15px;">To</span>
                <input class="inputfield" name="" type="text">
                <span class="head" style="margin-left: 15px;">Tax Rate</span>
                <input class="inputfield" name="" type="text">
            </div>
            <div class="col-3">
                <span class="head">Above</span>
                <input class="inputfield" name="" style="margin-left: 8px;" type="text">
                <span class="head" style="margin-left: 15px;">Tax Rate</span>
                <input class="inputfield" name="" type="text">
                <button type="button">Edit</button>
            </div>
            <div class="col-4">
                <span class="Heading">Rebates</span>
                <button style="float: right; padding-right: 10px; margin-right: 30px;" type="button">ADD REBATE</button>
                <hr>
            </div>
            <div class="col-5">
                <span class="head">Name</span>
                <input class="inputfield" name="" type="text" value="U/s 87A">
                <span class="head">Income Limit</span>
                <input class="inputfield" name="" type="text" value="500000.00">
                <span class="head">Amount</span>
                <input class="inputfield" name="" type="text" value="2000.00">
                <button type="button">Save</button>
                <button type="button">Edit</button>
                <button type="button">Remove</button>
            </div>
            <div class="col-6">
                <span class="Heading">Sections</span>
                <button style="float: right; padding-right: 10px; margin-right: 30px;" type="button">ADD SECTION
                </button>
                <hr>
            </div>
            <div>
                <span class="head">U/s 10</span>
                <button type="button">Add</button>
            </div>
            <div>
                <span class="head">Section Limit</span><input class="inputfieldsection" type="text" value="1000000.00">
                <button type="button">Save</button>
                <button type="button">Edit</button>
                <button class="greybtn" style="float:right; margin-right: 5px;" type="button">REMOVE SECTION</button>
            </div>
            <div>
                <input class="inputfieldsection" name="" type="text" value="HRA">
                <button type="button">Save</button>
                <button class="greybtn" type="button">Edit</button>
                <button class="greybtn" type="button">Remove</button>
            </div>
            <div>
                <input class="inputfieldsection" name="" type="text" value="PT">
                <button type="button">Save</button>
                <button class="greybtn" type="button">Edit</button>
                <button class="greybtn" type="button">Remove</button>
            </div>
            <div>
                <input class="inputfieldsection" name="" type="text" value="LTA">
                <button type="button">Save</button>
                <button class="greybtn" type="button">Edit</button>
                <button class="greybtn" type="button">Remove</button>
            </div>
            <div>
                <input class="inputfieldsection" name="" type="text" value="food coupons">
                <button type="button">Save</button>
                <button class="greybtn" type="button">Edit</button>
                <button class="greybtn" type="button">Remove</button>
            </div>
            <div>
                <input class="inputfieldsection" name="" type="text" value="Travel Allowance">
                <button type="button">Save</button>
                <button class="greybtn" type="button">Edit</button>
                <button class="greybtn" type="button">Remove</button>
            </div>
            <div>
                <input class="inputfieldsection" name="" type="text" value="Home Loan Interest Amount">
                <button type="button">Save</button>
                <button class="greybtn" type="button">Edit</button>
                <button class="greybtn" type="button">Remove</button>
            </div>
            <hr>
            <div class="col-7">
                <span class="Heading">U/s 80C</span>
                <button type="button">ADD</button>

            </div>
            <div>
                <span class="head">Section Limit</span><input class="inputfieldsection" type="text" value="150000.00">
                <button type="button">Save</button>
                <button class="greybtn" type="button">Edit</button>
                <button class="greybtn" style="float:right; margin-right: 5px;" type="button">REMOVE SECTION</button>
            </div>
            <div>
                <input class="inputfieldsection" name="" type="text" value="Home Loan Principle Amount">
                <button type="button">Save</button>
                <button class="greybtn" type="button">Edit</button>
                <button class="greybtn" type="button">Remove</button>
            </div>
            <div>
                <input class="inputfieldsection" name="" type="text" value="PPF">
                <button type="button">Save</button>
                <button class="greybtn" type="button">Edit</button>
                <button class="greybtn" type="button">Remove</button>
            </div>
            <div>
                <input class="inputfieldsection" name="" type="text" value="Fixed Deposits">
                <button type="button">Save</button>
                <button class="greybtn" type="button">Edit</button>
                <button class="greybtn" type="button">Remove</button>
            </div>
            <div>
                <input class="inputfieldsection" name="" type="text" value="PF">
                <button type="button">Save</button>
                <button class="greybtn" type="button">Edit</button>
                <button class="greybtn" type="button">Remove</button>
            </div>
            <div>
                <input class="inputfieldsection" name="" type="text" value="Tution Fees">
                <button type="button">Save</button>
                <button class="greybtn" type="button">Edit</button>
                <button class="greybtn" type="button">Remove</button>
            </div>
            <div>
                <input class="inputfieldsection" name="" type="text" value="Pradanamantri Sukanya Samvrudi">
                <button type="button">Save</button>
                <button class="greybtn" type="button">Edit</button>
                <button class="greybtn" type="button">Remove</button>
            </div>
            <div>
                <input class="inputfieldsection" name="" type="text" value="Life Insurance Policies">
                <button type="button">Save</button>
                <button class="greybtn" type="button">Edit</button>
                <button class="greybtn" type="button">Remove</button>
            </div>
            <hr>
            <div class="col-8">
                <span class="Heading">U/s 80D</span>
                <button type="button">ADD</button>

            </div>
            <div>
                <span class="head">Section Limit</span><input class="inputfieldsection" type="text" value="25000.00">
                <button type="button">Save</button>
                <button class="greybtn" type="button">Edit</button>
                <button class="greybtn" style="float:right; margin-right: 5px;" type="button">REMOVE SECTION</button>
            </div>
            <div>
                <input class="inputfieldsection" name="" type="text" value="Medical Insurance-Self With Family">
                <button type="button">Save</button>
                <button class="greybtn" type="button">Edit</button>
                <button class="greybtn" type="button">Remove</button>
            </div>
            <div>
                <input class="inputfieldsection" name="" type="text"
                       value="Medical Insurance-Self With Family and Parents">
                <button type="button">Save</button>
                <button class="greybtn" type="button">Edit</button>
                <button class="greybtn" type="button">Remove</button>
            </div>
            <div>
                <input class="inputfieldsection" name="" type="text" value="Medical Insurance-Self">
                <button type="button">Save</button>
                <button class="greybtn" type="button">Edit</button>
                <button class="greybtn" type="button">Remove</button>
            </div>
            <hr>
            <div class="col-9">
                <button style="width: 100px; height: 30px;" type="button">UPDATE</button>

                <button style="width: 120px; height: 30px;" type="button">SAVE AS NEW</button>

                <button style="width: 100px; height: 30px;" type="button">RESET</button>
            </div>

        </div>

    </form>

</div>
<footer th:insert="html/fragment/footer :: footer"></footer>
</body>
</html>