<!DOCTYPE html>
<html>

<head>
    <title>IT sections</title>
    <style>
        .submitButton {
            border-radius: 5px;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
            cursor: pointer;
            display: inline-block;
            font-size: 13px;
            height: 21px;
            line-height: 21px;
            margin: 0 2px;
            outline: medium none;
            text-align: center;
            text-decoration: none;
            text-shadow: 0 1px 0 #FFFFFF;
            vertical-align: baseline;

            border: 1px solid #DA7C0C;
            border-radius: 5px;
            color: #000000;
        }

        .submitButton:hover {

            box-shadow: 2px 2px 2px 2px #ffbf80;
        }

        td {
            padding: 5px;
        }

        input {
            width: 150px;
            height: 20px;
        }
                .inputfieldsection:read-only {
                 background-color: rgb(211, 211, 211);
                }
    </style>
</head>

<body>
<header th:insert="html/fragment/header :: header"></header>
<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-2 sidenav">
        </div>
        <div class="col-sm-8 text-left">
            <div class="jumbotron">
                <div class="container">
                    <div>
                        <div class="Heading"><label>Income Tax Sections</label></div>
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-10">
                                <div>
                                    <table class="table_text_style">
                                        <tr>
                                            <td>Financial&nbsp;Year</td>
                                            <td><b>:</b></td>
                                            <td>From</td>
                                            <td>
                                                <select>
                                                    <option value="jan">JAN</option>
                                                    <option value="feb">FEB</option>
                                                    <option value="mar">MAR</option>
                                                    <option value="apr">APR</option>
                                                    <option value="may">MAY</option>
                                                    <option value="jun">JUN</option>
                                                    <option value="jul">JUL</option>
                                                    <option value="aug">AUG</option>
                                                    <option value="sep">SEP</option>
                                                    <option value="oct">OCT</option>
                                                    <option value="nov">NOV</option>
                                                    <option value="dec">DEC</option>
                                                </select>
                                            </td>
                                            <td>
                                                <select>
                                                    <option value="2007">2007</option>
                                                    <option value="2008">2008</option>
                                                    <option value="2008">2009</option>
                                                    <option value="2008">2010</option>
                                                    <option value="2008">2011</option>
                                                    <option value="2008">2012</option>
                                                    <option value="2008">2013</option>
                                                    <option value="2008">2014</option>
                                                    <option value="2008">2015</option>
                                                    <option value="2008">2016</option>
                                                    <option value="2008">2017</option>
                                                    <option value="2008">2018</option>
                                                    <option value="2008">2019</option>
                                                    <option value="2008" selected="selected">2020</option>
                                                    <option value="2008">2021</option>
                                                    <option value="2008">2022</option>
                                                    <option value="2008">2023</option>
                                                    <option value="2008">2024</option>
                                                    <option value="2008">2025</option>
                                                    <option value="2008">2026</option>
                                                    <option value="2008">2027</option>
                                                    <option value="2008">2028</option>
                                                    <option value="2008">2029</option>
                                                    <option value="2008">2030</option>
                                                </select>
                                            </td>
                                            <td>To</td>
                                            <td>
                                                <select>
                                                    <option value="jan">JAN</option>
                                                    <option value="feb">FEB</option>
                                                    <option value="mar">MAR</option>
                                                    <option value="apr">APR</option>
                                                    <option value="may">MAY</option>
                                                    <option value="jun">JUN</option>
                                                    <option value="jul">JUL</option>
                                                    <option value="aug">AUG</option>
                                                    <option value="sep">SEP</option>
                                                    <option value="oct">OCT</option>
                                                    <option value="nov">NOV</option>
                                                    <option value="dec">DEC</option>
                                                </select>
                                            </td>
                                            <td>
                                                <select>
                                                    <option value="2007">2007</option>
                                                    <option value="2008">2008</option>
                                                    <option value="2008">2009</option>
                                                    <option value="2008">2010</option>
                                                    <option value="2008">2011</option>
                                                    <option value="2008">2012</option>
                                                    <option value="2008">2013</option>
                                                    <option value="2008">2014</option>
                                                    <option value="2008">2015</option>
                                                    <option value="2008">2016</option>
                                                    <option value="2008">2017</option>
                                                    <option value="2008">2018</option>
                                                    <option value="2008">2019</option>
                                                    <option value="2008" selected="selected">2020</option>
                                                    <option value="2008">2021</option>
                                                    <option value="2008">2022</option>
                                                    <option value="2008">2023</option>
                                                    <option value="2008">2024</option>
                                                    <option value="2008">2025</option>
                                                    <option value="2008">2026</option>
                                                    <option value="2008">2027</option>
                                                    <option value="2008">2028</option>
                                                    <option value="2008">2029</option>
                                                    <option value="2008">2030</option>
                                                </select>
                                            </td>
                                            <td>
                                                <button class="submitButton" onclick="submitSearch()" type="button">
                                                    <b>Retrieve</b>
                                                </button>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>


                        <div class="Heading"><label>Income Tax
                        Slabs</label>
                            <button style="float: right;" onclick="addTaxSlab()">ADD TAX SLAB
                            </button>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-10">
                                <div id="taskSlabs">
                                    <table width="100%" class="table_text_style" id="taskSlabsTable">
                                        <tr>
                                            <td>From</td>
                                            <td><input name="" type="text" readonly="readonly"
                                                       style="background-color: rgb(211, 211, 211)" ;></td>
                                            <td>To</td>

                                            <td><input name="" type="text" readonly="readonly"
                                                       style="background-color: rgb(211, 211, 211)" ;></td>
                                            <td>Tax Rate</td>

                                            <td><input name="" type="text" readonly="readonly"
                                                       style="background-color: rgb(211, 211, 211)" ;></td>
                                        </tr>
                                        <tr>
                                            <td>From</td>

                                            <td><input name="" type="text" readonly="readonly"
                                                       style="background-color: rgb(211, 211, 211)" ;></td>
                                            <td>To</td>

                                            <td><input name="" type="text" readonly="readonly"
                                                       style="background-color: rgb(211, 211, 211)" ;></td>
                                            <td>Tax Rate</td>

                                            <td><input name="" type="text" readonly="readonly"
                                                       style="background-color: rgb(211, 211, 211)" ;></td>
                                        </tr>
                                        <tr>
                                            <td>From</td>

                                            <td><input name="" type="text" readonly="readonly"
                                                       style="background-color: rgb(211, 211, 211)" ;></td>
                                            <td>To</td>

                                            <td><input name="" type="text" readonly="readonly"
                                                       style="background-color: rgb(211, 211, 211)" ;></td>
                                            <td>Tax Rate</td>

                                            <td><input name="" type="text" readonly="readonly"
                                                       style="background-color: rgb(211, 211, 211)" ;></td>

                                        </tr>
                                        <tr>
                                            <td>Above</td>

                                            <td><input name="" type="text" readonly="readonly"
                                                       style="background-color: rgb(211, 211, 211)" ;></td>
                                            <td>Tax Rate</td>

                                            <td><input name="" type="text" readonly="readonly"
                                                       style="background-color: rgb(211, 211, 211)" ;></td>

                                        </tr>
                                    </table>
                                    <div style="float: right;margin-right: 150px;">

                                        <button style=" float: left" class="submitButton" id="taxSlabEditBtn"
                                                onclick="taxSlabEdit()">
                                            <b>Edit</b>
                                        </button>

                                        <button class="submitButton" id="taxSlabSaveBtn" onclick="taxSlabSave()"
                                                style="display: none; float: left">
                                            <b>Save</b>
                                        </button>

                                        <button class="submitButton" id="taxSlabCancelBtn" onclick="taxSlabCancel()"
                                                style="display: none; float: left">
                                            <b>cancel</b>
                                        </button>

                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="Heading"><label>Rebates</label>
                            <button style="float: right;" onclick="addRebate()">ADD&nbsp;REBATE
                            </button>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-10">
                                <div>
                                    <table width="100%" class="table_text_style" id="addRebateTable">
                                        <tr>
                                            <td>Name</td>
                                            <td><b>:</b></td>
                                            <td><input class="inputfield" name="" type="text" value="U/s 87A"></td>
                                            <td>Income&nbsp;Limit</td>
                                            <td><b>:</b></td>
                                            <td><input class="inputfield" name="" type="text" value="500000.00">
                                            </td>
                                            <td>Amount</td>
                                            <td><b>:</b></td>
                                            <td><input class="inputfield" name="" type="text" value="2000.00"></td>
                                            <td>
                                                <button class="submitButton" name="rebateSave"><b>Save</b></button>
                                            </td>
                                            <td>
                                                <button class="submitButton" id="rebateEdit">
                                                    <b>Edit</b>
                                                </button>
                                            </td>
                                            <td>
                                                <button class="submitButton" name="rebateRemove" >
                                                    <b>Remove</b>
                                                </button>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>


                        <div class="Heading"><label>Sections</label>
                            <button style="float: right; padding-right: 10px; margin-right: 30px;" onclick="addSection()" type="button" id="addNew">ADD&nbsp;NEW&nbsp;SECTION
                            </button>
                        </div>
                        <div id="addTable">

                        </div>
                        <!--<div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-10">
                                <div>
                                    <table width="100%" class="table_text_style ">
                                        <tr>
                                            <td><input id="sectionName" type="text" placeholder="Add section Name"></td>
                                            <td><button onClick="saveSection()" class="button btnOrange" type="button">
                                                <b>Save</b></button></td>
                                            <td><button onClick="cancelSection()" class="button btnGray" type="button">
                                                <b>Cancel</b></button></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>-->
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-10">
                                <div id="us10">
                                    <table width="100%" class="table_text_style" id="us10section">
                                        <tr>
                                            <td>U/s 10</td>
                                            <td><b>
                                                <button type="button">Add</button>
                                            </b></td>
                                        </tr>
                                        <tr>
                                            <td>Section&nbsp;Limit</td>
                                            <td><input class="inputfieldsection" type="text" value="1000000.00" readonly="readonly">
                                            </td>
                                            <td><b>
                                                <button class="submitButton" type="button"name="us10Save">Save</button>
                                            </b></td>
                                            <td><b>
                                                <button class="submitButton" name="us10Edit" value="Edit"><b>Edit</b></button>
                                            </b></td>
                                            <td>
                                                <button
                                                        style="float: right; padding-right: 10px; margin-right: 30px;"
                                                         class="submitButton" onclick="removeSection()" name="us10RemoveSection">
                                                    Remove&nbsp;Section
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><input class="inputfieldsection" name="" type="text"
                                                       value="Home Loan Interest Amount" readonly="readonly"></td>
                                            <td><b>
                                                <button class="submitButton" type="button" name="us10Save">Save</button>
                                            </b></td>
                                            <td>
                                                <button class="submitButton" name="us10Edit">
                                                    <b>Edit</b>
                                                </button>
                                            </td>
                                            <td>
                                                <button class="submitButton" name="us10Remove" >
                                                    <b>Remove</b>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><input class="inputfieldsection" name="" type="text"
                                                       value="Travel Allowance" readonly="readonly"></td>
                                            <td><b>
                                                <button class="submitButton" type="button" name="us10Save">Save</button>
                                            </b></td>
                                            <td>
                                                <button class="submitButton" name="us10Edit">
                                                    <b>Edit</b>
                                                </button>
                                            </td>
                                            <td>
                                                <button class="submitButton"  name="us10Remove">
                                                    <b>Remove</b>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><input class="inputfieldsection" name="" type="text" value="HRA" readonly="readonly">
                                            </td>
                                            <td><b>
                                                <button class="submitButton" type="button" name="us10Save">Save</button>
                                            </b></td>
                                            <td>
                                                <button class="submitButton" name="us10Edit">
                                                    <b>Edit</b>
                                                </button>
                                            </td>
                                            <td>
                                                <button class="submitButton"  name="us10Remove" >
                                                    <b>Remove</b>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><input class="inputfieldsection" name="" type="text"
                                                       value="Medical Allowance" readonly="readonly"></td>
                                            <td><b>
                                                <button class="submitButton" type="button" name="us10Save">Save</button>
                                            </b></td>
                                            <td>
                                                <button class="submitButton" name="us10Edit">
                                                    <b>Edit</b>
                                                </button>
                                            </td>
                                            <td>
                                                <button class="submitButton"  name="us10Remove" >
                                                    <b>Remove</b>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><input class="inputfieldsection" name="" type="text" value="LTA"readonly="readonly">
                                            </td>
                                            <td><b>
                                                <button class="submitButton" type="button" name="us10Save">Save</button>
                                            </b></td>
                                            <td>
                                                <button class="submitButton" name="us10Edit">
                                                    <b>Edit</b>
                                                </button>
                                            </td>
                                            <td>
                                                <button class="submitButton" name="us10Remove"  >
                                                    <b>Remove</b>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><input class="inputfieldsection" name="" type="text" value="PT" readonly="readonly">
                                            </td>
                                            <td><b>
                                                <button class="submitButton" type="button" name="us10Save">Save</button>
                                            </b></td>
                                            <td>
                                                <button class="submitButton" name="us10Edit">
                                                    <b>Edit</b>
                                                </button>
                                            </td>
                                            <td>
                                                <button class="submitButton"  name="us10Remove" >
                                                    <b>Remove</b>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><input class="inputfieldsection" name="" type="text"
                                                       value="Food Coupons" readonly="readonly"></td>
                                            <td><b>
                                                <button class="submitButton" type="button" name="us10Save">Save</button>
                                            </b></td>
                                            <td>
                                                <button class="submitButton" name="us10Edit" value="Edit">
                                                    <b>Edit</b></button>
                                            </td>
                                            <td>
                                                <button class="submitButton" name="us10Remove" >
                                                    <b>Remove</b>
                                                </button>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>


                        <hr>
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-10">
                                <div>
                                    <table width="100%" class="table_text_style table-sm" id="us80csection">
                                        <tr>
                                            <td>U/s 80C</td>
                                            <td>
                                                <button type="button">ADD</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Section&nbsp;Limit</td>
                                            <td><input class="inputfieldsection" type="text" value="1000000.00" readonly="readonly">
                                            </td>
                                            <td><b>
                                                <button class="submitButton" type="button"name="us80cSave">Save</button>
                                            </b></td>
                                            <td><b>
                                                <button class="submitButton" name="us80cEdit" value="Edit"><b>Edit</b></button>
                                            </b></td>

                                            <td>
                                                <button
                                                        style="float: right; padding-right: 10px; margin-right: 30px;"
                                                        class="submitButton" onclick="removeSection()" name="us80cRemoveSection">
                                                    Remove&nbsp;Section
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><input class="inputfieldsection" name="" type="text"
                                                       value="Fixed Deposites" readonly="readonly"></td>
                                            <td><b>
                                                <button class="submitButton" type="button"name="us80cSave">Save</button>
                                            </b></td>
                                            <td><b>
                                                <button class="submitButton" name="us80cEdit" value="Edit"><b>Edit</b></button>
                                            </b></td>
                                            <td>
                                                <button class="submitButton" name="us80cRemove" >
                                                    <b>Remove</b>
                                                </button>
                                            </td>


                                        </tr>
                                        <tr>
                                            <td><input class="inputfieldsection" name="" type="text"
                                                       value="Pradanmantri Sukanya Samvrudi" readonly="readonly"></td>
                                            <td><b>
                                                <button class="submitButton" type="button"name="us80cSave">Save</button>
                                            </b></td>
                                            <td><b>
                                                <button class="submitButton" name="us80cEdit" value="Edit"><b>Edit</b></button>
                                            </b></td>
                                            <td>
                                                <button class="submitButton" name="us80cRemove" >
                                                    <b>Remove</b>
                                                </button>

                                        </tr>
                                        <tr>
                                            <td><input class="inputfieldsection" name="" type="text"
                                                       value="Tution Fee"  readonly="readonly">
                                            </td>
                                            <td><b>
                                                <button class="submitButton" type="button"name="us80cSave">Save</button>
                                            </b></td>
                                            <td><b>
                                                <button class="submitButton" name="us80cEdit" value="Edit"><b>Edit</b></button>
                                            </b></td>

                                            <td>
                                                <button class="submitButton" name="us80cRemove" >
                                                    <b>Remove</b>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><input class="inputfieldsection" name="" type="text"
                                                       value="Life Insurance Policies" readonly="readonly"></td>
                                            <td><b>
                                                <button class="submitButton" type="button"name="us80cSave">Save</button>
                                            </b></td>
                                            <td><b>
                                                <button class="submitButton" name="us80cEdit" value="Edit"><b>Edit</b></button>
                                            </b></td>

                                            <td>
                                                <button class="submitButton" name="us80cRemove" >
                                                    <b>Remove</b>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><input class="inputfieldsection" name="" type="text" value="PPF" readonly="readonly">
                                            </td>
                                            <td><b>
                                                <button class="submitButton" type="button"name="us80cSave">Save</button>
                                            </b></td>
                                            <td><b>
                                                <button class="submitButton" name="us80cEdit" value="Edit"><b>Edit</b></button>
                                            </b></td>

                                            <td>
                                                <button class="submitButton" name="us80cRemove" >
                                                    <b>Remove</b>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><input class="inputfieldsection" name="" type="text"
                                                       value="Home Loan Principle Amount" readonly="readonly"></td>
                                            <td><b>
                                                <button class="submitButton" type="button"name="us80cSave">Save</button>
                                            </b></td>
                                            <td><b>
                                                <button class="submitButton" name="us80cEdit" value="Edit"><b>Edit</b></button>
                                            </b></td>

                                            <td>
                                                <button class="submitButton" name="us80cRemove" >
                                                    <b>Remove</b>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><input class="inputfieldsection" name="" type="text" value="PF" readonly="readonly">
                                            </td>
                                            <td><b>
                                                <button class="submitButton" type="button"name="us80cSave">Save</button>
                                            </b></td>
                                            <td><b>
                                                <button class="submitButton" name="us80cEdit" value="Edit"><b>Edit</b></button>
                                            </b></td>

                                            <td>
                                                <button class="submitButton" name="us80cRemove" >
                                                    <b>Remove</b>
                                                </button>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>

                        </div>


                        <div style="border-top: 3px solid rgb(211,211,211)">
                          <!--  <span class="Headin</span>
                            <button class="submitButton">ADD</button>-->

                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div>
                                    <table width="100%" class="table_text_style table-sm" id="us80dsection">
                                        <tr>
                                            <td>U/s 80C</td>
                                            <td>
                                                <button type="button">ADD</button>
                                            </td>
                                        </tr>
                                        <tr>

                                            <td><span class="head">Section&nbsp;Limit</span></td>
                                            <td><input class="inputfieldsection" type="text" value="25000.00" readonly="readonly"></td>
                                            <td><b>
                                                <button class="submitButton" type="button"name="us80dSave">Save</button>
                                            </b></td>
                                            <td><b>
                                                <button class="submitButton" name="us80dEdit" value="Edit"><b>Edit</b></button>
                                            </b></td>
                                          <!-- <td><b>
                                                <button class="submitButton" style="float:right; margin-right: 5px;onclick="removeSection()" name="us80dRemoveSection"><b>Remove&nbsp;Section</b>
                                                </button>
                                            </b></td>-->
                                           <td>
                                                <button
                                                        style="float:right; margin-right: 5px;"
                                                        class="submitButton" onclick="removeSection()" name="us80dRemoveSection">
                                                    Remove&nbsp;Section
                                                </button>
                                            </td>
                                        </tr>

                                        <tr>

                                            <td><input class="inputfieldsection" name="" type="text"
                                                       value="Medical&nbsp;Insurance-Self&nbsp;With&nbsp;Family" readonly="readonly"></td>
                                            <td><b>
                                                <button class="submitButton" type="button"name="us80dSave">Save</button>
                                            </b></td>
                                            <td><b>
                                                <button class="submitButton" name="us80dEdit" value="Edit"><b>Edit</b></button>
                                            </b></td>
                                            <td>
                                                <button class="submitButton" name="us80dRemove" >
                                                    <b>Remove</b>
                                                </button>
                                            </td>
                                        </tr>

                                        <tr>

                                            <td><input class="inputfieldsection" name="" type="text"
                                                       value="Medical&nbsp;Insurance-Self&nbsp;With&nbsp;Family&nbsp;and&nbsp;Parents" readonly="readonly">
                                            </td>
                                            <td><b>
                                                <button class="submitButton" type="button"name="us80dSave">Save</button>
                                            </b></td>
                                            <td><b>
                                                <button class="submitButton" name="us80dEdit" value="Edit"><b>Edit</b></button>
                                            </b></td>
                                            <td>
                                                <button class="submitButton"  name="us80dRemove" >
                                                    <b>Remove</b>
                                                </button>
                                            </td>
                                        </tr>

                                        <tr>

                                            <td><input class="inputfieldsection" name="" type="text"
                                                       value="Medical&nbsp;Insurance-Self" readonly="readonly"></td>
                                            <td><b>
                                                <button class="submitButton" type="button"name="us80dSave">Save</button>
                                            </b></td>
                                            <td><b>
                                                <button class="submitButton" name="us80dEdit" value="Edit"><b>Edit</b></button>
                                            </b></td>
                                            <td>
                                                <button class="submitButton" name="us80dRemove"  >
                                                    <b>Remove</b>
                                                </button>
                                            </td>
                                        </tr>






                                    </table>
                                </div>
                            </div>




                            <div class="col-lg-10">
                                <div id="addNewSection">

                                </div>

                            </div>
                        </div>

                        <hr>
                        <div class="col-lg-10">
                            <button style="width: 100px; height: 30px;" class="submitButton">UPDATE</button>

                            <button style="width: 120px; height: 30px;" class="submitButton">SAVE AS NEW</button>

                            <button style="width: 100px; height: 30px;" class="submitButton">RESET</button>
                        </div>


                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:insert="html/fragment/footer :: footer"></footer>
</body>
</html>