<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>net Salary</title>
</head>
<body>
<header th:insert="html/fragment/header :: header"></header>
<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-2 sidenav">
        </div>
        <div class="col-sm-8 text-left">
            <div class="jumbotron">
                <div class="container">
                    <form action="" th:object="${salaryForm.currentSalary}">
                        <div class="Heading">Net Salary</div>
                                <table width="100%" cellpadding="0" cellspacing="0" class="table table-bordered table-responsive-lg table-hover">
                                    <tr>
                                        <td align="center" colspan="4" style="font-size:190%"><b>Net Salary Calculation Details</b></td>
                                    </tr>
                                    <tr>
                                        <td colspan="2"><b>Employee Name</b></td>
                                        <td colspan="2"><span th:text="${salaryForm.employee.fullName}"></span></td>
                                    </tr>
                                    <tr>
                                        <td colspan="2"><b>Designation</b></td>
                                        <td colspan="2"><span th:text="${salaryForm.employee.designation}"></span></td>
                                    </tr>
                                    <tr>
                                            <td><b>Employee ID</b></td>
                                            <td><span th:text="${salaryForm.employee.empId}"></span></td>
                                            <td><b>Joining Date</b></td>
                                            <td><span th:text="${#calendars.format(salaryForm.employee.joinDate,'MMMM dd yyyy')}"></span></td>
                                        </tr>
                                        <tr>
                                            <td><b>Bank A/C No.</b></td>
                                            <td><span th:text="${salaryForm.employee.bankAc}"></span></td>
                                            <td><b>PF No</b></td>
                                            <td><span th:text="${salaryForm.employee.pfNo}"></span></td>
                                        </tr>
                                        <tr>
                                            <td><b>ARR Days</b></td>
                                            <td><span th:text="*{arrearsDays}"></span></td>
                                            <td><b>LOP Days</b></td>
                                            <td><span th:text="*{lopDays}"></span></td>
                                        </tr>
                                        <tr style="background-color:#999999">
                                            <td><b>Earnings</b></td>
                                            <td><b>Amount</b></td>
                                            <td><b>Deductions</b></td>
                                            <td><b>Amount</b></td>
                                        </tr>
                                         <tr>
                                             <td><b>Basic Salary</b></td>
                                            <td><span th:text="*{basic}"></span></td>
                                             <td><b>Emp PF</b></td>
                                            <td><span th:text="*{pfEmp}"></span></td>
                                        </tr>
                                        <tr>
                                            <td><b>HRA</b></td>
                                            <td><span th:text="*{hra}"></span></td>
                                            <td><b>ESI</b></td>
                                            <td><span th:text="*{esi}"></span></td>
                                        </tr>
                                         <tr>
                                             <td><b>Conveyance</b></td>
                                            <td><span th:text="*{conveyence}"></span></td>
                                             <td><b>Professional Tax</b></td>
                                            <td><span th:text="*{PTax}"></span></td>
                                        </tr>
                                        <tr>
                                            <td><b>Medical Allowance</b></td>
                                            <td><span th:text="*{medicalAllowance}"></span></td>
                                            <td><b>Income Taxs</b></td>
                                            <td><span th:text="*{incomeTax}"></span></td>
                                        </tr>
                                        <tr>
                                            <td><b>Special Allowance</b></td>
                                            <td><span th:text="*{specialAllowance}"></span></td>
                                            <td><b>Salary In Advance</b></td>
                                            <td><span th:text="*{salaryInAdvance}"></span></td>
                                        </tr>
                                         <tr>
                                             <td><b>Performance Inc</b></td>
                                             <td><span th:text="*{performanceIncentives}"></span></td>
                                             <td><b>Misc Deductions</b></td>
                                             <td><span th:text="*{miscDeductions}"></span></td>
                                        </tr>
                                        <tr>
                                            <td><b>Other Allowance</b></td>
                                            <td><span th:text="*{otherAllowance}"></span></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td><b>Telephone Allowance</b></td>
                                            <td><span th:text="*{telephoneAllowance}"></span></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td><b>Internet Allowance</b></td>
                                            <td><span th:text="*{internetAllowance}"></span></td>
                                            <td></td>
                                            <td></td>

                                        </tr>
                                         <tr>
                                             <td><b>Uniform Allowance</b></td>
                                             <td><span th:text="*{uniformAllowance}"></span></td>
                                             <td></td>
                                             <td></td>
                                        </tr>
                                        <tr>
                                                <td style="color:#008000;font-size:120%"><b>Total Earnings</b></td>
                                                <td><span th:text="*{totalEarnings}"></span></td>
                                                <td style="color:red;font-size:120%"><b>Total Deductions</b></td>
                                                <td><span th:text="*{totalDeductions}"></span></td>

                                        </tr>
                                        <tr>
                                            <td style="color:#008000;font-size:120%"><b>Net Salary</b></td>
                                            <td><span th:text="*{netSalary}"></span></td>

                                        </tr>
                                        <tr>
                                            <td colspan="4">
                                                <table align="right" width="25%" cellpadding="0" cellspacing="0">
                                                    <td align="center" height="21px" width="128">
                                                        <a style="text-decoration:none" href="javascript: window.history.go(-1);"><button class="submitButton">Re-&nbsp;Generate</button></a>
                                                    </td>
                                                    <td style="border:none;" height="21px" align="center" class="button btnDefault" width="100">
                                                        <a th:href="@{/confirmAndSendMail(empId=${salaryForm.employee.empId})}"><button class="submitButton">Confirm</button></a>
                                                    </td>
                                                </table>
                                            </td>
                                        </tr>
                                </table>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
<footer th:insert="html/fragment/footer :: footer"></footer>
</body>
</html>