<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Peripherals</title>
    <script src="../static/js/custom.js" th:src="@{js/custom.js}" type="text/javascript"></script>
</head>
<body>
<header th:insert="html/fragment/header :: header"></header>
<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-2 sidenav">
        </div>
        <div class="col-sm-8 text-left">
            <div class="jumbotron">
                <div class="container">
                    <form action="/peripheral/sav" id="peripheralForm" method="post" name="peripheralForm"
                          th:action="@{/peripheral/save}" th:object="${peripheral}">
                        <div class="Heading">Workshop Details</div>
                        <div class="row">
                            <div class="col-md-6 col-sm-12 col-xs-10">
                                <table width="100%">
                                    <tr>
                                        <td>Peripheral&nbsp;Name<span style="color: #ff0000">*</span></td>
                                        <td width="15px"><b>:</b></td>
                                        <td style="padding: 5px"><input class="inputBoxStyle" th:field="*{peripheralName}" type="text"></td>
                                    </tr>
                                    <tr>
                                        <td>Type<span style="color: #ff0000">*</span></td>
                                        <td width="15px"><b>:</b></td>
                                        <td style="padding: 5px"><input class="inputBoxStyle" th:field="*{type}" type="text"></td>
                                    </tr>
                                    <tr>
                                        <td>Model<span style=" color:red">*</span></td>
                                        <td width="15px"><b>:</b></td>
                                        <td><input class="inputBoxStyle" th:field="*{model}" type="text"></td>
                                    </tr>
                                    <tr>
                                        <td>Year&nbsp;of&nbsp;Purchase<span style="color:red">*</span></td>
                                        <td width="15px"><b>:</b></td>
                                        <td>
                                            <input id="datepicker1" name="datepicker" style=" border: 1px solid #ff9900;"
                                                   th:field="*{yearOfPurchase}"
                                                   width="176px"/>
                                            <script>$('#datepicker1').datepicker({ uiLibrary: 'bootstrap' }); </script>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Employee&nbsp;Id</td>
                                        <td width="15px"><b>:</b></td>
                                        <td style="padding: 5px"><input class="inputBoxStyle" th:field="*{users}" type="text"></td>

                                    </tr>
                                </table>
                            </div>
                            <div class="col-md-6 col-sm-12 col-xs-10">
                                <table width="100%">
                                    <tr>
                                        <td>Brand<span style="color:red">*</span></td>
                                        <td width="15px"><b>:</b></td>
                                        <td style="padding: 5px"><input class="inputBoxStyle" th:field="*{brand}" type="text"></td>
                                    </tr>
                                    <tr>
                                        <td>Serial&nbsp;Number<span style="color:red">*</span></td>
                                        <td width="15px"><b>:</b></td>
                                        <td><input class="inputBoxStyle" th:field="*{serialNumber}" type="text"></td>
                                    </tr>
                                    <tr>
                                        <td>Warranty&nbsp;Date<span style="color:red">*</span></td>
                                        <td width="15px"><b>:</b></td>
                                        <td>
                                            <input id="datepicker" name="datepicker"
                                                   style=" float:left; border: 1px solid #ff9900;"
                                                   th:field="*{warrantyDate}" width="176px"/>
                                            <script>$('#datepicker').datepicker({ uiLibrary: 'bootstrap' });</script>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Status<span style="color:red">*</span></td>
                                        <td width="15px"><b>:</b></td>
                                        <td style="padding: 5px"><input class="inputBoxStyle" th:field="*{status}" type="text"></td>
                                    </tr>
                                </table>
                            </div>
                            <div style="margin-top:50px;">
                                <div style="float: left;">
                                    <button type="button" class="submitButton"
                                            onclick="savePeripheral()"><b>Submit</b></button>
                                </div>
                                <div style="float: left;margin-left: 40px;">
                                    <button class="submitButton" onclick="searchPeripheral()"
                                            type="button"><b>Search</b></button>
                                </div>
                                <div style="float: left;margin-left: 40px;">

                                    <button class="submitButton" onclick="document.peripheralForm.reset()"
                                            type="button"><b>Reset</b></button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="Heading">Search Result</div>
                        </div>
                        <div id="peripheralResult"></div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
<footer th:insert="html/fragment/footer :: footer"></footer>
</body>

</html>