<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Peripherals</title>
    <script src="../static/js/custom.js" th:src="@{js/custom.js}" type="text/javascript"></script>
</head>
<body>
<header th:insert="html/fragment/header :: header"></header>
<div class="form-page">
    <div class="container">
        <form action="/peripheral/sav" id="peripheralForm" method="post" name="peripheralForm"
              th:action="@{/peripheral/save}" th:object="${peripheral}">
            <div class="Heading">Workshop Details</div>
            <div class="row">
                <span style="color: #008000;margin-left: 40%;font: 12pt arial;padding-top: 30px"
                      th:if="${success}!=null" th:text="${success}"></span>

                <div class="col-md-6 col-sm-12 col-xs-10">
                    <div>
                        <table width="100%">
                            <tr>
                                <td>Peripheral Name <span style="color: #ff0000">*</span></td>
                                <td width="15px">:</td>
                                <td style="padding: 5px"><input class="inputBoxStyle" maxlength="50"
                                                                th:field="*{peripheralName}" type="text"></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td><span style="color:#ff0000;" th:errors="*{peripheralName}"
                                          th:if="${#fields.hasErrors('peripheralName')}">peripheralName Error</span>
                                </td>
                            </tr>
                            <tr>
                                <td>Type <span style="color: #ff0000">*</span></td>
                                <td width="15px">:</td>
                                <td style="padding: 5px"><input class="inputBoxStyle" maxlength="25" th:field="*{type}"
                                                                type="text"></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td><span style="color:#ff0000;" th:errors="*{type}"
                                          th:if="${#fields.hasErrors('type')}">type Error</span></td>
                            </tr>
                            <tr>
                                <td>Model <span style="color: #ff0000">*</span></td>
                                <td width="15px">:</td>
                                <td style="padding: 5px"><input class="inputBoxStyle" maxlength="25" th:field="*{model}"
                                                                type="text"></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td><span style="color:#ff0000;" th:errors="*{model}"
                                          th:if="${#fields.hasErrors('model')}">model Error</span></td>
                            </tr>
                            <tr>
                                <td>Year of Purchase<span style="color: #ff0000">*</span></td>
                                <td width="15px">:</td>
                                <td style="padding: 5px"><input id="datepicker1" name="datepicker"
                                                                style=" border: 1px solid #ff9900;"
                                                                th:field="*{yearOfPurchase}" type="text" width="200px"/>
                                    <script>$('#datepicker1').datepicker({ uiLibrary: 'bootstrap' });</script>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td><span style="color:#ff0000;" th:errors="*{yearOfPurchase}"
                                          th:if="${#fields.hasErrors('yearOfPurchase')}">yearOfPurchase Error</span>
                                </td>
                            </tr>
                            <tr>
                                <td>Employee Id</td>
                                <td width="15px">:</td>
                                <td style="padding: 5px"><input class="inputBoxStyle" maxlength="50" th:field="*{users}"
                                                                type="text"></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td><span style="color:#ff0000;" th:errors="*{users}"
                                          th:if="${#fields.hasErrors('users')}">users Error</span></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-10">
                    <div>
                        <table width="100%">
                            <tr>
                                <td>Brand <span style="color: #ff0000">*</span></td>
                                <td width="15px">:</td>
                                <td style="padding: 5px"><input class="inputBoxStyle" maxlength="25" th:field="*{brand}"
                                                                type="text">
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td><span style="color:#ff0000;" th:errors="*{brand}"
                                          th:if="${#fields.hasErrors('brand')}">brand Error</span></td>
                            </tr>
                            <tr>
                                <td>Serial Number <span style="color: #ff0000">*</span></font></td>
                                <td width="15px">:</td>
                                <td style="padding: 5px"><input class="inputBoxStyle" maxlength="50"
                                                                th:field="*{serialNumber}" type="text"></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td><span style="color:#ff0000;" th:errors="*{serialNumber}"
                                          th:if="${#fields.hasErrors('serialNumber')}">serialNumber Error</span></td>
                            </tr>
                            <tr>
                                <td>Warranty Date <span style="color: #ff0000">*</span></font></td>
                                <td width="15px">:</td>
                                <td style="padding: 5px"><input id="datepicker" name="datepicker"
                                                                style=" float:left; border: 1px solid #ff9900;"
                                                                th:field="*{warrantyDate}" type="text" width="200px"/>
                                    <script>$('#datepicker').datepicker({ uiLibrary: 'bootstrap' });</script>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td><span style="color:#ff0000;" th:errors="*{warrantyDate}"
                                          th:if="${#fields.hasErrors('warrantyDate')}">warrantyDate Error</span></td>
                            </tr>
                            <tr>
                                <td>Status <span style="color: #ff0000">*</span></font></td>
                                <td width="15px">:</td>
                                <td style="padding: 5px"><input class="inputBoxStyle" maxlength="50"
                                                                th:field="*{status}" type="text"></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td><span style="color:#ff0000;" th:errors="*{status}"
                                          th:if="${#fields.hasErrors('status')}">status Error</span></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5 col-sm-5 col-lg-offset-5">
                    <div style="float: right">
							<span>
                                <button class="submitButton" type="submit"
                                ><b>Submit</b></button>
							</span>
                        <span>
                            <button class="submitButton" onclick="searchPeripheral()"
                                    type="button"><b>Search</b></button>
							</span>
                        <span>
                            <button class="submitButton" onclick="document.peripheralForm.reset()" type="button"><b>Reset</b></button>
							</span>
                    </div>

                </div>
            </div>
            <div class="Heading">Search Result</div>
            <div class="row">
                <div class="col-lg-10 col-sm-6">
                    <div class="tableScrollbar" id="peripheralResult"></div>
                </div>

            </div>
    </div>

    </form>
</div>
<footer th:insert="html/fragment/footer :: footer"></footer>
</body>

</html>