<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Indianeagle</title>
</head>
<body>
<header th:insert="html/fragment/header :: header"></header>
<div class="form-page">
    <p class="Heading" style="padding-left:5px"> PF Form</p>
    <div style="padding-left:5px">
        <div style="float:left;margin-top:10px;margin-left:10px">DATE</div>
        <div style="margin-top:10px;color:red;float:left;">*</div>
        <div style="margin-left:25px;;float:left;font-size:25px">:</div>
        <div style="margin-left:20px; width:300px;float:left;">

            <input style=" float:left; border: 1px solid #ff9900;" id="datepicker" width="200px"
                   name="datepicker"/>
            <script>
								$('#datepicker').datepicker({ uiLibrary: 'bootstrap' });














            </script>
        </div>
        <button type="button" class="submitButton"
                onclick="salClickBut()"><b>Generate PF</b></button>
    </div>
</div>
<footer th:insert="html/fragment/footer :: footer"></footer>
</body>
</html>