<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Indianeagle</title>
</head>
<body>
<header th:insert="html/fragment/header :: header"></header>
<div class="welcome-1">
    <div class="welcome-2">
        <div align="center" class="welcome-3">
            <p> PT Form</p>
            <div>
                <div style="float:left;margin-top:10px;margin-left:10px">DATE</div>
                <div style="margin-top:10px;color:red;float:left;">*</div>
                <div style="margin-left:25px;float:left;font-size:25px">:</div>
                <div style="margin-left:20px; width:300px;float:left;">

                    <input style=" float:left; border: 1px solid #ff9900;" id="datepicker" width="200px"
                           name="datepicker"/>
                    <script>
								$('#datepicker').datepicker({ uiLibrary: 'bootstrap' });
                    </script>
                </div>
                <span><button type="button" class="Generate_button"
                              onclick="salClickBut()"><b>Generate PT</b></button></span>
            </div>
        </div>
    </div>
</div>
<footer th:insert="html/fragment/footer :: footer"></footer>
</body>
</html>