
<div xmlns:th="http://www.thymeleaf.org">
<div id="retrieveSalaryInfo">
    <div id="employeeDetails" class="row">
        <div class="col-md-12 col-sm-12 col-xs-10">
            <table width="100%">
                <tr th:if="${employee}!=null">
                    <td style="padding:10px"><input name="" id="fullname" placeholder="Full Name" type="" th:value="${employee.fullName}"></td>
                    <td><input name="" placeholder="Designation" type="" th:value="${employee.designation}"></td>
                    <td style="padding:10px"><input name="" placeholder="PAN Card No" type=""  th:value="${employee.panNo}"></td>
                    <td><input name="" placeholder="ADDRESS" type=""  th:value="${employee.perAddress}"></td>
                    <td>
                        <button class="submitButton">Edit</button>
                    </td>
                    <td style="padding:20px">
                    </td>
                </tr>
                <tr th:if="${employee}==null">
                    <td style="padding:10px"><input name="" id="fullname1" placeholder="Full Name" type="" ></td>
                    <td><input name="" placeholder="Designation" type=""></td>
                    <td style="padding:10px"><input name="" placeholder="PAN Card No" type=""  ></td>
                    <td><input name="" placeholder="ADDRESS" type=""  ></td>
                    <td>
                        <button class="submitButton">Edit</button>
                    </td>
                    <td style="padding:20px">
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <span th:text="${financialerror}">Financial Error</span>
    <div th:if="${salaryHistories }!= null">

        <div id="salaryHistoryTable" style="overflow-x:auto;">
            <table id="salaryHist" width="98%" align="center" cellpadding="0" cellspacing="0" border="1px solid black">

                <thead>
                <tr>
                    <td><strong>MONTH</strong></td>
                    <td><strong>BASIC</strong></td>
                    <td><strong>HRA</strong></td>
                    <td><strong>CON</strong></td>
                    <td><strong>MED</strong></td>
                    <td><strong>SPL</strong></td>
                    <td><strong>GRA</strong></td>
                    <td><strong>BONUS</strong></td>
                    <td><strong>PER</strong></td>
                    <td><strong>N.A</strong></td>
                    <td><strong>T.A</strong></td>
                    <td><strong>GROSS SALARY</strong></td>
                    <td><strong>PF</strong></td>
                    <td><strong>ESI</strong></td>
                    <td><strong>PT</strong></td>
                    <td><strong>MED.INS</strong></td>
                    <td><strong>SAL.ADV</strong></td>
                    <td><strong>TDS</strong></td>
                    <td><strong>TOT.D</strong></td>
                    <td><strong>NET SALARY</strong></td>
                </tr>
                </thead>

                <tbody>

                <tr th:each="salaryHistory :${salaryHistories}">
                    <!--  change this to date format-->
                    <td th:text="${#dates.monthName(salaryHistory.salaryDate)}" ></td>
                    <td th:text="${salaryHistory.basic}"></td>
                    <td th:text="${salaryHistory.hra}"></td>
                    <td th:text="${salaryHistory.conveyence}"></td>
                    <td th:text="${salaryHistory.medicalAllowance}"></td>
                    <td th:text="${salaryHistory.specialAllowance}"></td>
                    <td th:text="${salaryHistory.telephoneAllowance}"></td>
                    <td th:text="${salaryHistory.bonus}"></td>
                    <td th:text="${salaryHistory.performanceLinkedPay}"></td>
                    <td th:text="${salaryHistory.internetAllowance}"></td>
                    <td th:text="${salaryHistory.uniformAllowance}"></td>
                    <td th:text="${salaryHistory.grossSalary}"></td>
                    <td th:text="${salaryHistory.pfEmp}"></td>
                    <td th:text="${salaryHistory.esi}"></td>
                    <td th:text="${salaryHistory.PTax}"></td>
                    <td th:text="${salaryHistory.medicalInsurance}"></td>
                    <td th:text="${salaryHistory.salaryInAdvance}"></td>
                    <td th:text="${salaryHistory.incomeTax}"></td>
                    <td th:text="${salaryHistory.totalDeductions}"></td>
                    <td th:text="${salaryHistory.netSalary}"></td>

                </tr>


                <tr th:each="months:${remainedMonths}"  >

                    <td  th:text="${T(com.indianeagle.internal.util.Form16Utils).nextMonth(lastSalary.salaryDate, months)}"></td>
                    <td th:text="${lastSalary.actlBasic}"></td>
                    <td th:text ="${lastSalary.actlHra}"></td>
                    <td th:text ="${lastSalary.actlConveyence}"></td>
                    <td th:text ="${lastSalary.actlMedicalAllowance}"></td>
                    <td th:text ="${lastSalary.actlSpecialAllowance}"></td>
                    <td th:text ="${lastSalary.telephoneAllowance}"></td>
                    <td th:text ="${lastSalary.bonus}"></td>
                    <td th:text ="${lastSalary.performanceLinkedPay}"></td>
                    <td th:text ="${lastSalary.internetAllowance}"></td>
                    <td th:text ="${lastSalary.uniformAllowance}"></td>
                    <td th:text ="${lastSalary.actlGross}"></td>
                    <td th:text ="${lastSalary.pfEmp}"></td>
                    <td th:text ="${lastSalary.esi}"></td>
                    <td th:text ="${lastSalary.PTax}"></td>
                    <td th:text="${lastSalary.medicalInsurance}"></td>
                    <td th:text ="${lastSalary.salaryInAdvance}"></td>
                    <td th:text ="${lastSalary.incomeTax}"></td>
                    <td th:text ="${lastSalary.totalDeductions}"></td>
                    <td th:text ="${lastSalary.netSalary}">/td>
                </tr>

                <tr th:if="${totalSalaryHistoryForm}!=null">

                    <td><strong>TOTAL</strong></td>
                    <td th:text="${totalSalaryHistoryForm.totalBasic}"></td>
                    <td th:text="${totalSalaryHistoryForm.totalHRA}"></td>
                    <td th:text="${totalSalaryHistoryForm.totalConveyence}"></td>
                    <td th:text="${totalSalaryHistoryForm.totalMedicalAllowance}"></td>
                    <td th:text="${totalSalaryHistoryForm.totalSpecialAllowance}"></td>
                    <td th:text="${totalSalaryHistoryForm.totalTelephoneAllowance}"></td>
                    <td th:text="${totalSalaryHistoryForm.totalBonus}"></td>
                    <td th:text="${totalSalaryHistoryForm.totalPerformanceLinkedPay}"></td>
                    <td th:text="${totalSalaryHistoryForm.totalInternetAllowance}"></td>
                    <td th:text="${totalSalaryHistoryForm.totalUniformAllowance}"></td>
                    <td th:text="${totalSalaryHistoryForm.totalGrossSalary}"></td>
                    <td th:text="${totalSalaryHistoryForm.totalPfEmp}"></td>
                    <td th:text="${totalSalaryHistoryForm.totalEsi}"></td>
                    <td th:text="${totalSalaryHistoryForm.totalPtax}"></td>
                    <td th:text="${totalSalaryHistoryForm.totalMedicalInsurance}"></td>
                    <td th:text="${totalSalaryHistoryForm.totalSalaryInAdvance}"></td>
                    <td th:text="${totalSalaryHistoryForm.totalTdsDeducted}"></td>
                    <td th:text="${totalSalaryHistoryForm.totalDeductions}"></td>
                    <td th:text="${totalSalaryHistoryForm.totalNetSalary}"></td>

                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="Heading">Income</div>
    <div class="row">
        <div class="col-md-8 col-sm-12 col-xs-10">
            <table width="100%" id="incomeTable" align="center">



                <tr>
                    <td>GROSS&nbsp;SALARY</td>
                    <td width="10px"><b>:</b></td>
                    <td style="padding:5px"><input name="grossSalary"  readonly="true" style="background-color:orange" th:value="${grossSalary}!=null?${grossSalary}:''"></td>
                </tr>
                <tr>
                    <td>Incentives</td>
                    <td width="10px"><b>:</b></td>
                    <td style="padding:5px"><input name="form16GenerationForm.incentives" th:value="${form16GenerationForm}!=null?${form16GenerationForm.incentives}:''" ></td>
                </tr>
                <tr>
                    <td>PLB</td>
                    <td width="10px"><b>:</b></td>
                    <td style="padding:5px"><input name="form16GenerationForm.plb" th:value="${form16GenerationForm}!=null?${form16GenerationForm.plb}:''" ></td>
                </tr>
                <tr>
                    <td>Reimbursement</td>
                    <td width="10px"><b>:</b></td>
                    <td style="padding:5px"><input name="form16GenerationForm.reimbursement"  th:value="${form16GenerationForm}!=null?${form16GenerationForm.reimbursement}:''" ></td>
                </tr>
                <tr>
                    <td>Bonus</td>
                    <td width="10px"><b>:</b></td>
                    <td style="padding:5px"><input name="form16GenerationForm.bonus"  th:value="${form16GenerationForm}!=null?${form16GenerationForm.bonus}:''" ></td>
                </tr>
                <tr>
                    <td>Others</td>
                    <td width="10px"><b>:</b></td>
                    <td style="padding:5px"><input name="form16GenerationForm.others"  th:value="${form16GenerationForm}!=null?${form16GenerationForm.others}:''" ></td>
                </tr>
                <tr>
                    <td>Previous&nbsp;Company&nbsp;Income</td>
                    <td width="10px"><b>:</b></td>
                    <td style="padding:5px"><input name="form16GenerationForm.previousCompanyIncome" th:value="${form16GenerationForm}!=null?${form16GenerationForm.previousCompanyIncome}:''"></td>
                </tr>
                <tr>
                    <td>Income&nbsp;Earned&nbsp;by&nbsp;Employee</td>
                    <td width="10px"><b>:</b></td>
                    <td style="padding:5px"><input id="earnedIncome" name="incomeEarnedByEmployee" type="text"  th:value="${grossSalary}!=null?${grossSalary}:''" th:field="${employeeFinancialYearForm.grossSalary}" readonly="true" style="background-color:orange">
                        <button class="submitButton" onClick="saveIncome()" type="button">Save</button>
                        <button class="submitButton" onclick="editIncome()" type="button">Edit</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>



    <div class="Heading">HRA Calculation</div>
    <div class="row">
        <div class="col-md-8 col-sm-12 col-xs-10">
            <table width="100%">
                <tr>
                    <td>Actual&nbsp;HRA&nbsp;PER&nbsp;ANNUM</td>
                    <td><b>:</b></td>
                    <td style="padding:5px"><input th:value="${form16GenerationForm}!=null?${form16GenerationForm.totalActualHRA}:''"  readonly="true"></td>
                </tr>
                <tr>
                    <td>40%&nbsp;of&nbsp;Salary&nbsp;(basic)</td>
                    <td><b>:</b></td>
                    <td style="padding:5px"><input th:value="${form16GenerationForm}!=null?${form16GenerationForm.basic40per}:''"  readonly="true"></td>
                </tr>
                <tr>
                    <td>Employee&nbsp;given&nbsp;-&nbsp;10%&nbsp;of&nbsp;Basic</td>
                    <td><b>:</b></td>
                    <td style="padding:5px"> <input th:value="${form16GenerationForm}!=null?${form16GenerationForm.hraWithBasic10per}:''" readonly="true"></td>

                </tr>
                <tr>
                    <td>HRA Exempted</td>
                    <td><b>:</b></td>
                    <td style="padding:5px"><input th:value="${form16GenerationForm}!=null?${form16GenerationForm.hra}:''" readonly="true">
                </tr>

            </table>
        </div>
    </div>
    <div class="Heading">Sections</div>


</div>
</div>