<!Doctype html>
<html lang="en">

<head>
    <title>Salary By Individual</title>
    <style type="text/css">
        .input-style {
			width: 200px;
			height: 20px;

		}



    </style>

</head>

<body>
<header th:insert="html/fragment/header :: header"></header>
<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-2 sidenav">
        </div>
        <div class="col-sm-8 text-left">
            <div class="jumbotron">
                <div class="container">
                    <form action="/">
                        <div class="Heading">Generate salary for Employee</div>
                        <div class="row">
                            <div class="col-md-6 col-sm-12 col-xs-10">
                                <table class="table-condensed">
                                    <tr>
                                        <td>
                                            Employee ID<span style="color: red">*</span>
                                        </td>
                                        <td>
                                            <b>:</b>
                                        </td>
                                        <td>
                                            <select class="input-style" name="id">
                                                <option>--Select--</option>
                                                <option value="IEPL076">IEPL076</option>
                                                <option value="IEPL077">IEPL077</option>
                                            </select>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-md-6 col-sm-12 col-xs-10">
                                <div>
                                    <table>
                                        <tr>
                                            <td>
                                                From <span style="color: red">*</span>
                                            </td>
                                            <td width="20px">
                                                <b>:</b>
                                            </td>
                                            <td>
                                                <input id="from" width="150px" name="from">
                                            </td>
                                            <script>$('#from').datepicker({ uiLibrary: 'bootstrap' });</script>

                                            <td>
                                                To <span style="color: red">*</span>
                                            </td>
                                            <td width="20px">
                                                <b>:</b>
                                            </td>
                                            <td>
                                                <input id="to" width="150px" name="to">
                                            </td>
                                            <script>$('#to').datepicker({ uiLibrary: 'bootstrap' });</script>
                                        </tr>
                                    </table>
                                </div>
                            </div>

                        </div>
                        <div class="Heading">Attendance Details</div>
                        <div class="row">
                            <div class="col-md-6 col-sm-12 col-xs-10">
                                <table class="table-condensed ">
                                    <tr>
                                        <td>LOP Days</td>
                                        <td><b>:</b></td>
                                        <td>
                                            <input class="input-style" id="Lop Days" name="Lop Days"
                                                   style="width: 200px;height: 23px;" type="text">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>PER Incentives</td>
                                        <td><b>:</b></td>
                                        <td>
                                            <input class="input-style" id="ARR Days" name="ARR Days"
                                                   style="width: 200px;height: 23px;" type="text">
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-md-6 col-sm-12 col-xs-10">
                                <table class="table-condensed ">
                                    <tr>
                                        <td>ARR Days</td>
                                        <td><b>:</b></td>
                                        <td>
                                            <input class="input-style" id="PER Incentives" name="PER Incentives"
                                                   style="width: 200px;height: 23px;"
                                                   type="text"></td>
                                        <td></td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                        <div class="Heading">Deductions Details</div>
                        <div class="row">
                            <div class="col-md-6 col-sm-12 col-xs-10">
                                <table class="table-condensed ">
                                    <tr>
                                        <td>Salary In Advance</td>
                                        <td><b>:</b></td>
                                        <td>
                                            <input class="input-style" id="Salary In Advance" name="Salary In Advance"
                                                   type="text">
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-md-6 col-sm-12 col-xs-10">
                                <div>
                                    <table class="table-condensed ">
                                        <tr>
                                            <td> Misc Deductions</td>
                                            <td><b>:</b></td>
                                            <td>
                                                <input class="input-style" id="Misc Deductions" name="Misc Deductions"
                                                       type="text">
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div style="float: right">
                                    <button class="submitButton" onclick="javascript:form.submit" type="button">Generate
                                        Salary
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:insert="html/fragment/footer :: footer"></footer>
</body>

</html>