<!Doctype html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Salary By Individual</title>
    <script src="../static/js/custom.js" th:src="@{js/custom.js}" type="text/javascript"></script>
</head>

<body>
<header th:insert="html/fragment/header :: header"></header>
<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-2 sidenav">
        </div>
        <div class="col-sm-8 text-left">
            <div class="jumbotron">
                <div class="container">
                    <form action="/netSalary">
                        <div class="Heading">Generate salary for Employee</div>
                        <div class="row">
                            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                                <table class="table-condensed">
                                    <tr>
                                        <td>
                                            Employee&nbsp;ID<span style="color: red">*</span>
                                        </td>
                                        <td>
                                            <b>:</b>
                                        </td>
                                        <td>
                                            <select class="selectOption" name="id">
                                                <option>--Select--</option>
                                                <option value="IEPL076">IEPL076</option>
                                                <option value="IEPL077">IEPL077</option>
                                            </select>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <div>
                                    <table>
                                        <tr>
                                            <td>
                                                From <span style="color: red">*</span>
                                            </td>
                                            <td>
                                                <b>:</b>
                                            </td>
                                            <td>
                                                <input style=" float:left; border: 1px solid #ff9900;" id="datepicker"
                                                       width="170px"
                                                       name="datepicker"/>
                                                <script>$('#datepicker').datepicker({ uiLibrary: 'bootstrap' }); </script></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                <div>
                                    <table>
                                        <tr>
                                            <td width="20px">To<span style="color: red">*</span>
                                            </td>
                                            <td width="20px">
                                                <b>:</b>
                                            </td>
                                            <td width="20px">
                                                <input style=" float:left; border: 1px solid #ff9900;" id="datepicker1"
                                                       width="170px"
                                                       name="datepicker"/>
                                                <script>$('#datepicker1').datepicker({ uiLibrary: 'bootstrap' }); </script></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>


                        </div>
                        <div class="Heading">Attendance Details</div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-10">
                                <table class="table-condensed ">
                                    <tr>
                                        <td>LOP&nbsp;Days</td>
                                        <td><b>:</b></td>
                                        <td>
                                            <input class="input-style" id="Lop Days" name="Lop Days"
                                                   style="width: 250px;height: 23px;" type="text">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>PER&nbsp;Incentives</td>
                                        <td><b>:</b></td>
                                        <td>
                                            <input class="input-style" id="ARR Days" name="ARR Days"
                                                   style="width: 250px;height: 23px;" type="text">
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-10">
                                <table class="table-condensed ">
                                    <tr>
                                        <td>ARR&nbsp;Days</td>
                                        <td><b>:</b></td>
                                        <td>
                                            <input class="input-style" id="PER Incentives" name="PER Incentives"
                                                   style="width: 250px;height: 23px;"
                                                   type="text"></td>
                                        <td></td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                        <div class="Heading">Deductions&nbsp;Details</div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-10">
                                <table class="table-condensed ">
                                    <tr>
                                        <td>Salary&nbsp;In&nbsp;Advance</td>
                                        <td><b>:</b></td>
                                        <td>
                                            <input class="input-style" id="Salary In Advance" name="Salary In Advance"
                                                   type="text" style="width: 240px;height: 23px;">
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-10">
                                <div>
                                    <table class="table-condensed ">
                                        <tr>
                                            <td> Misc&nbsp;Deductions</td>
                                            <td><b>:</b></td>
                                            <td>
                                                <input class="input-style" id="Misc Deductions" name="Misc Deductions"
                                                       type="text" style="width: 240px;height: 23px;">
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div style="float: right">
                                    <button class="submitButton" onclick="javascript:form.submit" type="button"><b>Generate
                                        Salary</b>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:insert="html/fragment/footer :: footer"></footer>
</body>

</html>