<!Doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Salary By Individual</title>
</head>
<body>
<header th:insert="html/fragment/header :: header"></header>
<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-2 sidenav">
        </div>
        <div class="col-sm-8 text-left">
            <div class="jumbotron">
                <div class="container">
                    <form action="/generateSalary" method="post" id="SalaryForm" name="salaryForm"
                          th:action="@{/generateSalary}" th:object="${salaryForm}">
                        <div class="Heading">Generate salary for Employee</div>
                        <span style="color: #008000;" th:if="${mailSent}!=null" th:text="${mailSent}"></span>
                        <span style="color:#ff0000;" th:if="${error}!=null" th:text="${error}"></span>
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-10">
                                <table width="100%" class="table-condensed">
                                    <tr>
                                        <td>
                                            Employee&nbsp;ID<span style="color: red">*</span>
                                        </td>
                                        <td><b>:</b></td>
                                        <td>
                                            <select class="selectOption" name="id" th:field="*{employeeId}">
                                                <option th:each="employee : *{employeeList}" th:value="${employee.empId}">[[${employee.empId}]]</option>
                                            </select>
                                        </td>
                                        <td>From <span style="color: red">*</span></td>
                                        <td width="20px"><b>:</b></td>
                                        <td>
                                            <input id="fromDate" width="150px" name="fromDate" th:field="*{salaryRule.salaryDate}" style="border: 1px solid #ff9900" >
                                            <script>$('#fromDate').datepicker({ uiLibrary: 'bootstrap' });</script>
                                        </td>
                                        <td>To <span style="color: red">*</span></td>
                                        <td width="20px"><b>:</b></td>
                                        <td>
                                            <input id="toDate" width="150px" name="toDate" th:field="*{salaryRule.salaryEndDate}" style="border: 1px solid #ff9900">
                                            <script>$('#toDate').datepicker({ uiLibrary: 'bootstrap' });</script>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>
                                            <span id="fromDateError"></span>
                                        </td>
                                        <td></td>
                                        <td></td>
                                        <td>
                                            <span id="toDateError"></span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="Heading">Attendance Details</div>
                        <div class="row">
                            <div class="col-md-6 col-sm-12 col-xs-10">
                                <table class="table-condensed ">
                                    <tr>
                                        <td>LOP Days</td>
                                        <td><b>:</b></td>
                                        <td>
                                            <input class="input-style" id="lopDays" name="Lop Days" style="width: 200px;height: 23px;" type="text" th:field="*{salaryRule.lopDays}" onkeypress="return allowOnlyMonthlyDigits(event,'lopDays')" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>PER Incentives</td>
                                        <td><b>:</b></td>
                                        <td>
                                            <input class="input-style" id="ARR Days" name="ARR Days" style="width: 200px;height: 23px;" type="text" th:field="*{salaryRule.performanceIncentives}" onkeypress="return allowRealNo(event,this.value)" />
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-md-6 col-sm-12 col-xs-10">
                                <table class="table-condensed ">
                                    <tr>
                                        <td>ARR Days</td>
                                        <td><b>:</b></td>
                                        <td>
                                            <input class="input-style" id="arrdays" name="PER Incentives" style="width: 200px;height: 23px;" type="text" th:field="*{salaryRule.arrearsDays}" onkeypress="return allowOnlyMonthlyDigits(event,'arrdays')" />
                                        <td></td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                        <div class="Heading">Deductions Details</div>
                        <div class="row">
                            <div class="col-md-6 col-sm-12 col-xs-10">
                                <table class="table-condensed ">
                                    <tr>
                                        <td>Salary In Advance</td>
                                        <td><b>:</b></td>
                                        <td>
                                            <input class="input-style" id="Salary In Advance" name="Salary In Advance" type="text" th:field="*{salaryRule.salaryInAdvance}" onkeypress="return allowRealNo(event,this.value)" />
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-md-6 col-sm-12 col-xs-10">
                                <div>
                                    <table class="table-condensed ">
                                        <tr>
                                            <td> Misc Deductions</td>
                                            <td><b>:</b></td>
                                            <td>
                                                <input class="input-style" id="Misc Deductions" name="Misc Deductions" type="text" th:field="*{salaryRule.miscDeductions}" onkeypress="return allowRealNo(event,this.value)" />
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div style="float: right">
                                    <button class="submitButton" onclick="submitGenerateSalaryForm()" type="button">Generate Salary</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:insert="html/fragment/footer :: footer"></footer>
</body>

</html>