<html>
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<head>
   <title>saved forms</title>
    <script>
		function getFormtData() {
			var ele1 = document.getElementById("empdata").elements[0].value;
			var ele2 = document.getElementById("empdata").elements[1].value;
			if (ele1 == "" && ele2 == "") {
				alert("value is required"); 
				document.getElementById("employeeid").focus();
				document.getElementById("errorMsg").innerHTML = "Id is required..!";
			} else {
				
				document.getElementById("errorMsg").innerHTML = "";

document.getElementById("fullname").setAttribute("value","DurgaMahadev parida");
				document.getElementById("designation").setAttribute("value","Software Devloper");
				document.getElementById("pancardno").setAttribute("value","13543313");
				document.getElementById("address").setAttribute("value","Odisha");

			}
		}


    </script>
</head>

<body>
<header th:insert="html/fragment/header :: header"></header>
<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-lg-2 sidenav">
        </div>
        <div class="col-lg-8 text-left">
            <div class="jumbotron">

                    <div class="Heading">Income Text Sections</div>

                    <div style="margin-top:20px;">
                        <span id="errorMsg" style="color: red;font-size: 15px;"></span>
                        <form action="#" id="empdata" method="POST">
                            <span>Employee ID </span>
                            <input id="employeeid" name="employeeid" style="margin-left: 20px;" type="text" value="">

                            <span>(or) Employee Name </span>
                            <input id="employeename" name="employeename" style="margin-left: 20px;" type="text"
                                   value="">
                            <span style="margin-left:50px;"><span class="submitButton" href="#"
                                                               onclick="getFormtData()"><b>Search</b></span></span>


                            <div class="Heading">Employee Details</div>


                            <div style="margin-top: 20px;">
							<span>
								<input id="fullname" name="fullname" placeholder="fullname" readonly
                                       style=""
                                       type="text" value="">
								<input id="designation" name="designation" placeholder="designation" readonly
                                       style="margin-left: 20px;" type="text" value="">
								<input id="pancardno" name="pancardno" placeholder="PAN CARD NO"
                                       style="margin-left: 10px;" type="text"
                                       value="">
								<input id="address" name="address" placeholder="ADDRESS" readonly
                                       style="margin-left: 10px;"
                                       type="text" value="">
							</span>
                            </div>
                            <div class="Heading">Form 16</div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:insert="html/fragment/footer :: footer"></footer>
</body>

</html>