<!doctype html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
    <title>Employee details</title>
</head>

<body>
<header th:insert="html/fragment/header :: header"></header>
<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-lg-2 sidenav">
        </div>
        <div class="col-lg-8 text-left">
            <div class="jumbotron">

                <div class="container">
                    <div class="Heading">Employee Details</div>
                    <div class="row">
                        <div class=" col-sm-12 col-md-6  ">
                            <div style="float:left">
                                <table width="100%" class="table_text_style table-sm">
                                    <tr>
                                        <td>First&nbsp;Name<span style="color:red">*</span></span><span
                                                style="float:right; margin-right:10px;"><b>:</b></span>
                                        </td>
                                        <td><input class="input_style" type="text" name="first_name" id="first_name"
                                                   value="">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Middle&nbsp;Name<span
                                                style="float:right; margin-right:10px;"><b>:</b></span>
                                        </td>
                                        <td><input class="input_style" type="text" name="middle_name" id="middle_name"
                                                   value="">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Permanent&nbsp;Address<span class="mandatory">*</span><span
                                                style="float:right; margin-right:10px;"><b>:</b></span>
                                        </td>
                                        <td><input class="input_style" type="text" name="permanent_address"
                                                   id="permanent_address" value="">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Mobile&nbsp;No<span style="color:red">*</span><span
                                                style="float:right; margin-right:10px;"><b>:</b></span>
                                        </td>
                                        <td><input class="input_style" type="text" name="mobile_no" id="mobile_no"
                                                   value="">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Material&nbsp;Status<span
                                                style="float:right; margin-right:10px;"><b>:</b></span>
                                        </td>
                                        <td><input type="radio" name="material_status"
                                                   value="Single">Single
                                            <input type="radio" name="material_status"
                                                   value="Married">Married
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Personal&nbsp;Email <span style="color:red">*</span><span
                                                style="float:right; margin-right:10px;"><b>:</b></span>
                                        </td>
                                        <td><input class="input_style" type="text" name="personal_email"
                                                   id="personal_email"
                                                   value="">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Official&nbsp;Email<span style="color:red">*</span><span
                                                style="float:right; margin-right:10px;"><b>:</b></span>
                                        </td>
                                        <td><input class="input_style" type="text" name="official_email"
                                                   id="official_email"
                                                   value="">
                                        </td>
                                    </tr>
                                </table>
                            </div>

                        </div>
                        <!-- </div>
                    <div class="row"> -->
                        <div class="col-md-6 col-sm-12  ">
                            <div style="float:left">
                                <table width="100%" class="table_text_style table-sm">
                                    <tr>
                                        <td>Last&nbsp;Name<span style="color:red">*</span><span
                                                style="float:right; margin-right:10px;"><b>:</b></span></td>
                                        <td>
                                            <input class="input_style" type="text">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Temporary&nbsp;Address<span style="float:right; margin-right:10px;"><b>:</b></span>
                                        </td>
                                        <td>
                                            <input class="input_style" type="text">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>DOB<span style="color:red">*</span><span
                                                style="float:right; margin-right:10px;"><b>:</b></span></td>
                                        <td>
                                            <input style=" float:left; border: 1px solid #ff9900;" id="datepicker"
                                                   width="176px"
                                                   name="datepicker"/>
                                            <script>$('#datepicker').datepicker({ uiLibrary: 'bootstrap' }); </script>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>PAN&nbsp;Number<span style="float:right; margin-right:10px;"><b>:</b></span>
                                        </td>
                                        <td>
                                            <input class="input_style" type="text">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Emergency&nbsp;Contact<span style="color:red">*</span><span
                                                style="float:right; margin-right:10px;"><b>:</b></span></td>
                                        <td>
                                            <input class="input_style" type="text">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Passport&nbsp;Number<span
                                                style="float:right; margin-right:10px;"><b>:</b></span>
                                        </td>
                                        <td>
                                            <input class="input_style" type="text">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Department<span style="color:red">*</span><span
                                                style="float:right; margin-right:10px;"><b>:</b></span></td>
                                        <td>
                                            <select class="selectOption" name="">
                                                <option value="">--select--</option>
                                                <option value="">IT</option>
                                                <option value="">CC-IE</option>
                                                <option value="">CC-TTS</option>
                                                <option value="">ADMIN</option>
                                                <option value="">Accounts</option>
                                                <option value="">HR</option>

                                            </select>
                                        </td>
                                    </tr>
                                </table>

                                <div style="float: right; margin-top:20px;margin-right:10px;">
                                    <button class="submitButton" id="btn ">Submit</button>
                                    <button class="submitButton" id="">Reset</button>
                                </div>

                            </div>
                        </div>
                        <!--col -->
                    </div>
                    <!--Row -->
                </div>
                <!--Container -->
            </div>
        </div>
    </div>
</div>
<footer th:insert="html/fragment/footer :: footer"></footer>
</body>

</html>