<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table {
                border-collapse: collapse;
                font-size:13px;
                padding:15px;
              }
    </style>
    <script>
        function printReport() {
                <!--document.getElementById("print").style.visibility = 'hidden';-->
                window.print();
            }
    </script>
</head>
<body>
<table align="center" border="2px solid black">
    <tr>
        <td align="center" colspan="6" style="font-size:120%">
            <b>YANA SOFTWARE PRIVATE LIMITED<br>HYDERABAD<br>FULL AND FINAL SETTLEMENT</b>
        </td>
    </tr>
    <tr>
        <td>
            <table align="center">
                <tr>
                    <td colspan="3"><b>From</b></td>
                    <td colspan="3" align="center"><b>To</b></td>
                </tr>
                <tr>
                    <td colspan="3"><b>HR Department</b></td>
                    <td colspan="3" align="right"><b>Accounts Department</b></td>
                </tr>
                <tr>
                    <td colspan="6" style="padding:12px">This is to inform you that <b>
                        <span th:text="${employeeSettlementForm.employeeName}"/>,
                        Code No: <span th:text="${employeeSettlementForm.employeeId}"/></b>, working as
                        <span th:text="${employeeSettlementForm.employeeDesignation}"/>,
                        <div th:if="${employeeSettlementForm.empStatus} == 'Terminated'">
                            has been terminated from the services with effect from
                            <b><span th:text="${#dates.format(employeeSettlementForm.settlementDate, 'dd-MMM-yyyy')}"/></b>.
                        </div>
                        <div th:unless="${employeeSettlementForm.empStatus}=='Terminated'">
                            has submitted resignation on <b>
                            <span th:text="${#dates.format(employeeSettlementForm.resignationDate, 'dd-MMM-yyyy')}"/></b>.
                            He is relieved from duties with effect from
                            <b><span th:text="${#dates.format(employeeSettlementForm.relievingDate, 'dd-MMM-yyyy')}"/></b>
                            after closing of working hours.
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="6" style="padding:10px">Salary as on <b>Last Working Day</b></td>
                </tr>
                <tr>
                    <td align="center">Basic</td>
                    <td><b>:</b></td>
                    <td><b><span th:text="${salary}?${salary.basic}:'nill'"/></b></td>
                    <td>Date of Joining</td>
                    <td><b>:</b></td>
                    <td><b><span th:text="${employee}?${#dates.format(employee.joinDate, 'dd-MMM-yyyy')}:'nill'"/></b></td>
                </tr>
                <tr>
                    <td align="center">HRA</td>
                    <td><b>:</b></td>
                    <td><b><span th:text="${salary}?${salary.hra}:'nill'"/></b></td>
                    <td>Date of
                        <span th:if="${employeeSettlementForm.empStatus} == 'Terminated'">Termination</span>
                        <span th:unless="${employeeSettlementForm.empStatus} == 'Terminated'">Resignation</span>
                    </td>
                    <td><b>:</b></td>
                    <td><b>
                        <span th:if="${employeeSettlementForm.empStatus} == 'Terminated'">
                             <span th:text="${#dates.format(employeeSettlementForm.settlementDate, 'dd-MMM-yyyy')}"/>
                        </span>
                        <span th:unless="${employeeSettlementForm.empStatus} == 'Terminated'">
                            <span th:text="${#dates.format(employeeSettlementForm.resignationDate, 'dd-MMM-yyyy')}"/>
                        </span></b>
                    </td>
                </tr>
                <tr>
                    <td align="center">Conv.</td>
                    <td><b>:</b></td>
                    <td><b><span th:text="${salary}?${salary.conveyence}:'nill'"/></b></td>
                    <td>Date&nbsp;of&nbsp;Relieving</td>
                    <td><b>:</b></td>
                    <td><b>
                          <span th:if="${employeeSettlementForm.empStatus} == 'Terminated'">
                              <span th:text="${#dates.format(employeeSettlementForm.settlementDate, 'dd-MMM-yyyy')}"/>
                          </span>
                          <span th:unless="${employeeSettlementForm.empStatus} == 'Terminated'">
                              <span th:text="${#dates.format(employeeSettlementForm.relievingDate, 'dd-MMM-yyyy')}"/>
                          </span>
                       </b>
                    </td>
                </tr>
                <tr>
                    <td align="center">Med.</td>
                    <td><b>:</b></td>
                    <td><b><span th:text="${salary}?${salary.medicalAllowance}:'nill'"/></b></td>
                    <td>Last&nbsp;working&nbsp;day</td>
                    <td><b>:</b></td>
                    <td><b><span th:text="${employeeSettlementForm}?${#dates.format(employeeSettlementForm.settlementDate, 'dd-MMM-yyyy')}:'nill'"/></b>
                    </td>
                </tr>
                <tr>
                    <td align="center">Spl.</td>
                    <td><b>:</b></td>
                    <td><b><span th:text="${salary}?${salary.specialAllowance}:'nill'"/></b></td>
                    <td>Cheque No</td>
                    <td><b>:</b></td>
                    <td></td>
                </tr>
                <tr>
                    <td align="center">Others</td>
                    <td><b>:</b></td>
                    <td><b><span th:text="${salary}?${salary.otherAllowance}:'nill'"/></b></td>
                </tr>
                <tr>
                    <td align="center" style="padding:10px">GROSS</td>
                    <td><b>:</b></td>
                    <td><b><span th:text="${salary}?${salary.getGrossSal()}:'nill'"/></b></td>
                </tr>
                <tr>
                    <td colspan="4">1.<b><span th:text="${employeeSettlement}?${employeeSettlement.totalDays}:'nill'"/></b>
                        days Salary payable for the month of
                        <b><span th:text="${employeeSettlementForm}?${#dates.format(employeeSettlementForm.settlementDate, 'dd-MMM-yyyy')}:'nill'"/></b>
                    </td>
                    <td><b>:</b></td>
                    <td colspan="1" style="padding:10px"><b>
                        <span th:text="${employeeSettlement}?${T(com.indianeagle.internal.util.SimpleUtils).calculateEmployeeSettlementPayableSalary(employeeSettlement.basic, employeeSettlement.hra, employeeSettlement.conveyence, employeeSettlement.medicalAllowance, employeeSettlement.specialAllowance, employeeSettlement.otherAllowance)}:'nill'"/></b>
                    </td>
                </tr>
                <tr>
                    <td>2. Other Earnings</td>
                    <td><b>:</b></td>
                    <td><b><span th:text="${employeeSettlement}?${employeeSettlement.previousArrears + employeeSettlement.otherEarnings}:'nill'"/></b></td>
                </tr>
                <tr>
                    <td>3. Gross Earnings</td>
                    <td><b>:</b></td>
                    <td><b><span th:text="${employeeSettlement}?${employeeSettlement.grossSalary}:'nill'"/></b></td>
                </tr>
                <tr>
                    <td colspan="6" style="padding:10px"><b>DEDUCTIONS:</b></td>
                </tr>
                <tr>
                    <td>4. PF on Salary</td>
                    <td><b>:</b></td>
                    <td><b><span th:text="${employeeSettlement}?${employeeSettlement.pfEmp}:'nill'"/></b></td>
                </tr>
                <tr>
                    <td>5. ESI</td>
                    <td><b>:</b></td>
                    <td><b><span th:text="${employeeSettlement}?${employeeSettlement.esi}:'nill'"/></b></td>
                </tr>
                <tr>
                    <td>6. Professional Tax</td>
                    <td><b>:</b></td>
                    <td><b><span th:text="${employeeSettlement}?${employeeSettlement.PTax}:'nill'"/></b></td>
                </tr>
                <tr>
                    <td>7. Due in the HR Department (ID Card)</td>
                    <td><b>:</b></td>
                    <td><b><span th:text="${employeeSettlement}?${employeeSettlement.adminCharges}:'nill'"/></b></td>
                </tr>
                <tr>
                    <td>8. Medical Insurance</td>
                    <td><b>:</b></td>
                    <td><b><span th:text="${employeeSettlement}?${employeeSettlement.medicalInsurance}:'nill'"/></b></td>
                </tr>
                <tr>
                    <td>9. Other Deductions</td>
                    <td><b>:</b></td>
                    <td><b><span th:text="${employeeSettlement}?${employeeSettlement.otherDeductions + employeeSettlement.incomeTax}:'nill'"/></b></td>
                </tr>
                <tr>
                    <td>10. Total Deductions</td>
                    <td><b>:</b></td>
                    <td><b><span th:text="${employeeSettlement}?${employeeSettlement.totalDeductions}:'nill'"/></b></td>
                </tr>
                <tr>
                    <td>11. Net Amount Payable</td>
                    <td><b>:</b></td>
                    <td><b><span th:text="${employeeSettlement}?${employeeSettlement.netSalary}:'nill'"/></b></td>
                </tr>
                <tr>
                    <td colspan="6" style="padding:10px;font-size:15px"><b>(<span th:text="${employeeSettlement}?${T(com.indianeagle.internal.util.SimpleUtils).numberToWord(employeeSettlement.netSalary.intValue())}:'nill'"/>
                        Only)</b></td>
                </tr>
                <tr>
                    <td colspan="6">You are advised to relieve the above said amount to settle his full & final
                        settlement.
                    </td>
                </tr>
                <tr>
                    <td colspan="6" align="left">This is computer Generated Settlement.</td>
                </tr>
                <tr>
                    <td colspan="6" align="center" style="padding:8px">
                        <a id="print" th:href="@{javascript:void(0)}" onclick="printReport();" style="color:blue">Print</a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>
</html>